{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %} Collection center  {% endblock %}
{% block css %}  
    <style>
        .p-user-image{
            height: 40px;
            border-radius: 30px;
        }
    </style>
{% endblock %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">

                <div class="col-lg-12">
                    <div class="white-box">
                        <form role="form"  method = "GET" action="">

                            <div class="row">
                              
                                <div class="col-lg-8">
                                    <input type="text" name="name" class="form-control"  value="{{ request.GET.name }}"  placeholder="Name">
                                </div>
                               
                                <div class="col-lg-2 col-md-6 mt-4---">
                                    <button type="submit" class="btn btn-success rounded-pill btn-block pl-4 pr-4"> <i
                                            class="fas fa-search mr-2"></i> Search</button>
                                </div>
                                <div class="col-lg-2 col-md-6 mt-4---">
                                    <a href="{% url 'collection_center:collection_center_list' %}" class="btn btn-success rounded-pill btn-block pl-4 pr-4 text-white"> <i
                                            class="fas fa-eye mr-2 text-white" ></i> Show All</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="row mb-3 ml-1 mr-1 mt-5">
                <div class="col-sm-6">
                    <h6 class="font-weight-bold mt-3 text-muted"> Collection center List</h6>
                </div>
                <div class="col-sm-6 text-right modalright">
                    <a type="button" href="{% url 'collection_center:collection_center_create' %}" class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-plus mr-2" aria-hidden="true"></i>Add New 
                    </a>
                </div>
            </div>

            <div class="row ml-2 mr-2">

                <div class="col-lg-12">

                    <div class="card report-page">

                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sr. No</th>
                                            
                                            <th>Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% if collection_center_list %}
                                            {% for item in collection_center_list %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                               
                                                <td class="text-capitalize">{{ item.name }}</td>
                                                <td class="project-actions ">   
                                                    
                                                    <a class=" mr-3" href="{% url 'collection_center:collection_center_details' collection_center_pk=item.pk %}"><i class="fa fa-eye"></i></a>

                                                    <a class=" mr-3" href="{% url 'collection_center:collection_center_update' collection_center_pk=item.pk %}"><i class="fa fa-edit"></i></a>
                                                   
                                                    <!-- <a class="" href="{% url 'collection_center:collection_center_delete' collection_center_pk=item.pk %}" onclick="return confirm('Are you sure you want to remove this item?');"><i class="fa fa-trash"></i> </a> -->
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        {% else %}

                                        <tr>
                                            <td colspan="9" class="text-center text-danger">Sorry! No Record Found.</td>
                                        </tr>

                                        {% endif %}

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    
                        <!-- /.card-body -->
                    </div>

                    <!-- 
                    <div class="d-flex justify-content-center">    
                        <ul class="pagination pagination-sm mt-3 float-right">      
                          <li class="page-item"><a class="page-link active" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>       
                        </ul>
                     </div> -->


                     <div class="d-flex justify-content-cente paggination-sec">
                        {% if is_paginated %}
        
                        <div class="">
                            <nav  class="">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link"
                                            href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    {% endif %}
        
                                    {% for i in paginator.page_range %}
                                    {% if page_obj.number == i %}
                                    <li class="page-item active">
                                        <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
                                    </li>
                                    {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                    {% endfor %}
        
        
                                    {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Next</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                        {% endif %}
                    </div>

                    {% if collection_center_list.has_other_pages %}
                    <div class="d-flex justify-content-cente paggination-sec">
                        <div class="">
                            <nav class="">
                                <ul class="pagination">
                                    {% if collection_center_list.has_previous %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="?page={{ collection_center_list.previous_page_number }}" tabindex="-1">Previous</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    {% endif %}


                                    {% for i in collection_center_list.paginator.page_range %} 
                                        {% if collection_center_list.number == i %}
                                            <li class="page-item active">
                                                <a class="page-link" href="#">{{ i }} </a>
                                            </li>
                                            
                                        {% elif i > collection_center_list.number|add:'-3' and i < collection_center_list.number|add:'3' %}
                                            <li class="page-item ">
                                                <a class="page-link" href="?page={{ i }}">{{ i }} </a>
                                            </li>
                                        
                                        {% endif %} 
                                    {% endfor %} 

                                    <!-- <li class="page-item active">
                                        <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                                    </li> -->




                                    {% if collection_center_list.has_next %}

                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ collection_center_list.next_page_number }}">Next</a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a class="next" href="javascript:void(0);"><i class="ion-ios-arrow-right"></i></a>
                                    </li>
                                    {% endif %}
                    
                                </ul>
                            </nav>
                        </div>
                    </div>
                    {% endif %}
                    


                </div>

            </div>




            <!-- /.row -->





        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->



{% endblock %}


{% block js %}
<script>
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
    });
</script>

{% endblock %}