{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block page_header_title %}   Collection Center  {% endblock %}
{% block css %}

<style>
/* upload image */
body {
        background-color: #eee;
      }
      input[type="text"],
      textarea {
        border: none;
        outline: none;
        background-color: white;
        border-bottom: 0px solid #ccc; /* You can adjust the color and thickness of the outline */
      }

  .white-box label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 500;
    color: #28a745;
    font-size: 17px;
}

</style>
{% endblock %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-3 ml-1 mr-1">
                <div class="col-sm-6">
                    <!-- <h6 class="font-weight-bold mt-3 text-muted">Collection Center Details</span></h6> -->
                </div>
                <div class="col-sm-6 text-right modalright">
                    
                    <a type="button" href="{% url 'collection_center:collection_center_list' %}" class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back 
                    </a>
                </div>
            </div>
            <!-- Small boxes (Stat box) -->
            <div class="row ml-1 mr-1">
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="white-box">


                            <form   role="form">
                               
                                <h5>Collection Center Details   </h5>
                               
                                


                                <div class="row">
                                    <div class="col-sm-12">
                                        
                                        <div class="row">
                                            
                                           
                                            
                                            <div class="col-sm-12">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---"   >Name :</label>
                                                    <input type="text" s value="{{ collection_center_details.name }}" class="form-control"  readonly>

                                                   

                                                </div>
                                            </div>
                                        
                   
                                         
                                        
                                        </div>
                                    
                                    </div>
                                </div>
                                <br>
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}


{% block js %}


{% endblock %}