{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %} Collection Center {% endblock %}
{% block css %}
{% endblock %}
{% block content %}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-3 ml-1 mr-1">
                <div class="col-sm-6">
                    <h6 class="font-weight-bold mt-3 text-muted">{% if not form.instance.pk %} Add New Collection Center {% else %} Edit Collection Center {% endif %}</h6>
                </div>
                <div class="col-sm-6 text-right modalright">
                    <a type="button" href="{% url 'collection_center:collection_center_list' %}" class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back 
                    </a>
                </div>
            </div>
            <!-- Small boxes (Stat box) -->
            <div class="row ml-1 mr-1">
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="white-box">

                            <form method='POST' role="form" id="create-form" >
                                {% csrf_token %}
                                <h5>Collection Center  {% if not form.instance.pk %}  {% else %}  {% endif %}  </h5>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="required_field">Name</label>
                                                    {{ form.name }}
                                                    {{ form.name.errors }}
                                                </div>
                                            </div>

                                        </div>
                                    
                                    </div>
                                </div>


                                <div class="row">

                                    <div class="col-lg-3 white-box-submit">
                                        <button type="submit"
                                            class="btn btn-block btn-success pt-2 pb-2">Create</button>
                                    </div>

                                    {% if not form.instance.pk %}
                                        <div class="col-lg-3 white-box-reset">
                                            <button type="button" id="resetButton" 
                                            class="btn btn-block btn-default pt-2 pb-2">Reset</button>
                                        </div>
                                    {% endif %} 

                                   
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>





{% endblock %}

{% block js %}



{% endblock %}