{% load static %}
<li class="nav-item">
    <a href="/" class="nav-link {% if request.path == base %} active {% endif %}">
        <i class="fa fa-home mr-2" aria-hidden="true"></i>
        <p>Dashboard</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'region_list' %}" class="nav-link {% if request.path == region %} active {% endif %}">
        <i class="fa fa-map-marker mr-2" aria-hidden="true"></i>
        <p>Region Master</p>
    </a>
</li>
<li class="nav-item has-treeview {% if current_url %} menu-open{% endif %}">
    <a href="#" class="nav-link {% if current_url %} active{% endif %}">
        <i class="fa fa-users mr-2" aria-hidden="true"></i>
        <p>
            User Management
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        {% for item in usertype_list %}
   
            {% url 'user_profile:all_users' usertype_slug=item.slug as urle %}
            {% url 'user_profile:user_profile_search' usertype_slug=item.slug as urle2 %}
        <li class="nav-item">
            <a href="{% url 'user_profile:all_users' usertype_slug=item.slug %}" class="nav-link {% if urle == url or request.path == urle2 or item.slug == user_type or item.slug == profile_details.profile_type.name %} active {% endif %}">
                <i class="far fa-user nav-icon"></i>
                {% if not item.name == "blf" %}
                <p class="text-capitalize">{{ item.name }}</p>
                {% else %}
                <p class="text-uppercase">{{ item.name }} {{current_user_type_url}}</p>
                {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
</li>
<li class="nav-item has-treeview {% if request.path == bulk_import_grower or request.path == bulk_import_aggregator %} menu-open{% endif %} ">
    <a href="#" class="nav-link">
        <i class="fa fa-upload mr-2" aria-hidden="true"></i>
        <p>
            Bulk Enrollment
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url 'bulk_import_grower' %}" class="nav-link {% if request.path == bulk_import_grower %} active{% endif %}">
                <!-- <i class="far fa-upload nav-icon"></i> -->
                <img src="{% static 'upload.png' %}" alt="Tracetea">
                &nbsp;&nbsp;
                <p class="text-capitalize">Grower</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'bulk_import_aggregator' %}" class="nav-link {% if request.path == bulk_import_aggregator %} active{% endif %}">
                <img src="{% static 'upload.png' %}" alt="Tracetea">
                &nbsp;&nbsp;
                <p>Aggregator</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="{% url 'tea_production:tea_grade_list'%}" class="nav-link  {% if request.path == tea_production %} active {% endif %}">
        <i class="fa fa-graduation-cap mr-2" aria-hidden="true"></i>
        <p>Tea Grade Management</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'chemical_data:fertilizer_list' %}" class="nav-link {% if request.path == fertilizer_list %} active {% endif %} ">
        <i class="fa fa-flask mr-2" aria-hidden="true"></i>
        <p>Fertilizer Management</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'chemical_data:chemical_list' %}" class="nav-link {% if request.path == chemical %} active {% endif %} ">
        <i class="fa fa-flask mr-2" aria-hidden="true"></i>
        <p>Chemical Management</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'vehicle_management:vehicle_list' %}" class="nav-link {% if request.resolver_match.app_name == 'vehicle_management' %} active {% endif %} ">
        <i class="fa fa-truck mr-2" aria-hidden="true"></i>
        <p>Vehicle Management</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'chemical_data:farmdiary_user_list' %}" class="nav-link {% if request.path == stg_farm or '/stg/farm/diary/' in request.path or '/stg/farm-diary' in request.path %} active {% endif %}">
        <i class="fa fa-leaf" aria-hidden="true"></i>&nbsp;&nbsp;
        <p>STG Farm Diary</p>
    </a>
</li>

<li class="nav-item has-treeview {% if request.path == supply_management_report or request.path == backward_traceability_report or request.path == aggregator_register_reports or request.path == grower_register_reports or request.path == entity_register_list  or request.path == lef_collection_reports_register_admin or request.path == invoice_register_reports_admin  %} menu-open{% endif %} ">
    <a href="#" class="nav-link">
        <i class="fa fa-file mr-2" aria-hidden="true"></i>
        <p>
            Reports
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url 'user_profile:supply_management_report' %}" class="nav-link {% if request.path == supply_management_report %} active{% endif %}">
                <img src="{% static 'documents.png' %}" alt="Tracetea">
                &nbsp;&nbsp;
                <p class="text-capitalize">Supply Management</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'invoicing:backward_traceability_report' %}" class="nav-link {% if request.path == backward_traceability_report %} active{% endif %}">
                <!-- <i class="far fa-upload nav-icon"></i> -->
                <img src="{% static 'documents.png' %}" alt="Tracetea">
                &nbsp;&nbsp;
                <p class="text-capitalize">Backward Traceability</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'user_profile:aggregator_register_reports' %}" class="nav-link {% if request.path == aggregator_register_reports %} active{% endif %}">
                <img src="{% static 'documents.png' %}" alt="Tracetea">
                &nbsp;&nbsp;
                <p class="text-capitalize">Aggregator Register</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'user_profile:grower_register_reports' %}" class="nav-link {% if request.path == grower_register_reports %} active{% endif %}">
                <img src="{% static 'documents.png' %}" alt="Tracetea">
                &nbsp;&nbsp;
                <p class="text-capitalize">Grower Register</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'user_profile:entity_register_list' %}" class="nav-link {% if request.path == entity_register_list %} active{% endif %}">
                <img src="{% static 'documents.png' %}" alt="Tracetea">
                &nbsp;&nbsp;
                <p class="text-capitalize">Entity Register</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'weighment_supply:lef_collection_reports_register_admin' %}" class="nav-link {% if request.path == lef_collection_reports_register_admin %} active{% endif %}">
                <img src="{% static 'documents.png' %}" alt="Tracetea">
                &nbsp;&nbsp;
                <p class="text-capitalize">Leaf Collection Register</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'invoicing:invoice_register_reports_admin' %}" class="nav-link {% if request.path == invoice_register_reports_admin %} active{% endif %}">
                <img src="{% static 'documents.png' %}" alt="Tracetea">
                &nbsp;&nbsp;
                <p class="text-capitalize">Invoice Register</p>
            </a>
        </li>
    </ul>
</li>
