{% load static %}

<li class="nav-item">
    <a href="{% url 'index' %}" class="nav-link {% if request.path == base %} active {% endif %}">
        <i class="fa fa-home mr-2" aria-hidden="true"></i>
        <p>Dashboard</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'user_profile:blf_profile_create' user_create_pk=blf_details.user_id %}" class="nav-link {% if request.path == blf_edit %} active {% endif %}">
        <i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;
        <p>Edit Profile </p>
    </a>    
</li>
{% if blf_details.easy_weight_system  == "Enable" %}
<li class="nav-item">
    <a href="{% url 'collection_center:collection_center_list' %}" class="nav-link {% if request.path == collection %} active {% endif %}">
        <i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp;
        <p>Collection Center</p>
    </a>
</li>
{% endif %}

<li class="nav-item">
    <a href="{% url 'warehouse_list' %}" class="nav-link {% if request.path == Warehouse %} active {% endif %}">
        <i class="fa fa-warehouse" aria-hidden="true"></i>&nbsp;&nbsp;
        <p>Warehouse Management</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'weighment_supply:weighment_list' %}" class="nav-link {% if request.path == weighment_supply %} active {% endif %}">
        <i class=" fa fas fa-tasks" aria-hidden="true"></i>&nbsp;&nbsp;
        <p>Weighment &amp; Supply </p>
    </a>
</li> 

<li class="nav-item">
    <a href="{% url 'leaf_receipt:leaf_list' %}" class="nav-link {% if request.path == leaf_recipt %} active {% endif %}">
        <i class="fa fa-leaf" aria-hidden="true"></i>&nbsp;&nbsp;
        <p>Leaf Receipt</p>
    </a>
</li>

{% if blf_details.easy_weight_system  == "Enable" %}
<li class="nav-item">
    <a href="{% url 'easy_weight_master:bulk_import_easy_weight' %}" class="nav-link {% if request.path == esay_weight %} active {% endif %}">
        <i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp;
        <p>Leaf Receipt(easy weight)</p>
    </a>
</li>
{% endif %}

<li class="nav-item">
    <a href="{% url 'weighment_supply:supplier_exit_list' %}" class="nav-link {% if request.path == supplier_exit %} active {% endif %}">
        <i class="fa fas fa-sync-alt"  aria-hidden="true"></i>&nbsp;&nbsp;
        <p>Supplier Exit </p>
    </a>
</li> 
<li class="nav-item">
    <a href="{% url 'lot_batch_details:lot_batch_list' %}" class="nav-link {% if request.path == lot_batch_details %} active {% endif %}">
        <i class="fa far fa-clock" aria-hidden="true"></i>&nbsp;&nbsp;
        <p>Lot/Batch Management </p>
    </a>
</li> 

<li class="nav-item">
    <a href="{% url 'invoicing:invoice_list' %}" class="nav-link {% if request.path == invoicing %} active {% endif %}">
        <i class="fa fas fa-file-alt" aria-hidden="true"></i>&nbsp;&nbsp;
        <p>Invoice Management</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'packaging:packaging_list' %}" class="nav-link {% if request.path == packaging %} active {% endif %}">
        <i class="fa fas fa-box-open" aria-hidden="true"></i>&nbsp;&nbsp;
        <p>Packaging / Distribution</p>
    </a>
</li>

<li class="nav-item">
    <a href="{% url 'chemical_data:farmdiary_user_list' %}" class="nav-link {% if request.path == stg_farm or '/stg/farm/diary/' in request.path or '/stg/farm-diary' in request.path %} active {% endif %}">
        <i class="fa fa-leaf" aria-hidden="true"></i>&nbsp;&nbsp;
        <p>STG Farm Diary</p>
    </a>
</li>


<li class="nav-item has-treeview {% if request.path == bulk_import_grower or request.path == bulk_import_aggregator or request.path == lef_collection_reports or request.path == invoice_register_reports or request.path == backward_traceability_report or request.path == forward_traceability_report     %} menu-open{% endif %} ">
    <a href="#" class="nav-link">
        <i class="fa fa-file mr-2" aria-hidden="true"></i>
        <p>
            Reports
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">  

        <li class="nav-item">
            <a href="{% url 'weighment_supply:lef_collection_reports' %}" class="nav-link {% if request.path == lef_collection_reports %} active{% endif %}">
                <!-- <i class="far fa-upload nav-icon"></i> -->
                <img src="{% static 'documents.png' %}" alt="Tracetea">&nbsp;&nbsp;
                <p class="text-capitalize">Leaf Collection</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'invoicing:invoice_register_reports' %}" class="nav-link {% if request.path == invoice_register_reports %} active{% endif %}">
                <!-- <i class="far fa-upload nav-icon"></i> -->
                <img src="{% static 'documents.png' %}" alt="Tracetea">&nbsp;&nbsp;
                <p class="text-capitalize">Invoice Register</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'invoicing:backward_traceability_report' %}" class="nav-link {% if request.path == backward_traceability_report  %} active{% endif %}">
                <!-- <i class="far fa-upload nav-icon"></i> -->
                <img src="{% static 'documents.png' %}" alt="Tracetea">&nbsp;&nbsp;
                <p class="text-capitalize">Backward Traceability</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'invoicing:forward_traceability_report' %}" class="nav-link {% if request.path == forward_traceability_report %} active{% endif %}">
                <!-- <i class="far fa-upload nav-icon"></i> -->
                <img src="{% static 'documents.png' %}" alt="Tracetea">&nbsp;&nbsp;
                <p class="text-capitalize">Forward Traceability</p>
            </a>
        </li>

    
    </ul>
</li>

