{% extends 'base.html' %}
{% load static %}

{% load l10n %}
{% load poll_extras %}

{% block title %}  {% endblock %}
{% block page_header_title %}  <span {% if logged_user_type == 'blf' %}class="text-uppercase" {% else %}class="text-capitalize" {% endif %}>{{ logged_user_type }}</span>   Dashboard{% endblock %}



{% block content %}
    {% if logged_user_type == "ADMIN" %}
      {% include 'admin_dashboard.html' %}
    {% elif logged_user_type == "blf" %}
      {% include 'blf_dashboard.html' %}
    {% endif %}
{% endblock %}
{% block js %}

<script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>

<script>
$(document).ready(function () {
      $(".select2_entity_id").select2({
        placeholder: "Select Entity",
        width: '100%',
        allowClear: false,
    });
});
</script>


<!-- ADMIN SUPPLY COLLECTION NAR CHART GRAPH -->
<script>
  $(document).ready(function () {
    $("#supply_entity_wise").submit(function (event) {
      // Prevent the form from submitting in the traditional way
      event.preventDefault();

      console.log("supply_entity_wise Ajax");

      var formData = $(this).serialize();  // Serialize form data

      console.log(formData)
      // $("#default_entity_supply").hide();
      // $("#ajax_entity_supply").show();

      $.ajax({
        type: "GET",
        url: $(this).attr("action"),
        data: formData,
        dataType: "json",
        success: function (response) {
          console.log("***YES success True ###")
          $("#default_entity_supply").hide();
          $('#ajax_entity_supply').html(response['html']);
        },
        error: function (rs, e) {
          console.log(rs);
          console.log(e);
        }
      });
    });
  });




  // REGION WISE
  $(document).ready(function () {
    $("#region_eise_collection").submit(function (event) {
      // Prevent the form from submitting in the traditional way
      event.preventDefault();

      console.log("supply_entity_wise Ajax");

      var formData = $(this).serialize();  // Serialize form data

      console.log(formData)
      // $("#default_entity_supply").hide();
      // $("#ajax_entity_supply").show();

      $.ajax({
        type: "GET",
        url: $(this).attr("action"),
        data: formData,
        dataType: "json",
        success: function (response) {
          console.log("***YES success True ###")
          $("#default_entity_region_supply").hide();
          $('#ajax_entity_supply_region').html(response['html']);
        },
        error: function (rs, e) {
          console.log(rs);
          console.log(e);
        }
      });
    });
  });




// INvoice for Admin
$(document).ready(function () {
    $("#invoice_graph_admin").submit(function (event) {
      // Prevent the form from submitting in the traditional way
      event.preventDefault();
      console.log("invoice Ajax");
      var formData = $(this).serialize();  // Serialize form data
      console.log(formData)
      // $("#default_entity_supply").hide();
      // $("#ajax_entity_supply").show();

      $.ajax({
        type: "GET",
        url: $(this).attr("action"),
        data: formData,
        dataType: "json",
        success: function (response) {
          console.log("***YES success True ###")
          $("#default_invoice_graph_admin").hide();
          $('#ajax_invoice_graph_admin').html(response['html']);
        },
        error: function (rs, e) {
          console.log(rs);
          console.log(e);
        }
      });
    });
  });















</script>


<script>
  // Region Wise BLF list AJAX
  $('#id_region_entity').on('change', function () {
      var data = $(this).find('option').filter(':selected').val(); 
      console.log(data);

      $("#associated_entity").empty().trigger('change');


      $.ajax({
          url: "{% url 'user_profile:blf_list_region_wise' %}",
          data: {
              'id': data,
          },
          success: function (data) {
              $("#associated_entity").html(data);
              // console.log("associated entity ###")
              $("#associated_entity").val({{ entity_id }});
          },
          error: function (rs, e) {
              console.log(rs);
              console.log(e)
          }
      });
  });



  
  // Region Wise BLF list AJAX
  $('#id_region_entity_invoice').on('change', function () {
      var data = $(this).find('option').filter(':selected').val(); 

      $("#associated_entity_invoice").empty().trigger('change');
      $.ajax({
          url: "{% url 'user_profile:blf_list_region_wise' %}",
          data: {
              'id': data,
          },
          success: function (data) {
              $("#associated_entity_invoice").html(data);
              // console.log("associated entity ###")
              $("#associated_entity_invoice").val({{ entity_id }});
          },
          error: function (rs, e) {
              console.log(rs);
              console.log(e)
          }
      });
  });

</script>

<script type="text/javascript">

  const d = new Date();
  let CurrentYear = d.getFullYear();



  function year_graph_data(year) {
      $("#default_leaf_graph").hide();
      $("#default_invoice_graph").hide();

      $.ajax({
          url: '{% url "dashboard_graph_ajax" %}',
          data: {
              'year' : year,
          },
          dataType: 'json',
          success: function (response) {
              $('#leaf_collection_ajax').html(response['html']);
              $('#leaf_card_id').html('<h3 class="card-title">Leaf Collection Total - ' + response['tot_net_weight'] + ' KG  for ' +  response['year'] + '</h3>');
          },
          error: function (rs, e) {
              console.log(rs);
              console.log(e)
          }
      });
  }
  year_graph_data(CurrentYear);

  function year_invoice_graph_data(year) {

    $("#default_invoice_graph").hide();

      $.ajax({
          url: '{% url "graph_invoice_data_ajax" %}',
          data: {
              'year' : year,
          },
          dataType: 'json',
          success: function (response) {
              $('#leaf_collection_ajax').html(response['html']);
              $('#leaf_card_id').html('<h3 class="card-title">Leaf Collection Total - ' + response['tot_net_weight'] + ' KG  for ' +  response['year'] + '</h3>');
          },
          error: function (rs, e) {
              console.log(rs);
              console.log(e)
          }
      });

    }
    year_invoice_graph_data(CurrentYear)
</script>

<script>
  $(function () {
    //-------------
    //- DONUT CHART -
    //-------------

    var donutData = {
      labels: [
        'Male',
        'Female',
        'Others',
      ],
      datasets: [
        {
          data: [{{ grower_male_count }}, {{ grower_female_count }}, {{ grower_other_count }}],
          backgroundColor: ['#f56954', '#00a65a', '#f39c12'],
        }
      ]
    }

    var donutData2 = {
      labels: [
        'Growers',
        'Aggregators',
      ],
      datasets: [
        {
          data: [{{ total_growers }}, {{ total_aggegators }}],
          backgroundColor: ['#00a65a','#3c8dbc'],
        }
      ]
    }

    var donutData3 = {
      labels: [
        'Growers',
        'Aggregators',
      ],
      datasets: [
        {
          data: [34, 21],
          backgroundColor: ['#00a65a','#3c8dbc'],
        }
      ]
    }



    var donutData4 = {
      labels: [
        'Growers',
        'Aggregators',
      ],
      datasets: [
        {
          data: [32, 12],
          backgroundColor: ['#00a65a','#3c8dbc'],
        }
      ]
    }

    var donutOptions = {
      maintainAspectRatio: false,
      responsive: true,
    }


    //-------------
    //- PIE CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
    var pieData = donutData;
    var pieOptions = {
      maintainAspectRatio: false,
      responsive: true,
    }
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    new Chart(pieChartCanvas, {
      type: 'pie',
      data: pieData,
      options: pieOptions
    })

    var pieChartCanvas = $('#pieChart2').get(0).getContext('2d')
    var pieData = donutData2;
    var pieOptions = {
      maintainAspectRatio: false,
      responsive: true,
    }
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    new Chart(pieChartCanvas, {
      type: 'pie',
      data: pieData,
      options: pieOptions
    })


  // pie3
  // var pieChartCanvas3 = $('#pieChart3').get(0).getContext('2d')
  //   var pieData3 = donutData3;
  //   var pieOptions = {
  //     maintainAspectRatio: false,
  //     responsive: true,
  //   }
  // //Create pie or douhnut chart
  // // You can switch between pie and douhnut using the method below.
  // new Chart(pieChartCanvas3, {
  //   type: 'pie',
  //   data: pieData3,
  //   options: pieOptions
  // })  
    
    











    //-------------
    //- BAR CHART -
    //-------------

    // BAR CHAT FOR LEAF COLLECTIONS
    var LeafCollectionData = {
      labels: [{% for key, value in results %}'{{ key.0|month_name }}', {% endfor %}],
      
      datasets: [
        {
          label: 'Leaf Collection Qty (Kg.) ',
          backgroundColor: 'rgba(60,141,188,0.9)',
          borderColor: 'rgba(60,141,188,0.8)',
          pointRadius: false,
          pointColor: '#3b8bba',
          pointStrokeColor: 'rgba(60,141,188,1)',
          pointHighlightFill: '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data: [{% for key, value in results %}{{ value.0| unlocalize }}, {% endfor %}]
        },
      ]
    }

    var leafChartOptions = {
      maintainAspectRatio: false,
      responsive: true,
      legend: {
        display: false
      },
    }
    var ctx = $('#barChart').get(0).getContext('2d')
   
    new Chart(ctx, {
      type: 'bar',
      data: LeafCollectionData,
      options: leafChartOptions
    })

    //---------------------
    //- INVOICE BAR CHART -
    //---------------------

    var InvoiceCollectionData = {
      labels: [{% for key, value in invoice_result %}'{{ key.0|month_name }}', {% endfor %}],
      
      datasets: [
        {
          label: 'Total Invoice',
          backgroundColor: 'rgba(60,141,188,0.9)',
          borderColor: 'rgba(60,141,188,0.8)',
          pointRadius: false,
          pointColor: '#3b8bba',
          pointStrokeColor: 'rgba(60,141,188,1)',
          pointHighlightFill: '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data: [{% for key, value in invoice_result %}{{ value.0| unlocalize }}, {% endfor %}]
        },
      ]
    }

    var InvoiceChartOptions = {
      maintainAspectRatio: false,
      responsive: true,
      legend: {
        display: false
      },
    }
    var ctx = $('#barChartInvoice').get(0).getContext('2d')
   
    new Chart(ctx, {
      type: 'bar',
      data: InvoiceCollectionData,
      options: InvoiceChartOptions
    })

  })
</script>



<script>

$( document ).ready(function() {

    $('#year_select').on('change', function() {
        var data = $(this).val();
        console.log(parseInt(data))
        
        $.ajax({
            // url: '{% url "user_profile:unit_details" %}',
            // data: {
            //     'id' : parseInt(data),
            // },    
            // dataType: 'json',
            // success: function (response) {  
            //     // textToInsert = '<option selected value="' + response['value']  +'">' + response['value'] + '</option>';
            //     // $('#unit_details_id').html(textToInsert);

            //     // $("#unit_details_id").val("43");
            //     // $("#unit_details_id").select2().trigger('change');

            //     var option = new Option(response['value'], response['value'], true, true);
            //     $('#unit_details_id').append(option).trigger('change');
            // },
            // error: function (rs, e) {
            //     console.log(rs);
            //     console.log(e)
            // }
        });

        
    });

});




</script>


{% endblock %}
