
{% load l10n %}
{% load poll_extras %}

  <div class="card card-success mt-3" id="default_leaf_graph">
    <div class="card-header" id="leaf_card_id">
      <h3 class="card-title">Leaf Collection Total - {{ tot_net_weight }}  KG  for {{ current_year }}</h3>
    </div>
    <div class="card-body">
      <div class="chart">
        <div class="chartjs-size-monitor">
          <div class="chartjs-size-monitor-expand">
            <div class=""></div>
          </div>
          <div class="chartjs-size-monitor-shrink">
            <div class=""></div>
          </div>
        </div>
        <canvas id="barChart"
          style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 487px;"
          class="chartjs-render-monitor" width="487" height="250"></canvas>
      </div>
    </div>
  </div>  

  <div class="col-md-12">
    <div class="card card-success mt-3">
      <div class="card-header" id="invoice_card_id">
        <h3 class="card-title">Total  <strong>{{ tot_invoice }}</strong> Invoice Generated - <TOT_INV> for {{ year }}</h3>
      </div>
      <div class="card-body">
        <div class="chart">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div class=""></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
              <div class=""></div>
            </div>
          </div>

          <canvas id="barChartInvoice"
            style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 487px;"
            class="chartjs-render-monitor" width="487" height="250"></canvas>
          </div>
      </div>
    </div>
  </div>





<script>
  $(function () {
    
    //-------------
    //- BAR CHART -
    //-------------

    // var areaChartCanvas = $('#areaChart').get(0).getContext('2d')
    var LeafCollectionData = {
      labels: [{% for key, value in results %}'{{ key.0|month_name }}', {% endfor %}],
      
      datasets: [
        {
          label: 'Leaf Collection Qty (Kg.) ',
          backgroundColor: 'rgba(60,141,188,0.9)',
          borderColor: 'rgba(60,141,188,0.8)',
          pointRadius: false,
          pointColor: '#3b8bba',
          pointStrokeColor: 'rgba(60,141,188,1)',
          pointHighlightFill: '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data: [{% for key, value in results %}{{ value.0| unlocalize }}, {% endfor %}]
        },
      ]
    }

    var leafChartOptions = {
      maintainAspectRatio: false,
      responsive: true,
      legend: {
        display: false
      },
      // scales: {
      //   xAxes: [{
      //     gridLines: {
      //       display: false,
      //     }
      //   }],
      //   yAxes: [{
      //     gridLines: {
      //       display: false,
      //     }
      //   }]
      // }
    }
    
    var ctx = $('#barChart').get(0).getContext('2d')
   
    // var barChartOptions = {
    //   responsive: true,
    //   maintainAspectRatio: false,
    //   datasetFill: false
    // }

    new Chart(ctx, {
      type: 'bar',
      data: LeafCollectionData,
      options: leafChartOptions
    })

    //---------------------
    //- INVOICE BAR CHART -
    //---------------------

    var InvoiceCollectionData = {
      labels: [{% for key, value in invoice_result %}'{{ key.0|month_name }}', {% endfor %}],
      
      datasets: [
        {
          label: 'Total Invoice',
          backgroundColor: 'rgba(60,141,188,0.9)',
          borderColor: 'rgba(60,141,188,0.8)',
          pointRadius: false,
          pointColor: '#3b8bba',
          pointStrokeColor: 'rgba(60,141,188,1)',
          pointHighlightFill: '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data: [{% for key, value in invoice_result %}{{ value.0| unlocalize }}, {% endfor %}]
        },
      ]
    }

    var InvoiceChartOptions = {
      maintainAspectRatio: false,
      responsive: true,
      legend: {
        display: false
      },
    }
    var ctx = $('#barChartInvoice').get(0).getContext('2d')
   
    new Chart(ctx, {
      type: 'bar',
      data: InvoiceCollectionData,
      options: InvoiceChartOptions
    })



  })
</script>


<script>

$( document ).ready(function() {

    $('#year_select').on('change', function() {
        var data = $(this).val();
        console.log(parseInt(data))
        
        $.ajax({
            // url: '{% url "user_profile:unit_details" %}',
            // data: {
            //     'id' : parseInt(data),
            // },    
            // dataType: 'json',
            // success: function (response) {  
            //     // textToInsert = '<option selected value="' + response['value']  +'">' + response['value'] + '</option>';
            //     // $('#unit_details_id').html(textToInsert);

            //     // $("#unit_details_id").val("43");
            //     // $("#unit_details_id").select2().trigger('change');

            //     var option = new Option(response['value'], response['value'], true, true);
            //     $('#unit_details_id').append(option).trigger('change');
            // },
            // error: function (rs, e) {
            //     console.log(rs);
            //     console.log(e)
            // }
        });

        
    });

});




</script>