{% load static %}
{% url 'index' as base %}
{% url 'region_list' as region %}
{% url 'tea_production:tea_grade_list' as tea_production %}
{% url 'chemical_data:chemical_list' as chemical %}
{% url 'chemical_data:fertilizer_list' as fertilizer_list %}
{% url 'vehicle_management:vehicle_list' as vehicle_list %}
{% url 'bulk_import_grower' as bulk_import_grower %}
{% url 'bulk_import_aggregator' as bulk_import_aggregator  %}
{% url 'warehouse_list' as Warehouse %}
{% url 'leaf_receipt:leaf_list' as leaf_recipt %}
{% url 'packaging:packaging_list' as packaging %}
{% url 'invoicing:invoice_list' as invoicing %}
{% url 'lot_batch_details:lot_batch_list' as lot_batch_details %}
{% url 'weighment_supply:weighment_list' as  weighment_supply %}
{% url 'weighment_supply:supplier_exit_list' as supplier_exit %}
{% url 'user_profile:blf_profile_create' user_create_pk=blf_details.user_id as blf_edit %}
{% url 'collection_center:collection_center_list' as collection %}
{% url 'chemical_data:farmdiary_user_list' as stg_farm %}
{% url 'easy_weight_master:bulk_import_easy_weight' as esay_weight %}
{% url 'user_profile:user_profile_search' as user_profile_search %}
{% url 'user_profile:supply_management_report' as supply_management_report %}
{% url 'weighment_supply:lef_collection_reports' as lef_collection_reports %}
{% url 'invoicing:invoice_register_reports' as invoice_register_reports %}
{% url 'invoicing:backward_traceability_report' as backward_traceability_report %}
{% url 'invoicing:forward_traceability_report' as forward_traceability_report %}
{% url 'invoicing:backward_traceability_report' as backward_traceability_report %}
{% url 'user_profile:aggregator_register_reports' as aggregator_register_reports %}
{% url 'user_profile:grower_register_reports' as grower_register_reports %}
{% url 'user_profile:entity_register_list' as entity_register_list %}
{% url 'weighment_supply:lef_collection_reports_register_admin' as lef_collection_reports_register_admin %}
{% url 'invoicing:invoice_register_reports_admin' as invoice_register_reports_admin %}
{% url 'accounts:users_change_password' user_id as users_change_password %}
{% url 'user_profile:grower_profile_edit' user_id as grower_profile_edit %}



<style>
    .nav-sidebar .nav-link>.right, .nav-sidebar .nav-link>p>.right {
        position: absolute;
        right: 1rem;
        top: 20.7px!important;
    }
</style>
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">

        <div class="brand-text brand-text-logo font-weight-light">
            <img src="{% static 'tracetea-logo.png' %}" alt="tracetea">
        </div>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-4">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                {% if logged_user_type == "ADMIN" %}
                    {% include 'admin_menu_list.html' %}
                {% elif logged_user_type == "blf" %}
                    {% include 'blf_menu_list.html' %}
                {% else %}
                    {% include 'admin_menu_list.html' %}
                {% endif %}
                <li class="nav-item mb-5">
                    <a href="{% url 'accounts:logout' %}" class="nav-link">
                        <i class="fa fa-sign mr-2" aria-hidden="true"></i>
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
