{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %} Change Password for - {{ target_user.username }} {% endblock %}

{% block css %}
<style>
    .password-field {
        position: relative;
    }

    .password-field input {
        padding-right: 48px !important;
    }

    .toggle-password {
        align-items: center;
        color: #666;
        cursor: pointer;
        display: flex;
        font-size: 18px;
        height: 34px;
        justify-content: center;
        line-height: 1;
        position: absolute;
        right: 14px;
        top: 34px;
        width: 28px;
        z-index: 2;
    }

    .password-field input.is-invalid {
        background-image: none !important;
        padding-right: 48px !important;
    }

    .field-error {
        color: #dc3545;
        display: block;
        font-size: 13px;
        line-height: 18px;
        margin-top: 4px;
        min-height: 40px;
        visibility: hidden;
    }

    #password-change-form .form-group {
        margin-bottom: 18px;
    }

    #password-change-form .white-box-submit,
    #password-change-form .white-box-reset {
        margin-top: 0;
    }

    .is-invalid {
        border-color: #dc3545 !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-3 ml-1 mr-1">
                <div class="col-sm-6">
                    <h6 class="font-weight-bold mt-3 text-muted">
                        Set new password for <span class="text-capitalize">{{ target_user.username }}</span>
                    </h6>
                </div>
                <div class="col-sm-6 text-right modalright">
                    <a href="{% url 'user_profile:all_users' usertype_slug=user_type %}" class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back
                    </a>
                </div>
            </div>

            <div class="row ml-1 mr-1">
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="white-box">
                    
                            <!-- <form method="POST" role="form" id="password-change-form" novalidate> -->
                            <form method="POST" role="form" id="password-change-form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group password-field">
                                                    <label class="required_field">{{ form.password.label }}</label>
                                                    {{ form.password }}
                                                    <span class="toggle-password" data-target="[name='password']">
                                                        <i class="fa fa-eye-slash"></i>
                                                    </span>
                                                    <div class="field-error" id="password-error"></div>
                                                </div>
                                                {{ form.password.errors }}
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group password-field">
                                                    <label class="required_field">{{ form.confirm_password.label }}</label>
                                                    {{ form.confirm_password }}
                                                    <span class="toggle-password" data-target="[name='confirm_password']">
                                                        <i class="fa fa-eye-slash"></i>
                                                    </span>
                                                    <div class="field-error" id="confirm-password-error"></div>
                                                </div>
                                                {{ form.confirm_password.errors }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 white-box-submit">
                                        <button type="submit" class="btn btn-block btn-success pt-2 pb-2">Update Password</button>
                                    </div>
                                    <div class="col-lg-3 white-box-reset">
                                        <button type="button" id="resetButton" class="btn btn-block btn-default pt-2 pb-2">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    const form = $("#password-change-form");
    const password = $("[name='password']");
    const confirmPassword = $("[name='confirm_password']");
    const passwordError = $("#password-error");
    const confirmPasswordError = $("#confirm-password-error");
    const submitBtn = form.find("button[type='submit']");

    function setFieldError(field, errorContainer, messages) {
        if (messages.length) {
            field.addClass("is-invalid");
            errorContainer.html(messages.join("<br>")).css("visibility", "visible");
            return;
        }

        field.removeClass("is-invalid");
        errorContainer.empty().css("visibility", "hidden");
    }

    function validatePasswords(showRequired) {
        const passwordErrors = [];
        const confirmErrors = [];
        const pwd = $.trim(password.val());
        const confirmPwd = $.trim(confirmPassword.val());
        const commonPasswords = ["password", "password123", "123456", "12345678", "qwerty", "abc123", "admin123"];

        if (!pwd) {
            if (showRequired) {
                passwordErrors.push("Password is required.");
            }
        } else {
            if (pwd.length < 8) {
                passwordErrors.push("Password must be at least 8 characters long.");
            }
            if (/^\d+$/.test(pwd)) {
                passwordErrors.push("Password cannot be entirely numeric.");
            }
            if (commonPasswords.includes(pwd.toLowerCase())) {
                passwordErrors.push("Password is too common.");
            }
        }

        if (!confirmPwd) {
            if (showRequired) {
                confirmErrors.push("Confirm password is required.");
            }
        } else if (pwd && pwd !== confirmPwd) {
            confirmErrors.push("Passwords do not match.");
        }

        setFieldError(password, passwordError, passwordErrors);
        setFieldError(confirmPassword, confirmPasswordError, confirmErrors);

        const isValid = !passwordErrors.length && !confirmErrors.length;
        submitBtn.prop("disabled", !isValid);
        return isValid;
    }

    password.add(confirmPassword).on("input blur", function() {
        validatePasswords(false);
    });

    $("#resetButton").on("click", function() {
        form.get(0).reset();
        setFieldError(password, passwordError, []);
        setFieldError(confirmPassword, confirmPasswordError, []);
        submitBtn.prop("disabled", false);
    });

    $(".toggle-password").click(function() {
        const input = $($(this).data("target"));
        const icon = $(this).find("i");

        if (input.attr("type") === "password") {
            input.attr("type", "text");
            icon.removeClass("fa-eye-slash").addClass("fa-eye");
        } else {
            input.attr("type", "password");
            icon.removeClass("fa-eye").addClass("fa-eye-slash");
        }
    });

    form.on("submit", function(e) {
        if (!validatePasswords(true)) {
            e.preventDefault();
        }
    });
});
</script>
{% endblock %}
