{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %} 
    Update Profile  for  
    <span class="text-capitalize">{{ profile_details.profile_type }}</span> - <span class="text-capitalize">{{ profile_details.user.username }} </span>
{% endblock %}
{% block css %} 

<style>
    .p-image {
    /* position: absolute; */
    top: 167px;
    right: 30px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    margin-top: -42px;
    margin-left: 15px!important;
}

.upload-profile-row {
    text-align: center;
    margin-top: 25px;
}
</style>
{% endblock %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-3 ml-1 mr-1">
                <div class="col-sm-6">
                    <!-- <h6 class="font-weight-bold mt-3 text-muted">Add New <span class="text-capitalize">{{ profile_details.profile_type }}</span></h6> -->
                </div>
                <div class="col-sm-6 text-right modalright">
                    <a type="button" href="{{ next_url }}" class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back 
                    </a>
                </div>
            </div>
            <!-- Small boxes (Stat box) -->
            <div class="row ml-1 mr-1">
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="white-box">


                            <form method='POST' role="form" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ next_url }}">
                                <h5>General Information</h5>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                
                                            <div class="col-sm-6">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field">Region Name</label>
                                                    {{ form.region }}
                                                    {{ form.region.errors }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            
                                            <div class="col-sm-6">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field">Organization Name</label>
                                                    {{ form.organization_name}}
                                                    {{ form.organization_name.errors }}
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">    
                                         
                                            <div class="col-sm-6">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Expert Name</label>
                                                    {{ form.expert_name}}
                                                    {{ form.expert_name.errors}}
                                                </div>
                                            </div>

                                
                                            

                                            
                                        </div>
                                    
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-lg-3 white-box-submit">
                                        <button type="submit"
                                            class="btn btn-block btn-success pt-2 pb-2">Continue</button>
                                        </div>

                                   
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>

    $("#id_region").change(function () {
      // var url = $("#formId").attr("data-state-url");
      var url ="/ajax/load-state/"
      var regionId = $(this).val();
  
      $.ajax({
        url: url,
        data: {
          'region_id': regionId,
          // 'state_id':stateID,
        },
        success: function (data) {
          $("#id_state").html(data);
          // $("#id_district").html(data);
          console.log(data)
  
  
        },
  
        
      });
    });
      $("#id_region").change(function () {
      // var url = $("#formId").attr("data-district-url");
      var url ="/ajax/load-entity/"
      var regionId = $(this).val();
  
      $.ajax({
        url: url,
        data: {
          'region_id': regionId,
          // 'state_id':stateID,
        } ,success: function (data) {
          $("#id_associated_entity").html(data);
          console.log(data)
  
  
        },
  
        
      });
    });
  
    $("#id_state").change(function () {
      // var url = $("#formId").attr("data-district-url");
      var url ="/ajax/load-district/"
      var stateId =$(this).val();
      
      
  
      $.ajax({
        url: url,
        data: {
          'state_id':stateId,
        },
        success: function (data) {
          $("#id_district").html(data);
          console.log(data)
  
  
        },
  
        
      });
    });
  
    $(document).ready(function () {
  
  
  var readURL = function (input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();
  
          reader.onload = function (e) {
              $('.profile-pic').attr('src', e.target.result);
          }
  
          reader.readAsDataURL(input.files[0]);
      }
  }
  
  
  $(".file-upload").on('change', function () {
      readURL(this);
  });
  
  $(".upload-button").on('click', function () {
      $(".file-upload").click();
  });
  });
      
  </script>

{% endblock %}
