{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %} 
    Update Profile  for  
    <span class="text-capitalize">{{ profile_details.profile_type }}</span> - <span class="text-capitalize">{{ profile_details.user.username }} </span>
{% endblock %}
{% block css %} 

<link href="{% static 'select2/select2.min.css' %}" rel="stylesheet" />

<style>
    .p-image {
    /* position: absolute; */
    top: 167px;
    right: 30px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    margin-top: -42px;
    margin-left: 15px!important;
}

.upload-profile-row {
    text-align: center;
    margin-top: 25px;
}
</style>
{% endblock %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-3 ml-1 mr-1">
                <div class="col-sm-6">
                    <!-- <h6 class="font-weight-bold mt-3 text-muted">Add New <span class="text-capitalize">{{ profile_details.profile_type }}</span></h6> -->
                </div>
                <div class="col-sm-6 text-right modalright">
                    <a type="button" href="{{ next_url }}" class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back
                    </a>
                   
                </div>
            </div>
            <!-- Small boxes (Stat box) -->
            <div class="row ml-1 mr-1">
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="white-box">


                            <form method='POST' role="form" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ next_url }}">
                                <h5>General Information</h5>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Type</label>
                                                    {{ form.aggregator_type }}
                                                    {{ form.aggregator_type.errors }}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <!-- text input -->
                                                <div class="form-group ">
                                                    <label class="required_field">Name</label>
                                                    {{ form.name }}
                                                    {{ form.name.errors }}
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field">Region Name</label>

                                                    {{ form.region }}
                                                    {{ form.region.errors }}
                                                </div>
                                            </div>

                                            
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="required_field">State</label>
                                                    {{ form.state }}
                                                    {{ form.state.errors }}
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field">District</label>
                                                    {{ form.district}}
                                                    {{ form.district.errors }}
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Associated Entity</label>
                                                    {{ form.associated_entity}}
                                                    {{ form.associated_entity.errors }}
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Address</label>
                                                    {{ form.address }}
                                                    {{ form.address.errors }}
                                                </div>
                                            </div>
                                            
                                            

                                            <div class="col-sm-6">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Mobile No</label>
                                                    {{ form.mobile_number }}
                                                    {{ form.mobile_number.errors }}
                                                </div>
                                            </div>
                                         
                                       
                                        
                                            <div class="col-sm-6">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">GSTIN NO</label>
                                                    {{ form.gstin_no }}
                                                    {{ form.gstin_no.errors }}
                                                </div>
                                            </div>
                                           
                                          
                                            <div class="col-sm-12 up">
                                                <div class="small-12 medium-2 large-2 columns">
                                                    <div class="circle">
                                                        {% if form.instance %}
                                                            {% if form.instance.user_file %}
                                                                <img class="profile-pic" src="{{ form.instance.user_file.url }}">
                                                            {% else %}
                                                                <img class="profile-pic" src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
                                                            {% endif %}
                                                        {% else %}
                                                            <img class="profile-pic" src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
                                                        {% endif %}
                                                    </div>
                                                    <div class="p-image ">
                                                      <i class="fa fa-camera upload-button"></i>
                                                      <input type="file" class="file-upload" name="user_file" >

                                                      {{ form.user_file.errors }}
                                                    </div>
                                                    <label class="text-center mt-2 ">Upload Profile Picture </label>
                                                    
                                                 </div>
                                             </div>







                                            
                                        </div>
                                    
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-lg-3 white-box-submit">
                                        <button type="submit" class="btn btn-block btn-success pt-2 pb-2">Continue</button>
                                    </div>

                                    <!-- <div class="col-lg-3 white-box-reset"><button type="button"
                                            class="btn btn-block btn-default pt-2 pb-2">Reset</button></div> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}

{% block js %}

<script src="{% static 'select2/select2.full.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2({
            placeholder: "Associated Entity",
            width: '100%',
            allowClear: true
        });
    });
</script>
<script>

// Region Wise BLF list AJAX
$('#id_region').on('change', function () {
    var data = $(this).find('option').filter(':selected').val(); 
    console.log(data);

    $.ajax({
            url: "{% url 'user_profile:blf_list_region_wise' %}",
           
            data: {
                'id' : data,
            },    
            // dataType: 'json',
            success: function (data) {  

                $("#associated_entity").html(data);
            },
            error: function (rs, e) {
                console.log(rs);
                console.log(e)
            }
        });
});





$("#id_region").change(function () {
    // var url = $("#formId").attr("data-state-url");
    var url = "/ajax/load-state/"
    var regionId = $(this).val();
    $.ajax({
          url: url,
          data: {
            'region_id': regionId,
          },
          success: function (data) {
            $("#id_state").empty();
            $("#id_state").html(data);
        
            console.log(data)
          },
    });
});
  
$("#id_state").change(function () {
    // var url = $("#formId").attr("data-district-url");
    var url = "/ajax/load-district/"
    var stateId = $(this).val();
    $('#id_district').empty();    
    
    $.ajax({
        url: url,
        data: {
            'state_id': stateId,
        },
        success: function (data) {
            $("#id_district").html(data);
            console.log(data)
        },
    });
});

$(document).ready(function () {
        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.profile-pic').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }


        $(".file-upload").on('change', function () {
            readURL(this);
        });

        $(".upload-button").on('click', function () {
            $(".file-upload").click();
        });
});
</script>

{% endblock %}
