

{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %} Profile Create for <span class="text-uppercase">{{ profile_details.profile_type }} </span>
{% endblock %}
{% block css %}


<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<style>
    .white-box h6 {
        font-size: 19px;
        color: #282e25;
        padding: 0px;
        margin: 18px 0px;
        font-weight: 500;
    }

    textarea.form-control {
        height: 136px !important;
    }
    .hidden{
        display: none;
    }

/* upload image */

.profile-pic {
      width: 200px;
      max-height: 200px;
      display: inline-block;
  }

  .file-upload {
      display: none!important;
  }

  img {
      max-width: 100%;
      height: auto;
  }
  .p-image {
    /* position: absolute; */
    top: 167px;
    right: 30px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    margin-top: -42px;
    margin-left: 91px;
  }
  .p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }
  .upload-button {
    font-size: 1.2em;
    color: #0D7A3D;
  }

  .upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
  }

  .circle {
    border-radius: 100% !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    /* position: absolute; */
    top: 72px;
    border: 1px solid #cfbfbf;
    margin-bottom: 18px;
  }

  .p-img-sec .errorlist li {
    color: rgb(237 94 94)!important;
    padding: 10px 0px 0;
    list-style-type: none;
    font-size: 14px;
    font-weight: 600;
    margin-left: -131px;
 }



</style>


{% endblock %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-3 ml-1 mr-1">
                <div class="col-sm-6">
                    <h6 class="font-weight-bold mt-3 text-muted">Add New <span class="text-uppercase">
                        {{ profile_details.profile_type }} 
                    </span></h6>
                </div>
                <div class="col-sm-6 text-right modalright">

                </div>
            </div>
            <!-- Small boxes (Stat box) -->
            <div class="row ml-1 mr-1">
                <div class="col-lg-6 col-6">
                    <div class="row">
                        <div class="white-box">

                            <h2>Entitiy List</h2>
                            {% for item in entity_list %}
                                <p>{{ item.name }}</p>
                        
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-6">
                    <div class="row">
                        <div class="white-box">

                            <h2>Unit List</h2>
                            {% for item in unit_list %}
                                <p>{{ item.name }}</p>
                        
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}





{% block js %}


<script src="{% static 'formset/jquery.formset.js' %}"></script>
<script src="{% static 'select2/select2.full.min.js' %}"></script>


<script>



    $(document).ready(function () {

        $(".select2_demo_1").select2({
        placeholder: "Select Tea Type",
        width: '100%',
        });

        // Entity section

       

        
        $('#is_fetch_from_tcms').on('change', function () {

            var data = $(this).find('option').filter(':selected').text(); 

            console.log(data);

            if(data == "NO"){
                $("#entity-id").show();
            }
            else if(data== ""){
                $("#entity-id").hide();
            }
            else{
                $("#entity-id").hide();

            }

        });


    });


    $(document).ready(function () {

        $(".select2_demo_2").select2({
        placeholder: "Select Tea Grade",
        width: '100%',
        });
    });


    $(document).ready(function () {

        $(".select2_demo_3").select2({
        placeholder: "Select Marks",
        width: '100%',
        });
    });
    

</script>


<script>
    $("#id_region").change(function () {

// var url = $("#formId").attr("data-state-url");
var url = "/ajax/load-state/"
var regionId = $(this).val();
$.ajax({

  url: url,

  data: {

    'region_id': regionId,

    // 'state_id':stateID,

  },
  success: function (data) {

    $("#id_state").html(data);

    // $("#id_district").html(data);
    console.log(data)
  },

});

});

$("#id_region").change(function () {

// var url = $("#formId").attr("data-district-url");

var url = "/ajax/load-entity/"

var regionId = $(this).val();

$.ajax({

  url: url,

  data: {

    'region_id': regionId,

    // 'state_id':stateID,

  }, success: function (data) {

    $("#id_associated_entity").html(data);
    console.log(data)
  },

});

});

$("#id_state").change(function () {

// var url = $("#formId").attr("data-district-url");

var url = "/ajax/load-district/"

var stateId = $(this).val();

$.ajax({

  url: url,

  data: {

    'state_id': stateId,

  },

  success: function (data) {

    $("#id_district").html(data);

    console.log(data)
  },

});

});

    $(document).ready(function () {

        $('.formset_row').formset({
            addText: 'add more extra',
            deleteText: 'remove',
            prefix: '{{ through_details_row_formset.prefix }}',
            formCssClass: 'dynamic-formset1',
        });

        $('.formset_row2').formset({
            addText: 'add more extra',
            deleteText: 'remove',
            prefix: '{{ tea_production_row_formset.prefix }}',
            formCssClass: 'dynamic-formset1',
        });


    });


    $(document).ready(function () {


        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.profile-pic').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }


        $(".file-upload").on('change', function () {
            readURL(this);
        });

        $(".upload-button").on('click', function () {
            $(".file-upload").click();
        });
    });


</script>

{% endblock %}



