{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %} 
    Profile  Details For  
    <span class="text-capitalize"> - {{ request.user }} </span>


{% endblock %}
{% block css %}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<style>
    .white-box h6 {
        font-size: 19px;
        color: #282e25;
        padding: 0px;
        margin: 18px 0px;
        font-weight: 500;
    }

    textarea.form-control {
        height: 136px !important;
    }
    .hidden{
        display: none;
    }

/* upload image */

.profile-pic {
      width: 200px;
      max-height: 200px;
      display: inline-block;
  }

  .file-upload {
      display: none!important;
  }

  img {
      max-width: 100%;
      height: auto;
  }
  .p-image {
    /* position: absolute; */
    top: 167px;
    right: 30px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    margin-top: -42px;
    margin-left: 91px;
  }
  .p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }
  .upload-button {
    font-size: 1.2em;
    color: #0D7A3D;
  }

  .upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
  }

  .circle {
    border-radius: 100% !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    /* position: absolute; */
    top: 72px;
    border: 1px solid #cfbfbf;
    margin-bottom: 18px;
  }

  .p-img-sec .errorlist li {
    color: rgb(237 94 94)!important;
    padding: 10px 0px 0;
    list-style-type: none;
    font-size: 14px;
    font-weight: 600;
    margin-left: -131px;
 }


 #manual-input-sec{
    display:none;
 }
 #api-input-sec{
    display:none;
 }


/* input disable css */

.white-box .form-control {
    display: block;
    width: 100%;
    height: calc(2.6rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #7d8285;
    background-color: #dfdfdfa8;
    background-clip: padding-box;
    border: 1px solid #e5e5e5;
    border-radius: 7px;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-transform: capitalize;
}




</style>
{% endblock %}
{% block content %}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-3 ml-1 mr-1">
                <div class="col-sm-6">
                    <!-- <h6 class="font-weight-bold mt-3 text-muted">Add New <span class="text-uppercase">
                        {{ profile_details.profile_type }} 
                    </span></h6> -->
                </div>
                <div class="col-sm-6 text-right modalright">
                    <a type="button" href="{% url 'accounts:change_password' %}" class="btn bg-warning text-white pl-3 pr-3" style="width: 180px;">
                        <i class="fas fa-user-lock mr-2" aria-hidden="true"></i>Change Password 
                    </a>
                    {% if request.user.id == 1 %}
                    <a type="button" href="{% url 'user_profile:all_users' usertype_slug=profile_details.profile_type %}" class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back
                    </a>
                    {% else %}
                    <a type="button" href="{% url 'accounts:change_password' %}" class="btn bg-warning text-white pl-3 pr-3">
                        <i class="fas fa-user-lock mr-2" aria-hidden="true"></i>Change Password
                    </a>
                    <a type="button" href="{% url 'index' %}" class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back
                    </a>

                    {% endif %}
                   
                </div>
            </div>
            <!-- Small boxes (Stat box) -->
            <div class="row ml-1 mr-1">
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="white-box">


                            <form method='POST' role="form" enctype="multipart/form-data" id="blf_form_id">
                                {% csrf_token %}
                                <h5>General Information</h5>

                                <div class="row">

                                    <div class="col-sm-12">
                                        
                                        

                                        <div >
                                            <div class="row"  >

                                                <div class="col-sm-6">
                                                    <!-- text input -->
                                                    <div class="form-group">
                                                        <label class="required_field---">Entity Name:
                                                        </label>
                                                        {{ form.entity_name }}
                                                        {{ form.entity_name.errors }}
                                                        
                                                    </div> 
                                                </div>
                                                <div class="col-sm-6">
                                                    <!-- text input -->
                                                    <div class="form-group">
                                                        <label class="required_field---">Factory / Unit Name:
                                                        </label>
                                                        {{ form.entity_unit }}
                                                        {{ form.entity_unit.errors }}
                                                    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-12">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label class="required_field---">Certificate No</label>
                                            {{ form.certificate_no }}
                                            {{ form.certificate_no.errors }}
                                        </div>
                                    </div>


                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label class="required_field---">Region Name</label>
                                            {{ form.region }}
                                            {{ form.region.errors }}
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label class="required_field---">State</label>
                                            {{ form.state }}
                                            {{ form.state.errors }}
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label class="required_field---">District</label>
                                            {{ form.district}}
                                            {{ form.district.errors }}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label class="required_field---">Address</label>
                                            {{ form.address}}
                                            {{ form.address.errors }}
                                        </div>
                                    </div>

                                </div>


                                <h5>Contact Information</h5>

                                        <h6>Head Office </h6>

                                        <div class="row">

                                            <div class="col-sm-4">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Contact Number</label>
                                                    {{ form.ho_contact_number }}
                                                    {{ form.ho_contact_number.errors }}
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Contact Person </label>
                                                    {{ form.ho_contact_person }}
                                                    {{ form.ho_contact_person.errors }}
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Email Address </label>
                                                    {{ form.ho_contact_email }}
                                                    {{ form.ho_contact_email.errors }}
                                                </div>
                                            </div>

                                        </div>
                                        <h6>Garden </h6>

                                        <div class="row">

                                            <div class="col-sm-4">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Contact Number</label>
                                                    {{ form.garden_contact_number }}
                                                    {{ form.garden_contact_number.errors }}
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Contact Person </label>
                                                    {{ form.garden_contact_person }}
                                                    {{ form.garden_contact_person.errors }}
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Email Address </label>
                                                    {{ form.garden_contact_email }}
                                                    {{ form.garden_contact_email.errors }}
                                                </div>
                                            </div>

                                        </div>


                                        <h6>Manager </h6>
                                        <div class="row">

                                            <div class="col-sm-4">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Contact Number</label>
                                                    {{ form.manager_contact_number }}
                                                    {{ form.manager_contact_number.errors }}
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Contact Person </label>
                                                    {{ form.manager_contact_person }}
                                                    {{ form.manager_contact_person.errors }}
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Email Address </label>
                                                    {{ form.garden_contact_email }}
                                                    {{ form.garden_contact_email.errors }}
                                                </div>
                                            </div>
                                        </div>

                                        <h6>Trustea Officer </h6>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Contact Number</label>
                                                    {{ form.trust_tea_officer_contact_number }}
                                                    {{ form.trust_tea_officer_contact_number.errors }}
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Contact Person </label>
                                                    {{ form.trust_tea_officer_contact_person }}
                                                    {{ form.trust_tea_officer_contact_person.errors }}
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Email Address </label>
                                                    {{ form.trust_tea_officer_contact_email }}
                                                    {{ form.trust_tea_officer_contact_email.errors }}
                                                </div>
                                            </div>
                                        </div>

                                        <h6>Data Operator </h6>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Contact Number</label>
                                                    {{ form.data_operator_contact_number }}
                                                    {{ form.data_operator_contact_number.errors }}
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Contact Person </label>
                                                    {{ form.data_operator_contact_person }}
                                                    {{ form.data_operator_contact_person.errors }}
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Email Address </label>
                                                    {{ form.data_operator_contact_email }}
                                                    {{ form.data_operator_contact_email.errors }}
                                                </div>
                                            </div>
                                        </div>

                                        <h5>Factory Details </h5>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Likely production in Mn. Kg.                                                    </label>
                                                    {{ form.factory_details_likely_production }}
                                                    {{ form.factory_details_likely_production.errors }}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Other Certificate </label>
                                                    {{ form.factory_details_other_certificate }}
                                                    {{ form.factory_details_other_certificate.errors }}
                                                </div>
                                            </div>
                                           
                                        </div>

                                        <h5>Ownership Details</h5>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Managing Company</label>
                                                    {{ form.ownership_details_managing_company }}
                                                    {{ form.ownership_details_managing_company.errors }}
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Name of the Tea Company </label>
                                                    {{ form.ownership_details_name_of_tea_company }}
                                                    {{ form.ownership_details_name_of_tea_company.errors }}
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Mailing Address </label>
                                                    {{ form.ownership_details_email }}
                                                    {{ form.ownership_details_email.errors }}
                                                </div>
                                            </div>
                                        </div>


                                        <h5>Production Tea Type</h5>
                                        <div class="row">
                                            <div class="col-lg-12 col-sm-12">
                                                <div class="table-responsive production">
                                                    <table class="table table-striped--- ">
                                                        {{ blf_tea_production_row_formset.management_form }}
                                                        <thead>
                                                            <tr>
                                                                <th colspan="4">Tea Production</th>
                                                            </tr>
                                                        </thead>
                                                        
                                                        <tbody>
                                                            {% for form in blf_tea_production_row_formset %}
                                                            <tr class='{% cycle "row1" "row2" %}  blf_formset_row_tea_production'>

                                                                <td>
                                                                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                                                    {{ form.id }}
                                                                </td>
                                                                <td>
                                                                    <label>Tea Type</label>
                                                                    {{ form.tea_type }}
                                                                </td>
                                                                <td>
                                                                    <label>Tea Grade</label>
                                                                    {{ form.tea_grade }}
                                                                </td>
                                                                <td>
                                                                    <label>Select Marks</label>
                                                                    {{ form.marks }}
                                                                </td>
                                                                <td>
                                                                    <label>Quantity</label>
                                                                    {{ form.quantity }}
                                                                </td>
                                                                <td></td>

                                                            </tr>

                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    
                                        <h5>Trough Details</h5>
                                        <div class="row">
                                            <div class="col-lg-12 col-sm-12">
                                                <div class="table-responsive through">
                                                    <table class="table table-striped--- ">
                                                        {{ blf_through_formset.management_form }}
                                                        <thead>
                                                            <tr>
                                                                <th colspan="4">
                                                                    Trough Details</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for form in blf_through_formset %}
                                                            <tr class='{% cycle "row1" "row2" %}  row_through'>

                                                                <td>

                                                                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                                                    {{ form.id }}
                                                                    <label>Capacity Qty</label>
                                                                    {{ form.capacity_qty }}
                                                                    {{ form.capacity_qty.errors }}

                                                                </td>
                                                                <td style="width: 100px;">
                                                                    <label>Size Width</label>
                                                                    {{ form.size_width }}
                                                                    {{ form.size_width.errors }}
                                                                </td>
                                                                <td >
                                                                   <br>
                                                                   <span>X</span>
                                                                </td>
                                                                <td style="width: 100px;">
                                                                    <label>Size Height</label>
                                                                    {{ form.size_height }}
                                                                    {{ form.size_height.errors }}
                                                                </td>

                                                                <td>
                                                                    <label>Through Name</label>
                                                                    {{ form.name }}</td>
                                                                <td>
                                                                    <label>Leaf Type</label>
                                                                    {{ form.leaf_type }}</td>
                                                                <td></td>

                                                            </tr>

                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <h5>Third Party System</h5>


                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field---">Easy weight system</label>                                                </label>
                                                    {{ form.easy_weight_system }}
                                                    {{ form.easy_weight_system.errors }}
                                                </div>
                                            </div>
                                        </div>


                                        
                                        







































                                <div class="row">

                                    <div class="col-lg-3 white-box-submit">
                                        <button type="submit" class="btn btn-block btn-success pt-2 pb-2">Continue
                                            </button>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}


{% block js %}

<script src="{% static 'formset/formset.js' %}"></script>
<script src="{% static 'select2/select2.full.min.js' %}"></script>


<script>
    $("#blf_form_id :input").prop("disabled", true);

</script>



<script>
    $(document).ready(function () {
        var conceptName = $('#is_fetch_from_tcms :selected').text();

        console.log(conceptName)

        if (conceptName == "YES") {
            $('#api-input-sec').show();
            $('#manual-input-sec').hide();
        } else if (conceptName == "NO") {
            $('#manual-input-sec').show();
            $('#api-input-sec').hide();
        }

    });

</script>



<script>
        $(".select2_tea_type").select2({
            placeholder: "Tea Type",
            width: '100%',
        });

        $(".select2_tea_grade").select2({
            placeholder: "Tea Grade",
            width: '100%',
        });
        
        $(".select2_marks").select2({
            placeholder: "Marks",
            width: '100%',
        });


$("#id_region").change(function () {

// var url = $("#formId").attr("data-state-url");
var url = "/ajax/load-state/"
var regionId = $(this).val();
$.ajax({

url: url,

data: {

    'region_id': regionId,

    // 'state_id':stateID,

},
success: function (data) {

    $("#id_state").html(data);

    // $("#id_district").html(data);
    console.log(data)
},

});

});




$("#id_region").change(function () {

// var url = $("#formId").attr("data-district-url");

var url = "/ajax/load-entity/"

var regionId = $(this).val();

$.ajax({

url: url,

data: {

'region_id': regionId,

// 'state_id':stateID,

}, success: function (data) {

$("#id_associated_entity").html(data);
console.log(data)
},

});

});

$("#id_state").change(function () {

// var url = $("#formId").attr("data-district-url");

var url = "/ajax/load-district/"

var stateId = $(this).val();

$.ajax({

url: url,

data: {

'state_id': stateId,

},

success: function (data) {

$("#id_district").html(data);

console.log(data)
},

});

});






















     $(document).ready(function () {
        $(".select2_entity").select2({
            placeholder: "Select Entity",
            width: '100%',
        });

        $(".select2_unit").select2({
            placeholder: "Select Unit",
            width: '100%',
        });
    });
    $('#select2_unit').select2('data');

</script>

<script>
    // ENTITY SECTION SCRIPT

    $('#is_fetch_from_tcms').on('change', function() {
        if (this.value == "YES") {
            $('#api-input-sec').show();
            $('#manual-input-sec').hide();
        } else if (this.value == "NO") {
            $('#manual-input-sec').show();
            $('#api-input-sec').hide();
        }
    });

    
    $('#api_entity_name').on('change', function () {

        var data = $(this).val();

        console.log(parseInt(data))

        $.ajax({
            url: '{% url "user_profile:unit_details" %}',
            data: {
                'id' : parseInt(data),
            },    
            dataType: 'json',
            success: function (response) {  
                // textToInsert = '<option selected value="' + response['value']  +'">' + response['value'] + '</option>';
                // $('#unit_details_id').html(textToInsert);

                // $("#unit_details_id").val("43");
                // $("#unit_details_id").select2().trigger('change');

                var option = new Option(response['value'], response['value'], true, true);
                $('#unit_details_id').append(option).trigger('change');
            },
            error: function (rs, e) {
                console.log(rs);
                console.log(e)
            }
        });

    });

    // Ajax for fetch unit details 

    $('#unit_details_id').on('change', function () {

        var data = $(this).val();

        console.log(parseInt(data))

        $.ajax({
            url: '{% url "user_profile:entity_details" %}',
            data: {
                'id' : parseInt(data),
            },    
            dataType: 'json',
            success: function (response) {  

                // textToInsert = '<option selected value="' + response['value']  +'">' + response['value'] + '</option>';
                // $('#entity_details_fetch_id').html(textToInsert);
                var option = new Option(response['value'], response['value'], true, true);
                $('#api_entity_name').append(option).trigger('change');

            },
            error: function (rs, e) {
                console.log(rs);
                console.log(e)
            }
        });

    });

</script>

<!-- Script for formset -->

<script>

    // $('.row_through').formset({
    //         addText: 'add more extra',
    //         deleteText: 'remove',
    //         prefix: '{{ blf_through_formset.prefix }}',
    //         formCssClass: 'dynamic-formset1',
    // });

    // $('.blf_formset_row_tea_production').formset({
    //     addText: 'add more extra',
    //     deleteText: 'remove',
    //     prefix: '{{ blf_tea_production_row_formset.prefix }}',
    //     formCssClass: 'dynamic-formset2',
    // });


</script>


{% endblock %}
