{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %} 
    Update Profile  for
<span class="text-capitalize">{{ profile_details.profile_type }}</span> -
<span class="text-capitalize">{{ profile_details.user.username }}</span>
{% endblock %}
{% block css %}
<link href="{% static 'select2/select2.min.css' %}" rel="stylesheet">
<style>
    .p-image {
    /* position: absolute; */
    top: 167px;
    right: 30px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    margin-top: -42px;
    margin-left: 15px!important;
}

.upload-profile-row {
    text-align: center;
    margin-top: 0px;
}
.profile-form-section {
    border: 1px solid #d8e5ef;
    border-radius: 8px;
    margin-bottom: 22px;
    overflow: hidden;
}
.profile-form-section__header {
    align-items: center;
    background: #f7fbfe;
    border-bottom: 1px solid #d8e5ef;
    display: flex;
    justify-content: space-between;
    padding: 16px 18px;
}
.profile-form-section__title {
    color: #3d4b56;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
.profile-form-section__body {
    padding: 18px;
}
.id-proof-row {
    align-items: start;
    display: grid;
    gap: 14px;
    grid-template-columns: minmax(180px, 1fr) minmax(180px, 1fr) minmax(220px, 1fr) 64px;
    margin-bottom: 14px;
}
.id-proof-remove {
    align-items: center;
    background: #f8fafc;
    border: 0;
    border-radius: 6px;
    color: #ff1f2d;
    display: inline-flex;
    height: 45px;
    justify-content: center;
    width: 48px;
}
.id-proof-delete-field {
    display: none;
}
.existing-proof-file {
    display: block;
    font-size: 13px;
    margin-top: 6px;
}
.form-field-errors {
    color: #ff4d4f;
    font-size: 13px;
    margin-top: 4px;
}
@media (max-width: 991px) {
    .id-proof-row {
        grid-template-columns: 1fr;
    }
    .id-proof-remove {
        width: 100%;
    }
}
</style>
{% endblock %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-3 ml-1 mr-1">
                <div class="col-sm-6">
                    <!-- <h6 class="font-weight-bold mt-3 text-muted">Username -  
                        <span class="text-capitalize"> {{ profile_details.user.username }} </span>
                    </h6> --></div>
                <div class="col-sm-6 text-right modalright">
                    <a type="button" href="{{ next_url }}" class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>
                        Back
                    </a>
                </div>
            </div>
            <!-- Small boxes (Stat box) -->
            <div class="row ml-1 mr-1">
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="white-box">
                            <form method="POST" role="form" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ next_url }}">
                                {{ form.id_proof_type.as_hidden }}
                                <h5>General Information</h5>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field">Name</label>
                                                    {{ form.name }}
                                                    {{ form.name.errors }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- textarea -->
                                                <div class="form-group">
                                                    <label class="required_field">Grower Type</label>
                                                    {{ form.grower_type }}
                                                    {{ form.grower_type.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 upload-profile-row">
                                        <div class="text-center ">
                                            <div class="img-uplod-section">
                                                <div class="circle">
                                                    {% if form.instance %}
                                                    {% if form.instance.photo %}
                                                    <img class="profile-pic" src="{{ form.instance.photo.url }}">
                                                    {% else %}
                                                    <img class="profile-pic" src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
                                                    {% endif %}
                                                {% else %}
                                                    <img class="profile-pic" src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
                                                    {% endif %}
                                                </div>
                                                <div class="p-image">
                                                    <i class="fa fa-camera upload-button"></i>
                                                    <input type="file" class="file-upload" name="photo">
                                                    {{ form.photo.errors }}
                                                </div>
                                                <label class=" mt-2 " style="margin-left: -50px;">
                                                    Upload Profile
                                                Picture
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="required_field">Region Name</label>
                                            {{ form.region }}
                                            {{ form.region.errors }}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="required_field">State</label>
                                            {{ form.state }}
                                            {{ form.state.errors }}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="required_field">District</label>
                                            {{ form.district}}
                                            {{ form.district.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="required_field">Associated Entity</label>
                                            {{ form.associated_entity }}
                                            {{ form.associated_entity.errors }}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="required_field---">Associated Aggregator</label>
                                            {{ form.associated_aggregator }}
                                            {{ form.associated_aggregator.errors }}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="required_field---">Father's name</label>
                                            {{ form.father_name }}
                                            {{ form.father_name.errors }}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label class="required_field---">Date of Birth</label>
                                            {{ form.date_of_birth }}
                                            {{ form.date_of_birth.errors }}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label class="required_field---">
                                                Age
                                            </label>
                                            {{ form.age }}
                                            {{ form.age.errors }}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label class="required_field---">Gender</label>
                                            {{ form.gender }}
                                            {{ form.gender.errors }}
                                        </div>
                                    </div>
                                </div>
                                <!-- <h5>Address Details</h5> -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label class="required_field---">Address</label>
                                            {{ form.address}}
                                            {{ form.address.errors }}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label class="required_field---">Village/Town</label>
                                            {{ form.village_or_town }}
                                            {{ form.village_or_town.errors }}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label class="required_field---">Post Office</label>
                                            {{ form.postoffice }}
                                            {{ form.postoffice.errors }}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label class="required_field---">Pin Code</label>
                                            {{ form.pincode }}
                                            {{ form.pincode.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="required_field---">Mobile No</label>
                                            {{ form.mobile_number }}
                                            {{ form.mobile_number.errors }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="required_field---">Aadhar No</label>
                                            {{ form.aadhar_no }}
                                            {{ form.aadhar_no.errors }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="required_field---">Voter ID</label>
                                            {{ form.voter_id }}
                                            {{ form.voter_id.errors }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="required_field---">Tea Board ID</label>
                                            {{ form.tea_board_id }}
                                            {{ form.tea_board_id.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-form-section">
                                    <div class="profile-form-section__header">
                                        <h5 class="profile-form-section__title">ID Proof Documents</h5>
                                        <button type="button" class="btn bg-success2 text-white pl-3 pr-3" id="add-id-proof-row">
                                            <i class="fa fa-plus mr-2" aria-hidden="true"></i>Add Proof
                                        </button>
                                    </div>
                                    <div class="profile-form-section__body">
                                        {{ attachment_formset.management_form }}
                                        <div id="id-proof-formset">
                                            {% for proof_form in attachment_formset.forms %}
                                            <div class="id-proof-row">
                                                {{ proof_form.id }}
                                                <div class="form-group mb-0">
                                                    <label>ID Proof Type</label>
                                                    {{ proof_form.attachment_name }}
                                                    <div class="form-field-errors">{{ proof_form.attachment_name.errors }}</div>
                                                </div>
                                                <div class="form-group mb-0">
                                                    <label>Document Number</label>
                                                    {{ proof_form.doc_no }}
                                                    <div class="form-field-errors">{{ proof_form.doc_no.errors }}</div>
                                                </div>
                                                <div class="form-group mb-0">
                                                    <label>Document Upload</label>
                                                    {{ proof_form.attachment }}
                                                    {% if proof_form.instance.pk and proof_form.instance.attachment %}
                                                    <a class="existing-proof-file" href="{{ proof_form.instance.attachment.url }}" target="_blank">
                                                        <i class="fa fa-paperclip mr-1" aria-hidden="true"></i>View uploaded document
                                                    </a>
                                                    {% endif %}
                                                    <div class="form-field-errors">{{ proof_form.attachment.errors }}</div>
                                                </div>
                                                <div class="form-group mb-0 pt-4">
                                                    <span class="id-proof-delete-field">{{ proof_form.DELETE }}</span>
                                                    <button type="button" class="id-proof-remove" title="Remove proof">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div id="empty-id-proof-form" class="d-none">
                                            <div class="id-proof-row">
                                                {{ attachment_formset.empty_form.id }}
                                                <div class="form-group mb-0">
                                                    <label>ID Proof Type</label>
                                                    {{ attachment_formset.empty_form.attachment_name }}
                                                </div>
                                                <div class="form-group mb-0">
                                                    <label>Document Number</label>
                                                    {{ attachment_formset.empty_form.doc_no }}
                                                </div>
                                                <div class="form-group mb-0">
                                                    <label>Document Upload</label>
                                                    {{ attachment_formset.empty_form.attachment }}
                                                </div>
                                                <div class="form-group mb-0 pt-4">
                                                    <span class="id-proof-delete-field">{{ attachment_formset.empty_form.DELETE }}</span>
                                                    <button type="button" class="id-proof-remove" title="Remove proof">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="required_field---">Total Male worker</label>
                                            {{ form.total_male_worker }}
                                            {{ form.total_male_worker.errors }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="required_field---">Total Female worker</label>
                                            {{ form.total_female_worker }}
                                            {{ form.total_female_worker.errors }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="required_field---">
                                                Estimated Production of Green Leaves per annum
                                                (in kg)
                                            </label>
                                            {{ form.estimated_production_of_green_tea }}
                                            {{ form.estimated_production_of_green_tea.errors }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="required_field---">
                                                Estimated Production of Made Tea per annum (in
                                                kg)
                                            </label>
                                            {{ form.estimated_production_of_made_tea}}
                                            {{ form.estimated_production_of_made_tea.errors }}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="required_field" id="show-required-id">
                                                Additional Information
                                                <span class="text-danger">( This field is mandatory for LTG Grower  )</span>
                                            </label>
                                            <label class="required_field---" id="hide-required-id">Additional Information</label>
                                            {{ form.additional_information}}
                                            {{ form.additional_information.errors }}
                                        </div>
                                    </div>
                                </div>
                                <!-- <h5>ID Proof Details</h5> -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <!-- 
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="required_field---">ID Proof Type </label>
                                                    {{ form.id_proof_type}}
                                                    {{ form.id_proof_type.errors }}
                                                </div>
                                            </div>
                                        </div> --></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 white-box-submit">
                                        <button type="submit" id="submit-create" class="btn btn-block btn-success pt-2 pb-2">
                                            Continue
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
{% block js %}
<script src="{% static 'select2/select2.full.min.js' %}"></script>
<script>
    $(document).ready(function () {
        var age = "";
        $('#dob').datepicker({
            onSelect: function (value, ui) {
                var today = new Date();
                age = today.getFullYear() - ui.selectedYear;
                $('#age').val(age);
            },
            changeMonth: true,
            changeYear: true
        })
    })
</script>
<script>
    function ageCalculator(sel) {
        var userinput = sel.value;
        var dob = new Date(userinput);
        if(userinput==null || userinput=='') {
            document.getElementById("message").innerHTML = "**Choose a date please!";  
        return false; 

        } else {
        //calculate month difference from current date in time
        var month_diff = Date.now() - dob.getTime();
        //convert the calculated difference in date format
        var age_dt = new Date(month_diff); 

        console.log(age_dt)
        
        
        //extract year from date    
        var year = age_dt.getUTCFullYear();

        console.log(year)
        //now calculate the age of the user
        var age = Math.abs(year - 1970);
        console.log(age)
        document.getElementById("age").value = age;
        //display the calculated age
        // return document.getElementById("result").innerHTML =  
        //         "Age is: " + age + " years. ";
        
        }
    }
    // function calculate_age(dob){ 
    //     var diff_ms = Date.now() - dob.getTime();
    //     var age_dt = new Date(diff_ms); 
    
    //     return Math.abs(age_dt.getUTCFullYear() - 1970);
    // }
</script>
<script>
    $(document).ready(function () {
        $(".select2_ass_agg").select2({
            placeholder: "Associated Aggregator",
            width: '100%',
        });
    });
    $(document).ready(function () {
        $(".select2_ass_entity").select2({
            placeholder: "Select Entity",
            width: '100%',
        });
    });
</script>
<script>

// Region Wise BLF list AJAX
$('#id_region').on('change', function () {
    var data = $(this).find('option').filter(':selected').val(); 
    console.log(data);

    $.ajax({
            url: "{% url 'user_profile:blf_list_region_wise' %}",
           
            data: {
                'id' : data,
            },    
            // dataType: 'json',
            success: function (data) {  

                $("#associated_entity").html(data);
            },
            error: function (rs, e) {
                console.log(rs);
                console.log(e)
            }
        });
});

$("#id_region").change(function () {
    // var url = $("#formId").attr("data-state-url");
    var url = "/ajax/load-state/"
    var regionId = $(this).val();
    $.ajax({
          url: url,
          data: {
            'region_id': regionId,
          },
          success: function (data) {
            $("#id_state").empty();
            $("#id_state").html(data);
        
            console.log(data)
          },
    });
});


// Aggregatror list BLF Wise

$('#associated_entity').on('change', function () {
    var data = $(this).find('option').filter(':selected').val(); 
    console.log(data);

    $.ajax({
            url: "{% url 'user_profile:aggregator_list_blf_wise' %}",
           
            data: {
                'id' : data,
            },    
            // dataType: 'json',
            success: function (data) {  
                $("#id_aggregator").html(data);
            },
            error: function (rs, e) {
                console.log(rs);
                console.log(e)
            }
        });
});





$(document).ready(function () {
    var data = $(this).find('option').filter(':selected').text(); 
    if(data == "LTG"){
            $("#id_additional_information").prop('required',true);
            $("#show-required-id").show();
            $("#hide-required-id").hide();       
        }
    else{
        $("#id_additional_information").prop('required',false);
        $("#show-required-id").hide();
        $("#hide-required-id").show();
    }
});

$("#submit").click(function(e){
    if($("#grower_type").is(':checked'))
    {
        $("#plot_name_id").prop('required',false);     

    }else{
        $("#plot_name_id").prop('required',true);
    }
    
});

$('#id_grower_type').on('change', function () {
    var data = $(this).find('option').filter(':selected').text(); 
    console.log(data);
    if(data == "LTG"){
        $("#id_additional_information").prop('required',true);
        $("#show-required-id").show();
        $("#hide-required-id").hide();
        
    }
    else{
        $("#id_additional_information").prop('required',false);
        $("#show-required-id").hide();
        $("#hide-required-id").show();
    } 
});

$("#id_state").change(function () {
    // var url = $("#formId").attr("data-district-url");
    var url = "/ajax/load-district/"
    var stateId = $(this).val();
    $('#id_district').empty();    
    
    $.ajax({
        url: url,
        data: {
            'state_id': stateId,
        },
        success: function (data) {
            $("#id_district").html(data);
            console.log(data)
        },
    });
});

$(document).ready(function () {
    var readURL = function (input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('.profile-pic').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $(".file-upload").on('change', function () {
        readURL(this);
    });
    $(".upload-button").on('click', function () {
        $(".file-upload").click();
    });
});

(function () {
    var formset = document.getElementById('id-proof-formset');
    var addButton = document.getElementById('add-id-proof-row');
    var totalForms = document.getElementById('id_idproof-TOTAL_FORMS');
    var emptyTemplate = document.getElementById('empty-id-proof-form');

    function bindRemoveButton(row) {
        var button = row.querySelector('.id-proof-remove');
        if (!button) {
            return;
        }
        button.addEventListener('click', function () {
            var deleteInput = row.querySelector('input[type="checkbox"][name$="-DELETE"]');
            var idInput = row.querySelector('input[type="hidden"][name$="-id"]');
            if (deleteInput && idInput && idInput.value) {
                deleteInput.checked = true;
                row.style.display = 'none';
            } else {
                row.remove();
            }
        });
    }

    if (addButton && formset && totalForms && emptyTemplate) {
        addButton.addEventListener('click', function () {
            var index = parseInt(totalForms.value, 10);
            var html = emptyTemplate.innerHTML.replace(/__prefix__/g, index);
            var wrapper = document.createElement('div');
            wrapper.innerHTML = html.trim();
            var row = wrapper.firstElementChild;
            formset.appendChild(row);
            totalForms.value = index + 1;
            bindRemoveButton(row);
        });
    }

    if (formset) {
        formset.querySelectorAll('.id-proof-row').forEach(bindRemoveButton);
    }
})();
</script>
{% endblock %}
