{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %} Profile List for <span class="text-capitalize">{{ user_type }}</span> {% endblock %}
{% block css %}  
    <style>
        .p-user-image{
            height: 40px;
            border-radius: 30px;
        }       
    </style>
{% endblock %}

{% block content %}










<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">


            <!-- Small boxes (Stat box) -->
            <div class="row">

                
                <div class="col-lg-12">
                    <div class="white-box">
                        <form role="form" action ="{% url 'user_profile_search' %}" method = "GET" enctype="multipart/form-data">
                            <div class="row">

                                <!-- <div class="col-lg-2">


                                    <select class="form-control">
                                        <option>User Type</option>
                                        
                                       
                                    </select>


                                </div> -->
                                <div class="col-lg-3">


                                    <input type="text" name="name " class="form-control"  placeholder="Name">


                                </div>
                                <div class="col-lg-3">


                                    <input type="text" name="mobile_number " class="form-control"  placeholder="Contact no">


                                </div>
                                <div class="col-lg-2">


                                    <input type="text" name="user_id" class="form-control"  placeholder="User Id">


                                </div>
                                <div class="col-lg-2 mt-4---">

                                    <button type="submit" class="btn btn-success rounded-pill pl-4 pr-4"> <i
                                            class="fas fa-search mr-2"></i> Search</button>




                                </div>




                            </div>
                        </form>
                    </div>

                </div>

            </div>

            <div class="row mb-3 ml-1 mr-1 mt-5">
                <div class="col-sm-6">
                    <h6 class="font-weight-bold mt-3 text-muted"><span class="text-capitalize">{{ user_type }}</span> List</h6>





                </div>
                <div class="col-sm-6 text-right modalright">


                    <a type="button" href="{% url 'user_profile:user_create' usertype_slug=user_type %}" class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-plus mr-2" aria-hidden="true"></i>Add <span class="text-capitalize">{{ user_type }}</span>
                    </a>
                
                
                </div>
                
            </div>

            <div class="row ml-2 mr-2">

                <div class="col-lg-12">

                    <div class="card report-page">

                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sr. No</th>
                                            <th>Username/ID</th>
                                            <th>Name</th>
                                            <!-- <th>User Type</th> -->
                                            <th>Region</th>
                                            <th>Contact Number</th>
                                            <th>Picture</th>
                                            <th>User Status</th>
                                            <th>Print QR</th>
                                            <!-- <th>Garden Action</th> -->
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
    
                                        {% for item in profile_list %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ item.user.username }}</td>
                                            <td class="text-capitalize">{{ item.name }}</td>
                                            <td class="text-capitalize">{% if item.region %}{{ item.region }}{% else %} NA {% endif %}</td>
                                            <!-- <td>{{ item.profile_type }}</td> -->
                                            <td>{% if item.mobile_number %}{{ item.mobile_number }}{% else %} NA {% endif %}</td>
                                            <td>
                                                {% if item.user_file %} 
                                                    <img src="{{ item.user_file.url }}" class="p-user-image"  alt="{{ item.name }}">
                                                {% else %} 
                                                    <img src="{% static 'user.png' %}" class="" alt="{{ item.name }}" >
                                                {% endif %}
                                            </td>
                                            <td>active <i class="fa fa-check" style="font-size:12px;color:rgb(5, 87, 32);font-weight: 700;"></i></td>
                                            <td><i class="fa fa-print" style="font-size:12px;color:rgb(5, 87, 32);font-weight: 700;"></i></td>
                                            <!-- <td></td> -->
                                            
                                            <td class="project-actions text-right">                          
                                                <a class=" mr-3" href="{% url edit_url user_create_pk=item.user.id %}"><i class="fa fa-edit"></i></a>
                                                <a class="js-delete-confirm" href="{% url 'user_profile:user_profile_delete' user_create_pk=item.user.id user_type=user_type  %}" data-confirm-text="Are you sure you want to remove this User Profile?"><i class="fa fa-trash"></i> </a>
                                            </td>
    
    
                                        </tr>
    
                                        {% endfor %}
    
    
    
                                    </tbody>
                                </table>
                            </div>
                       
                        </div>
                        <!-- /.card-body -->
                    </div>


                </div>

            </div>






            <!-- /.row -->



        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->



{% endblock %}


{% block js %}
<script>
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
    });
</script>

{% endblock %}
