{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %} 
    Update Profile  for  
    <span class="text-capitalize">{{ profile_details.profile_type }}</span> - <span class="text-capitalize">{{ profile_details.user.username }} </span>
{% endblock %}
{% block css %}
{% endblock %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-3 ml-1 mr-1">
                <div class="col-sm-6">
                    <h6 class="font-weight-bold mt-3 text-muted">Add New <span class="text-capitalize">{{ profile_type }}</span></h6>
                </div>
                <div class="col-sm-6 text-right modalright">

                </div>
            </div>
            <!-- Small boxes (Stat box) -->
            <div class="row ml-1 mr-1">
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="white-box">


                            <form method='POST' role="form">
                                {% csrf_token %}

                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label>Username/User ID</label>
                                                    {{ form.username }}
                                                    {{ form.username.errors }}
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    {{ form.email }}
                                                    {{ form.email.errors }}
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label>Password</label>
                                                    {{ form.password1 }}
                                                    {% if form.password1.errors %}
                                                    {{ form.password1.errors }}
                                                    {% else %}
                                                    <!-- <ul class="errorlist">
                                                        <li>It must contain at least 8 characters.</li>
                                                        <li>The password must contain at least 1 digit, 0-9.</li>
                                                        <li>The password must contain at least 1 uppercase letter, A-Z.</li>
                                                        <li>The password must contain at least 1 special character - ()[]{}|\`~!@#$%^&*_-+=;:'\",<>./?</li>
                                                     
                                                    </ul> -->
                                                    {% endif %}
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label>Confirm Password</label>
                                                    {{ form.password2 }}
                                                    {{ form.password2.errors }}
                                                </div>
                                            </div>
                                            
                                        </div>
                                    
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-lg-3 white-box-submit">
                                        <button type="submit"
                                            class="btn btn-block btn-success pt-2 pb-2">Create User</button>
                                        </div>

                                    <!-- <div class="col-lg-3 white-box-reset"><button type="button"
                                            class="btn btn-block btn-default pt-2 pb-2">Reset</button></div> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}

{% block js %}

{% endblock %}