{% extends 'base.html' %}
{% load static %}
{% load poll_extras %}
{% block title %}{% endblock %}
{% block page_header_title %} Profile List for 
{% if user_type == "blf" %}
<span class="text-uppercase">{{ user_type }}</span>
{% else %}
<span class="text-capitalize">{{ user_type }}</span>
{% endif %}
{% endblock %}

{% block content %}
<div class="content-wrapper" style="min-height: 559px;">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="white-box">
                        <form role="form" method="GET" action="/user-search/">
                            <input
                                type="hidden"
                                name="user_type"
                                value="grower"
                                readonly=""
                            >
                            <div class="row">
                                <div class="col-lg-2">
                                    <input
                                        type="text"
                                        name="user_id"
                                        class="form-control"
                                        value=""
                                        placeholder="User Id/ Username"
                                    >
                                    <!-- <select  name="user_id"  class="form-control select2_user">
                                        
                                            <option value="" selected>User Id/ Username</option>
                                        

                                        
                                            <option value="RKA2795">RKA2795</option>
                                        
                                            <option value="LKA2794">LKA2794</option>
                                        
                                            <option value="HKA2793">HKA2793</option>
                                        
                                            <option value="RKA2792">RKA2792</option>
                                        
                                            <option value="CKA2791">CKA2791</option>
                                        
                                            <option value="JKA2790">JKA2790</option>
                                        
                                            <option value="RME2789">RME2789</option>
                                        
                                            <option value="JME2788">JME2788</option>
                                        
                                            <option value="HKA2787">HKA2787</option>
                                        
                                            <option value="NKA2786">NKA2786</option>
                                        
                                    </select> -->
                                </div>
                                <div class="col-lg-2">
                                    <input
                                        type="text"
                                        name="name"
                                        class="form-control"
                                        value=""
                                        placeholder="Name"
                                    >
                                    <!-- <select  name="name"  class="form-control select2_name">
                                        
                                            <option value="" selected>Name</option>
                                        

                                        
                                            <option value="R.RAJAN">R.RAJAN</option>
                                        
                                            <option value="L.NANDAKUMAR">L.NANDAKUMAR</option>
                                        
                                            <option value="H.SAGADEVAN">H.SAGADEVAN</option>
                                        
                                            <option value="R.MURUGAN">R.MURUGAN</option>
                                        
                                            <option value="C.RANI">C.RANI</option>
                                        
                                            <option value="J.VIVEK">J.VIVEK</option>
                                        
                                            <option value="R.BALAKRISHNAN">R.BALAKRISHNAN</option>
                                        
                                            <option value="J.GANDHI">J.GANDHI</option>
                                        
                                            <option value="H.KUMAR">H.KUMAR</option>
                                        
                                            <option value="N.VISU">N.VISU</option>
                                        

                                    </select> -->
                                </div>
                                <div class="col-lg-2">
                                    <!-- <input type="tel" name="associated_entity" class="form-control" value=""  placeholder="Associated Entity"> -->
                                    <select
                                        name="associated_entity"
                                        class="form-control select2_entity select2-hidden-accessible"
                                        tabindex="-1"
                                        aria-hidden="true"
                                    >
                                        <option value="" selected="">Associated Entity</option>
                                    </select>
                                    <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;">
                                        <span class="selection">
                                            <span
                                                class="select2-selection select2-selection--single"
                                                role="combobox"
                                                aria-autocomplete="list"
                                                aria-haspopup="true"
                                                aria-expanded="false"
                                                tabindex="0"
                                                aria-labelledby="select2-associated_entity-ur-container"
                                            >
                                                <span class="select2-selection__rendered" id="select2-associated_entity-ur-container">
                                                    <span class="select2-selection__placeholder">Asso.. Entity</span>
                                                </span>
                                                <span class="select2-selection__arrow" role="presentation">
                                                    <b role="presentation"></b>
                                                </span>
                                            </span>
                                        </span>
                                        <span class="dropdown-wrapper" aria-hidden="true"></span>
                                    </span>
                                </div>
                                <div class="col-lg-2">
                                    <input
                                        type="text"
                                        name="mobile_number"
                                        id="mobile_number"
                                        class="form-control"
                                        placeholder="Contact no"
                                        value=""
                                        maxlength="10"
                                        title="Please enter a valid mobile number (10 digits)"
                                    >
                                </div>
                                <div class="col-lg-2 col-md-6 mt-4---">
                                    <button type="submit" class="btn btn-success rounded-pill btn-block pl-4 pr-4">
                                        <i class="fas fa-search mr-2"></i> Search
                                    </button>
                                </div>
                                <div class="col-lg-2 col-md-6 mt-4---">
                                    <a href="/user-list/grower/" class="btn btn-success rounded-pill btn-block pl-4 pr-4 text-white">
                                        <i class="fas fa-eye mr-2 text-white"></i> Show All
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="row mb-3 ml-1 mr-1 mt-5">
                <div class="col-sm-6">
                    <h6 class="font-weight-bold mt-3 text-muted">
                        <span class="text-capitalize">grower</span>
                        List&nbsp; (74309)
                    </h6>
                </div>
                <div class="col-sm-6 text-right modalright user-add-btn">
                    <a type="button" href="/user/create/grower/" class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-plus mr-2" aria-hidden="true"></i>
                        Add
                        <span class="text-capitalize">grower</span>
                    </a>
                </div>   
            </div>
            <div class="row ml-2 mr-2">
                <div class="col-lg-12">
                    <div class="card report-page">
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sr. No</th>
                                            <th>Username/ID</th>
                                            <th>Name</th>
                                            <th>Grower Type</th>
                                            <th>Associated Entity</th>
                                            <th>Gardens</th>
                                            <!-- <th>QR Code</th> -->
                                            <th>Visiting Card</th>
                                            <th>User Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        <td>

                                            fefwefw {{context}}
                                        </td>
                                        


                                    </tbody>



                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>


                    {% if profile_list.has_other_pages %}
                    <div class="d-flex justify-content-cente paggination-sec">
                        <div class="">
                            <nav class="">
                                <ul class="pagination">
                                    {% if profile_list.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ profile_list.previous_page_number }}&user_type={{ user_type }}" tabindex="-1">Previous</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <span class="page-link">Previous</span>
                                        </li>
                                    {% endif %}
                
                                    {% for i in profile_list.paginator.page_range %}
                                        {% if profile_list.number == i %}
                                            <li class="page-item active">
                                                <span class="page-link">{{ i }}</span>
                                            </li>
                                        {% elif i > profile_list.number|add:'-3' and i < profile_list.number|add:'3' %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ i }}&user_type={{ user_type }}">{{ i }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                
                                    {% if profile_list.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ profile_list.next_page_number }}&user_type={{ user_type }}">Next</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <span class="page-link">Next</span>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                {% endif %}



                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
{% endblock %}
