<div class="col-lg-12">
    <div class="card report-page">
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Sr. No</th>
                            <th>Type</th>
                            <th>{% if is_fertilizer %}Fertilizer{% else %}Chemical{% endif %} Name</th>
                            <th>Local Name</th>
                            <th>Manufacturer</th>
                            <th>Composition</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if chemical_list %}
                            {% for item in chemical_list %}
                            <tr>
                                <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                                <td>{{ item.chemical_type|default:"NA" }}</td>
                                <td class="text-capitalize">{{ item.chemical_name|default:"NA" }}</td>
                                <td class="text-capitalize">{{ item.brand_local_name|default:"NA" }}</td>
                                <td class="text-capitalize">{{ item.manufacturer|default:"NA" }}</td>
                                <td class="text-capitalize">{{ item.composition|default:"NA" }}</td>
                                <td class="project-actions text-left">
                                    <div class="dropdown">
                                        <button class="action-menu-button" type="button"
                                                data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            <i class="fa fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item action-link"
                                               href="{% url 'chemical_data:chemical_view' id=item.id %}?next={{ current_list_url|urlencode }}">
                                                <i class="fa fa-eye"></i><span>View</span>
                                            </a>
                                            <a class="dropdown-item action-link"
                                               href="{% url 'chemical_data:chemical_edit' id=item.id %}?next={{ current_list_url|urlencode }}">
                                                <i class="fa fa-edit"></i><span>Edit</span>
                                            </a>
                                            <a class="dropdown-item action-link"
                                               href="{% url 'chemical_data:chemical_delete' id=item.id %}?next={{ current_list_url|urlencode }}"
                                               data-confirm-text="Are you sure you want to delete this record?">
                                                <i class="fa fa-trash"></i><span>Delete</span>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="7" class="text-center text-danger">Sorry! No Record Found.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% if is_paginated %}
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?q={{ search_query }}&page={{ page_obj.previous_page_number }}"
                   data-page="{{ page_obj.previous_page_number }}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            {% endif %}

            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
                </li>
                {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                <li class="page-item">
                    <a class="page-link" href="?q={{ search_query }}&page={{ i }}" data-page="{{ i }}">{{ i }}</a>
                </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?q={{ search_query }}&page={{ page_obj.next_page_number }}"
                   data-page="{{ page_obj.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
