{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %}
{% if is_fertilizer %}Fertilizer{% else %}Chemical{% endif %} Management
{% endblock %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<style>
/* upload image */

.profile-pic {
      width: 200px;
      max-height: 200px;
      display: inline-block;
  }

  .file-upload {
      display: none!important;
  }

  img {
      max-width: 100%;
      height: auto;
  }
  .p-image {
    /* position: absolute; */
    top: 167px;
    right: 30px;
    color: #666666;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    margin-top: -42px;
    margin-left: 91px;
  }
  .p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }
  .upload-button {
    font-size: 1.2em;
    color: #0D7A3D;
  }

  .upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
  }

  .circle {
    border-radius: 100% !important;
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    /* position: absolute; */
    top: 72px;
    border: 1px solid #cfbfbf;
    margin-bottom: 18px;
  }

  .p-img-sec .errorlist li {
    color: rgb(237 94 94)!important;
    padding: 10px 0px 0;
    list-style-type: none;
    font-size: 14px;
    font-weight: 600;
    margin-left: -131px;
 }
</style>
{% endblock %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-3 ml-1 mr-1">
                <div class="col-sm-6">
                    <h6 class="font-weight-bold mt-3 text-muted">
                        {% if not form.instance.pk %}
                            Add New {% if is_fertilizer %}Fertilizer{% else %}Chemical{% endif %}
                        {% else %}
                            Edit {% if is_fertilizer %}Fertilizer{% else %}Chemical{% endif %}
                        {% endif %}
                    </h6>
                </div>
                <div class="col-sm-6 text-right modalright">
                    <a type="button" href="{{ next_url }}" class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back 
                    </a>
                </div>
            </div>
            <!-- Small boxes (Stat box) -->
            <div class="row ml-1 mr-1">
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="white-box">


                            <form method='POST' role="form" id="create-form" > 
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ next_url }}">
                                {% if is_fertilizer %}{{ form.chemical_type }}{% endif %}
                                <h5>{% if is_fertilizer %}Fertilizer{% else %}Chemical{% endif %} {% if not form.instance.pk %}Create{% else %}Edit{% endif %}</h5>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            {% if not is_fertilizer %}
                                            <div class="col-sm-6">
                                                
                                                <div class="form-group">
                                                    <label class="required_field">Chemical Type</label>
                                                    {{ form.chemical_type }}
                                                </div>
                                               
                                            </div>
                                             {% endif %}
                                            <div class="col-sm-6">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field">{% if is_fertilizer %}Fertilizer{% else %}Chemical{% endif %}  Name</label>
                                                    {{ form.chemical_name }}
                                                    {{ form.chemical_name.errors }}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Manufacturer</label>
                                                    {{ form.manufacturer}}
                                                    {{ form.manufacturer.errors }}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                              <!-- text input -->
                                              <div class="form-group">
                                                  <label class="required_field---">Brand Name /Local Trade Name</label>
                                                     {{ form.brand_local_name }}
                                                    {{ form.brand_local_name.errors }}
                                              </div>
                                          </div>
                                            <div class="col-sm-4">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---">Chemical Composition:</label>
                                                    {{ form.composition }}
                                                    {{ form.composition.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-lg-3 white-box-submit">
                                        <button type="submit"
                                            class="btn btn-block btn-success pt-2 pb-2">{% if not form.instance.pk %}Add {% if is_fertilizer %}Fertilizer{% else %}Chemical{% endif %}{% else %}Update {% if is_fertilizer %}Fertilizer{% else %}Chemical{% endif %}{% endif %}</button>
                                        </div>
                                        {% if not form.instance.pk %}
                                        <div class="col-lg-3 white-box-reset">
                                            <button type="button" id="resetButton" 
                                            class="btn btn-block btn-default pt-2 pb-2">Reset</button>
                                        </div>
                                        {% endif %}  
                                    <!-- <div class="col-lg-3 white-box-reset"><button type="button"
                                            class="btn btn-block btn-default pt-2 pb-2">Reset</button></div> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}

{% block js %}
<script src="{% static 'select2/select2.full.min.js' %}"></script>

<script>
        $(document).ready(function(){
        $("#resetButton").on("click", function(e){
            console.log("reset btn");
            // location.reload();
            $("#create-form").get(0).reset()
            $('#select2-chemical_type').val(null).trigger('change');
            // $('#select2-land_type').val(null).trigger('change');
            
        });
    });
    $(document).ready(function () {

      $(".select2_demo_1").select2({
        placeholder: "Select Chemical Type",
        width: '100%',
      });
    });
  </script>

{% endblock %}



