{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %} User Management {% endblock %}
{% block css %}

<link href="{% static 'select2/select2.min.css' %}" rel="stylesheet" />
<link href="{% static 'switchery/switchery.css' %}" rel="stylesheet">

{% endblock %}
{% block content %}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-3 ml-1 mr-1 ">
                <div class="col-sm-6 ">
                    <h6 class="font-weight-bold  text-muted">{% if not form.instance.pk %} Add New Division {% else %} Edit Division{% endif %}</h6>
                </div>
                <div class="col-sm-6  text-right modalright">
                    <a type="button" href="{% url 'gardens_managment:garden_details' grower_pk=grower_details.pk %}" class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back 
                    </a>
                </div>
            </div>
            <!-- Small boxes (Stat box) -->
            <div class="row ml-1 mr-1">
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="white-box">

                            <form method='POST' role="form" id="create-form" >
                                {% csrf_token %}
                                <h5>  {% if not form.instance.pk %} Create New {% else %} Edit {% endif %} Division </h5>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <label class="required_field">Division Name</label>
                                                    {{ form.name }}
                                                    {{ form.name.errors }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h5>Section</h5>
                                <!--  Section Details Formset  -->
                                <div id="show-d---">
                                    <div class="row">
                                        <div class="col-lg-12 col-sm-12">

                                            <div class="alert alert-danger" role="alert" id="sumation_alert" style="display: none;">
                                                Total Section Production Area Cannot be Greater than Garden Production Area!<br>
                                                Total Garden Production Area is {{ total }}.
                                            </div>

                                            
                                            <div class="table-responsive">
                                                <table class="table table-striped--- ">
                                                    {{ section_form_set.management_form }}
                                                    
                                                    <thead>
                                                        <tr>
                                                            <th colspan="4">
                                                                Add New Section</th>
                                                                
                                                                <th></th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        {% for form in section_form_set %}
                                                        <tr class='{% cycle "row1" "row2" %}  formset_row2'>
                                                            

                                                            {{ form.garden }} 
                                                            
                                                            <td>
                                                                {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                                                {{ form.id }}
                                                            </td>
                                                            <td>
                                                                {{ form.name }}
                                                                {{ form.name.errors }}
                                                            </td>

                                                            <td>
                                                                {{ form.section_area }}
                                                                {{ form.section_area.errors }}
                                                            </td>
                                                            <td></td>
                                                            
                                                        </tr>
    
                                                        {% endfor %}


                                                        
                                                    </tbody>

                                                    <!-- <tfoot>
                                                        <tr>
                                                            <td></td>
                                                            <td>Total</td>
                                                           
                                                        </tr>
                                                    </tfoot>  -->

                                                    <input type="hidden" id="id_total" class="form-control">

                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">      
                                    <div class="col-lg-3 white-box-submit">
                                        <button type="submit" class="btn btn-block btn-success pt-2 pb-2" id="create-button">Create</button>
                                    </div>
                                    {% if not form.instance.pk %}
                                    <div class="col-lg-3 white-box-reset">
                                        <button type="button" id="resetButton" 
                                        class="btn btn-block btn-default pt-2 pb-2">Reset</button>
                                    </div>
                                    {% endif %}
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


{% endblock %}

{% block js %}

<script src="{% static 'select2/select2.full.min.js' %}"></script>
<script src="{% static 'formset/garden.formset.js' %}"></script>






<script>


    $(document).ready(function(){
        $("#resetButton").on("click", function(e){
            console.log("reset btn");
            $("#create-form").get(0).reset();
            
        });
        $("#id_garden_division_section-0-garden").val("58");
    });

    $(document).ready(function () {
        $('.formset_row2').formset({
            addText: 'add more extra',
            deleteText: 'remove',
            prefix: '{{ section_form_set.prefix }}',
            formCssClass: 'dynamic-formset1',
        });

    });



</script>

<script type="text/javascript">
    var elem = document.querySelector('.js-switch_1');
    var init = new Switchery(elem);
</script>

<script>
    $(document).ready(function(){


      $("#id_is_division").change(function(e){
        console.log("Hello world!");
        console.log(e.target.checked);
        if (e.target.checked) {
            $("#show-p").hide();  
            $("#show-d").show(); 
        } else {
            $("#show-p").show();
            $("#show-d").hide();
        }
        
      });
      
    });
</script>

<script>
    $(document).ready(function () {

      $(".select2_demo_1").select2({
        placeholder: "Select Tea Garden Type",
        width: '100%',
      });
    });
  </script>

<script>

    function product_type_change(sel) {
    
            totalForms = $('#id_{{ section_form_set.prefix }}-TOTAL_FORMS');
            var form_count = totalForms.val();
            console.log(form_count)
            var total_amount = 0.00;
            var i;
            for (i = 0; i < form_count; i++) {
                total_amount += parseFloat($('#id_garden_division_section-' + i + '-section_area').val());
            }

            console.log(total_amount)

            document.getElementById('id_total').value = total_amount
    
            var garden_total = "{{ total }}"

            var section_before_total = "{{ total_sec_area }}"

            var final_section_total = total_amount + parseFloat(section_before_total);

            if (final_section_total > parseFloat(garden_total)){
                document.getElementById("sumation_alert").style = "display:block";
                document.getElementById("create-button").disabled = true;
                document.getElementById("resetButton").disabled = true;
            } else {
                document.getElementById("sumation_alert").style = "display:none";
                document.getElementById("create-button").disabled = false;
                document.getElementById("resetButton").disabled = false;
            }
    
    
        }
    
    </script>


<script>

    function removal_type_change(sel) {
    
            totalForms = $('#id_{{ section_form_set.prefix }}-TOTAL_FORMS');
            var form_count = totalForms.val();
            console.log(form_count)
            var total_amount = 0.00;
            var i;
            for (i = 0; i < form_count; i++) {
                total_amount += parseFloat($('#id_garden_division_section-' + i + '-section_area').val());
                current_amount = parseFloat($('#id_garden_division_section-' + i + '-section_area').val());
            }

            console.log(total_amount - current_amount)

            removed_total_amount = total_amount - current_amount

            document.getElementById('id_total').value = removed_total_amount
    
            var garden_total = "{{ total }}"

            var section_before_total = "{{ total_sec_area }}"

            var final_section_total = removed_total_amount + parseFloat(section_before_total);

            if (final_section_total > parseFloat(garden_total)){
                document.getElementById("sumation_alert").style = "display:block";
                document.getElementById("create-button").disabled = true;
                document.getElementById("resetButton").disabled = true;
            } else {
                document.getElementById("sumation_alert").style = "display:none";
                document.getElementById("create-button").disabled = false;
                document.getElementById("resetButton").disabled = false;
            }
    
    
        }
    
    </script>
{% endblock %}