{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %} Garden Details{% endblock %}
{% block css %}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="{% static 'switchery/switchery.css' %}" rel="stylesheet">

<style>
    .white-box .form-control {
    display: block;
    width: 100%;
    height: calc(2.6rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6F96AA;
    background-color: #ededed;
    background-clip: padding-box;
    border: 1px solid #dfe3e5;
    border-radius: 7px;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
</style>

{% endblock %}



{% block content %}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-3 ml-1 mr-1 ">
                <div class="col-sm-6 ">
                    <h6 class="font-weight-bold  text-muted text-capitalize">Grower Name - {{ grower_details.name }} </h6>
                </div>
                <div class="col-sm-6  text-right modalright">

                    <a type="button" href="{% url 'user_profile:all_users' usertype_slug=grower_details.profile_type %}" class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back 
                    </a>

                    <a type="button" href="{% url 'gardens_managment:garden_update' garden_pk=garden_details.pk grower_pk=grower_details.pk %}" class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-edit mr-2" aria-hidden="true" class="text-white"></i>Edit 
                    </a>
                    
                </div>
            </div>
            <!-- Small boxes (Stat box) -->
            <div class="row ml-1 mr-1">
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="white-box">

                            
                               
                                <h5>Garden - {{ garden_details.name }}</h5>
                                <div class="row">
                                    <div class="col-sm-8">


                                        <div class="row">
                                            <input type="hidden" class="fomt-control" name="grower" value="{{ grower_details.id }}">
                                                    
                                                    <!-- <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="required_field">Grower</label>

                                    
                                                            {{ form.grower }}
                                                            {{ form.grower.errors }}
                                                        </div>
                                                    </div> -->
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field---">Land Type</label>
                                                    <input type="text" value="{{ garden_details.land_type }}" class="form-control" readonly>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field---"> Garden Name</label>
                                                    <input type="text" value="{{ garden_details.name }}" class="form-control" readonly>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field---"> Production Area (hec)</label>
                                                    <input type="text" value="{{ garden_details.production_area }}" class="form-control" readonly>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                                {% if garden_details.is_division  %}

                                <h5>Division</h5>
                                 <h3>Total Area = {{ total_section_area }}</h3>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="col-lg-6 white-box-submit">
                                                <a type="button" href="{% url 'gardens_managment:division_create' garden_pk=garden_details.pk  %}" 
                                                class="btn bg-success2 text-white pl-3 pr-3" style="width: 150px;">
                                                    <i class="fa fa-plus mr-2" aria-hidden="true"></i>Add Division 
                                                </a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                                {% if division_list %}
                                <div>
                                    <h5 style="    background-color: #f6f7f6!important;
                                    color: #000;">Division List</h5>
                                    <div class="row">
                                        <div class="col-lg-12 col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-striped--- ">
                                                    
                                                    <thead>
                                                        <tr>
                                                            <th>Sr. No</th>
                                                            <th>Division Name</th>
                                                            <th>Section</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        {% for item in division_list %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td class="text-capitalize">{{ item.name }}</td>
                                            <td class="text-capitalize">
                                                
                                                {% if item.garden_division_section.all %}

                                                <a  href="{% url 'gardens_managment:section_details' division_pk=item.pk garden_pk=garden_details.pk %}"  class="btn bg-success2 btn-xs text-white pl-3 pr-3"> 
                                                    <i class="fas fa-list mr-2 text-white" aria-hidden="true"></i>View Section</a>


                                                {% else %}



                                                {% endif %}
                                            
                                            
                                            </td>
                                            <td class="project-actions ">                          
                                                
                                                <a class=" mr-3" href="{% url 'gardens_managment:division_update' garden_pk=item.garden_id division_pk=item.pk %}">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                                
                                                <a class="" href="{% url 'gardens_managment:division_delete' division_pk=item.pk %}" onclick="return confirm('Are you sure you want to remove this User Division?');">
                                                    <i class="fa fa-trash"></i> 
                                                </a>
                                            
                                            </td>
                                        </tr>
                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>



                                {% endif %}


                                {% elif garden_details.is_plot  %}

                                <!--  Plot Details Formset  -->

                                <div>
                                    <h5>Plot Details</h5>
                                    <div class="row">
                                        <div class="col-lg-12 col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-striped--- ">
                                                    
                                                    <thead>
                                                        <tr>
                                                            <th >
                                                                Plot Name</th>
                                                                <th>Plot Area</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        {% for plot_item in garden_details.garden_plot.all %}
                                                        <tr class='{% cycle "row1" "row2" %}'>
    
                                                            <td class="text-capitalize"> {{ plot_item.name }}</td>
                                                            <td class="text-capitalize">{% if plot_item.plot_area %}{{ plot_item.plot_area }} {% else %} {% endif %}</td>
                                                          
                                                            
                                                        </tr>
    
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                {% endif %}

                               
                                </div>

                          

                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


{% endblock %}

{% block js %}

<script src="{% static 'select2/select2.full.min.js' %}"></script>

<script src="{% static 'switchery/switchery.js' %}"></script>
<script src="{% static 'formset/jquery.formset.js' %}"></script>







<script>
    // Reset Form
    $(document).ready(function(){
        $("#resetButton").on("click", function(e){
            console.log("reset btn");
            // location.reload();
            $("#create-form").get(0).reset()
            $('#select2-grower').val(null).trigger('change');
            $('#select2-land_type').val(null).trigger('change');
            
        });
    });

</script>

<script>
    $(document).ready(function () {

      $(".select2_demo_1").select2({
        placeholder: "Select Grower",
        width: '100%',
        allowClear: true,

      });

      $(".select2_demo_2").select2({
        placeholder: "Select Land Type",
        width: '100%',
        allowClear: true,

      });
    });
  </script>


<script>
    $(document).ready(function () {

        $('.formset_row').formset({
            addText: 'add more extra',
            deleteText: 'remove',
            prefix: '{{ plot_details_form_set.prefix }}',
            formCssClass: 'dynamic-formset1',
        });

        $('.formset_row2').formset({
            addText: 'add more extra',
            deleteText: 'remove',
            prefix: '{{ division_form_set.prefix }}',
            formCssClass: 'dynamic-formset1',
        });

    });
</script>

<script type="text/javascript">
    var elem = document.querySelector('.js-switch_1');
    var init = new Switchery(elem);
</script>

<script>
    $(document).ready(function(){

      $("#id_is_division").change(function(e){
        console.log("Hello world!");
        console.log(e.target.checked);
        if (e.target.checked) {
            console.log("True Here");
            $("#show-p").hide();

        } else {
            console.log("False Here");
            $("#show-p").show();
             
        }
        
      });
      
    });

    $("#submit").click(function(e){
        if($("#id_is_division").is(':checked'))
        {
            $("#plot_name_id").prop('required',false);     

        }else{
            $("#plot_name_id").prop('required',true);
        }
        
    });

    $(document).ready(function () {
        if($("#id_is_division").is(':checked'))
        {
            $("#show-p").hide();   

        }else{
            $("#show-p").show();
        }
    });







</script>


{% endblock %}