
<style>


        .signature-line {
            border-top: 2px solid black;
            margin-top: 5px;
        }
</style>


<table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;background:#ffffff;">
  <tr>
    <td align="center" style="padding:0;">
      <table role="presentation" cellspacing="0" cellpadding="0" style="width:100%;  border-collapse:collapse; border:0px solid #eee;border-spacing:0;text-align:left;">
  
        <p class="s1" style="text-indent: 0pt;line-height: 13pt;text-align: right;">Report generated as on {% now "d/m/Y" %}
        </p>
        <p class="s2" style="padding-top: 1pt;text-indent: 0pt;text-align: center;">{{blf_profile.entity_name }}
            ({{blf_profile.user}})</p>
        <p style="padding-top: 1pt;text-indent: 0pt;text-align: center;">Address: {{blf_profile.address|default:'NA'}}</p>
        <p style="padding-top: 1pt; text-indent: 0pt; line-height: 107%; text-align: center; margin: 0 auto;">
            District: {{ blf_profile.district|default:'NA'|title }}, State: {{ blf_profile.state|default:'NA'|title }}
        </p>
       


        <tr style="margin: 0px 0px; padding: 0px 0px;">
          <td  style="text-align: center;color: #000;font-size: 19px;font-weight: 400;padding: 15px 0px 18px 0px;">Backward Traceability Report</td>
        </tr>

        <tr>
          <td  style="width: 100%; text-align: left; padding: 8px 0px 0px 0px; font-weight: 600; font-size: 20px; color: #000;">Invoice No. : {{ invoice_details.invoice_no }}</td>
        </tr>
        <tr>
          <td  style="padding:16px 0px 20px 0px;">
            <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
              <tr style="background:#ffffff; border: #ccc 1px solid;">
                <td colspan="3" style="background: #ebebeb; text-align: center; font-size: 18px; font-weight: 600; padding: 8px 0px;">Invoice & Packaging Details</td>
              </tr>
              <tr style="background:#ffffff; border: #373737 1px solid;">
                <td colspan="3" style="text-align: left;font-size: 14px;font-weight: 500;padding: 8px 8px;">Invoice Date : {{ invoice_details.invoice_date|date:'d-m-Y' }}</td>
              </tr>
              
              <tr style="background: #ebebeb; border: #373737 1px solid; ">
                <th style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size:15px; color: #000000; vertical-align: top;">Batch / Lot No.</th>
                <th style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 15px; color: #000000; vertical-align: top;">Bag No. from and To</th>
                <th style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 15px; color: #000000; vertical-align: top;">Bag Weight</th>
              </tr>


              {% if lot_details %}
                {% for item in lot_details %}
                  <tr style="background: #fff; border: #373737 1px solid; ">
                    <td style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000; vertical-align: top;">{{ item.lot_batch }}</td>
                    <td style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000; vertical-align: top;">{% if item.bag_no_range %} {{ item.bag_no_range }} {% else %} NA {% endif %}</td>
                    <td style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000; vertical-align: top;">{% if item.lot_batch.bag_weight_kg %}{{ item.lot_batch.bag_weight_kg }} Kg {% else %} NA {% endif %}</td>               
                  </tr>
                {% endfor %}
              {% else %}

              <tr style="background: #fff; border: #373737 1px solid; ">
                <td colspan="3" style="text-align: center;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #c50b0b; vertical-align: top;">No Data Found</td>
              </tr>
              {% endif %}
            </table>
          </td>
        </tr>

        <tr>
          <td style="text-align: left;padding: 2px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000;">
            
            Type of Dispatch : {{ package_details.type_of_dispatch|default:'NA' }} 
          </td>
        </tr>

        {% if package_details.type_of_dispatch == "Auction" %}
        <tr>
          <td style="text-align: left;padding: 2px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000;">
            Consignee / Warehouse CTM No. : {{ package_details.warehouse|default:'NA' }}
          </td>
        </tr>
        {% else %}
        <tr>
          <td style="text-align: left;padding: 2px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000;">
            Consignee / Warehouse CTM No. : {% if package_details.consignee %} {{ package_details.consignee }} {% else %} NA {% endif %}
          </td>
        </tr>
         
        {% endif %}

        <tr>
          <td  style="padding:16px 0px 20px 0px;">
            <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
              <tr style="background:#ffffff; border: #ccc 1px solid;">
                <td colspan="3" style="background: #ebebeb; text-align: left; font-size: 18px; font-weight: 600; padding: 8px 2px;">Associated Aggregators/ Agents Details</td>
              </tr>

              <tr style="background: #ebebeb; border: #373737 1px solid; ">
                <th style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size:15px; color: #000000; vertical-align: top;">Aggregator/SHG Name</th>
                <th style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 15px; color: #000000; vertical-align: top;">	Collection Date/Supply Date</th>
                <th style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 15px; color: #000000; vertical-align: top;">	Vehicle No.</th>
              </tr>

              {% if agg_supplier_list %}
                {% for item in agg_supplier_list %}
                <tr style="background: #fff; border: #373737 1px solid; ">
                  <td style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000; vertical-align: top;">{{ item.aggregator.name }}</td>
                  <td style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000; vertical-align: top;"> {{ item.supply_date|date:'d-m-Y' }}</td>
                  <td style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000; vertical-align: top;"> {{ item.supply_id.alloted_vehicle }}</td> 
                </tr>
                {% endfor %}
                {% else %}
                <tr style="background: #fff; border: #373737 1px solid; ">
                  <td colspan="3" style="text-align: center;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #c50b0b; vertical-align: top;">No Data Found</td>
                </tr>
                {% endif %}

            </table>
          </td>
        </tr>



        <!-- GROWER LIST -->
        <tr>
          <td  style="padding:16px 0px 0px 0px;">
            <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
              <tr style="background:#ffffff; border: #ccc 1px solid;">
                <td colspan="3" style="background: #ebebeb; text-align: left; font-size: 18px; font-weight: 600; padding: 8px 2px;">Associated Growers  List</td>
              </tr>
            </table>
          </td>
        </tr>



        {% if grower_data_list %}
    
         <!-- GROWER LIST loop END -->
        {% for item in grower_data_list %}

        <tr>
            <td style="padding:0px 0px 0px 0px;">
                <table role="presentation"
                    style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">

                    

                    <tr style="background: #fff; border: #373737 1px solid; ">
                        <th
                            style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size:13px; color: #000000; vertical-align: top; width: 120px;">
                            Grower/Member
                        </th>
                        <th
                            style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000; vertical-align: top;">
                            Qty Supplied
                        </th>
                        <th
                            style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000; vertical-align: top;">
                            Supplied Date	
                        </th>
                        <th
                            style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size:13px; color: #000000; vertical-align: top;">
                            Plucking Date
                        </th>
                        <th
                            style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size:13px; color: #000000; vertical-align: top;">
                            Land Area
                        </th>
                    </tr>


                    <tr style="background: #fff; border: #373737 1px solid; ">

                        <td
                            style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 300; font-size: 13px; color: #000000; vertical-align: top;">
                            <!-- {{ item.invoice_no }} -->
                            {{ item.grower_name }} ({{item.grower_user}})
                        </td>
                        <td
                            style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 300; font-size: 13px; color: #000000; vertical-align: top;">
                            <!-- {% if item.invoice_date  %}
                                {{ item.invoice_date|date:'d-m-Y' }}
                            {% else %}
                                NA
                            {% endif %} -->
                            {{ item.nt_wght }} Kg
                        </td>
                        <td
                            style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 300; font-size: 13px; color: #000000; vertical-align: top;">
                            <!-- {% if item.lot_batch_range.all %}
                                {% for obj in item.lot_batch_range.all %}   
                                    {{ obj.type_of_dispatch }}
                                {% endfor %}
                            {% else %}
                                NA
                            {% endif %} -->
                            {{item.supply_date|date:'d-m-Y'}} 
                        </td>

                        <td
                            style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 300; font-size: 13px; color: #000000; vertical-align: top;">
                            <!-- {% if item.lot_batch_range.all %}
                                {% for obj in item.lot_batch_range.all %}
                                    {% if obj.type_of_dispatch == "Auction"  %}
                                        {% if obj.warehouse %}
                                            {{ obj.warehouse }}
                                        {% else %}
                                            NA
                                        {% endif %}
                                    {% elif not obj.type_of_dispatch == "Auction" %}
                                        {% if obj.consignee %}
                                            {{ obj.consignee }}
                                        {% else %}
                                            NA
                                        {% endif %}    
                                
                                    {% endif %}
                                {% endfor %}
                            {% else %}  
                                NA
                            {% endif %} -->

                            {{ item.plucking_data_details.date|date:'d-m-Y'|default:'NA' }}
                                                      
                        </td>

                        <td style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 300; font-size: 13px; color: #000000; vertical-align: top;">
                          
                          {{ item.plucking_data_details.area_plucked|default:'NA' }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- CHEMICAL LIST LOOP -->
        <tr>
            <td style="padding:0px 0px 20px 0px;">
                <table role="presentation"
                    style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">

                    <tr style="background:#ffffff; border: #ccc 1px solid;">
                      <td colspan="4" style="background: #ebebeb; text-align: left; font-size: 18px; font-weight: 600; padding: 8px 2px;">Chemical / Fertilizer usage Details</td>
                    </tr> 
                
                    <tr style="background: #ededed; border: #fff 1px solid; ">
                        
                        <th
                            style="text-align: left;padding: 7px; border:#373737 1px solid; font-weight: 600; font-size:13px; color: #000000; vertical-align: top; width: 120px;">
                            Chemical type	
                        </th>
                        <th
                            style="text-align: left;padding: 7px; border:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000; vertical-align: top;">
                            Name of Chemical / Fertilizer
                        </th>
                        <th
                            style="text-align: left;padding: 7px; border:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000; vertical-align: top;">
                            Used Date
                        </th>
                        <th style="text-align: left;padding: 7px; border:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000; vertical-align: top;">
                          Qty
                        </th>
                    </tr>

                    {% if item.use_of_chemical_list %}

                        {% for use_of_chemical in item.use_of_chemical_list %}

                            <tr style="background: #fff; border: #373737 1px solid; ">
                            
                                <td
                                    style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 300; font-size: 13px; color: #000000; vertical-align: top;">
                                    
                                    {% if use_of_chemical.chemical.chemical_type %}
                                      {{ use_of_chemical.chemical.chemical_type }}
                                    {% else %}
                                        NA
                                    {% endif %}
                                </td>
                                <td
                                    style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 300; font-size: 13px; color: #000000; vertical-align: top;">
                                      {% if use_of_chemical.chemical %}
                                        {{ use_of_chemical.chemical }}
                                      {% else %}
                                          NA
                                      {% endif %}
                                </td>
                            
                                <td
                                    style="text-align: left;padding: 7px; border:#373737 1px solid; font-weight: 300; font-size: 13px; color: #000000; vertical-align: top;">
                                      {% if use_of_chemical.date %}
                                        {{ use_of_chemical.date|date:'d-m-Y' }}
                                      {% else %}
                                          NA
                                      {% endif %} 
                                </td>
                                <td
                                    style="text-align: left;padding: 7px; border:#373737 1px solid; font-weight: 300; font-size: 13px; color: #000000; vertical-align: top;">
                                      {% if use_of_chemical.quantity %}
                                        {{ use_of_chemical.quantity }} {{use_of_chemical.unit}}
                                      {% else %}
                                          NA
                                      {% endif %}
                                </td>


                            </tr>

                          {% endfor %}

                        {% else %}
                            <tr style="background: #fff; border: #373737 1px solid; ">
                                <td colspan="4" style="text-align: center;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #c50b0b; vertical-align: top;">No Data Found</td>
                            </tr>
                        {% endif %}

                        
                </table>
            </td>
        </tr>

        {% endfor %}
        <!-- GROWER LIST END -->

        {% else %}

        <tr>
          <td style="padding:0px 0px 20px 0px;">
              <table role="presentation"
                  style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
                      <tr style="background: #fff; border: #373737 1px solid; ">
                          <td colspan="4" style="text-align: center;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #c50b0b; vertical-align: top;">No Data Found</td>
                      </tr>
              </table>
          </td>
      </tr>
        
        

        {% endif %}



          
        
      </table>
    </td>
  </tr>
</table>

<table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;background:#ffffff;">
  <tr>
    <td align="center" style="padding:0;">
      <table role="presentation" cellspacing="0" cellpadding="0" style="width:100%;  border-collapse:collapse; border:0px solid #eee;border-spacing:0;text-align:left;">
  
        <p class="s1" style="text-indent: 0pt;line-height: 13pt;text-align: right;">Report generated as on {% now "d/m/Y" %}
        </p>
        <p class="s2" style="padding-top: 1pt;text-indent: 0pt;text-align: center;">{{blf_profile.entity_name }}
            ({{blf_profile.user}})</p>
        <p style="padding-top: 1pt;text-indent: 0pt;text-align: center;">Address: {{blf_profile.address|default:'NA'}}</p>
        <p style="padding-top: 1pt; text-indent: 0pt; line-height: 107%; text-align: center; margin: 0 auto;">
            District: {{ blf_profile.district|default:'NA'|title }}, State: {{ blf_profile.state|default:'NA'|title }}
        </p>
       


        <tr style="margin: 0px 0px; padding: 0px 0px;">
          <td  style="text-align: center;color: #000;font-size: 19px;font-weight: 400;padding: 15px 0px 18px 0px;">Backward Traceability Report</td>
        </tr>

        <tr>
          <td  style="width: 100%; text-align: left; padding: 8px 0px 0px 0px; font-weight: 300; font-size: 15px; color: #000;">Invoice No. : {{ invoice_details.invoice_no }}</td>
        </tr>
        <tr>
          <td  style="padding:16px 0px 20px 0px;">
            <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
              <tr style="background:#ffffff; border: #ccc 1px solid;">
                <td colspan="3" style="background: #ebebeb; text-align: center; font-size: 18px; font-weight: 600; padding: 8px 0px;">Invoice & Packaging Details</td>
              </tr>
              <tr style="background:#ffffff; border: #373737 1px solid;">
                <td colspan="3" style="text-align: left;font-size: 14px;font-weight: 500;padding: 8px 8px;">Invoice Date : {{ invoice_details.invoice_date|date:'d-m-Y' }}</td>
              </tr>
              
              <tr style="background: #ebebeb; border: #373737 1px solid; ">
                <th style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size:15px; color: #000000; vertical-align: top;">Batch / Lot No.</th>
                <th style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 15px; color: #000000; vertical-align: top;">Bag No. from and To</th>
                <th style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 15px; color: #000000; vertical-align: top;">Bag Weight</th>
              </tr>


              {% if lot_details %}
                {% for item in lot_details %}
                  <tr style="background: #fff; border: #373737 1px solid; ">
                    <td style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000; vertical-align: top;">{{ item.lot_batch }}</td>
                    <td style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000; vertical-align: top;">{% if item.bag_no_range %} {{ item.bag_no_range }} {% else %} NA {% endif %}</td>
                    <td style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000; vertical-align: top;">{% if item.lot_batch.bag_weight_kg %}{{ item.lot_batch.bag_weight_kg }} Kg {% else %} NA {% endif %}</td>               
                  </tr>
                {% endfor %}
              {% else %}

              <tr style="background: #fff; border: #373737 1px solid; ">
                <td colspan="3" style="text-align: center;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #c50b0b; vertical-align: top;">No Data Found</td>
              </tr>
              {% endif %}
            </table>
          </td>
        </tr>

        <tr>
          <td style="text-align: left;padding: 2px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000;">
            
            Type of Dispatch : {{ package_details.type_of_dispatch|default:'NA' }} 
          </td>
        </tr>

        {% if package_details.type_of_dispatch == "Auction" %}
        <tr>
          <td style="text-align: left;padding: 2px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000;">
            Consignee / Warehouse CTM No. : {{ package_details.warehouse|default:'NA' }}
          </td>
        </tr>
        {% else %}
        <tr>
          <td style="text-align: left;padding: 2px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000;">
            Consignee / Warehouse CTM No. : {% if package_details.consignee %} {{ package_details.consignee }} {% else %} NA {% endif %}
          </td>
        </tr>
         
        {% endif %}

        <tr>
          <td  style="padding:16px 0px 20px 0px;">
            <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
              <tr style="background:#ffffff; border: #ccc 1px solid;">
                <td colspan="3" style="background: #ebebeb; text-align: left; font-size: 18px; font-weight: 600; padding: 8px 2px;">Associated Aggregators/ Agents Details</td>
              </tr>

              <tr style="background: #ebebeb; border: #373737 1px solid; ">
                <th style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size:15px; color: #000000; vertical-align: top;">Aggregator/SHG Name</th>
                <th style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 15px; color: #000000; vertical-align: top;">	Collection Date/Supply Date</th>
                <th style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 15px; color: #000000; vertical-align: top;">	Vehicle No.</th>
              </tr>

              {% if agg_supplier_list %}
                {% for item in agg_supplier_list %}
                <tr style="background: #fff; border: #373737 1px solid; ">
                  <td style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000; vertical-align: top;">{{ item.aggregator.name }}</td>
                  <td style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000; vertical-align: top;"> {{ item.supply_date|date:'d-m-Y' }}</td>
                  <td style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000; vertical-align: top;"> {{ item.supply_id.alloted_vehicle }}</td> 
                </tr>
                {% endfor %}
                {% else %}
                <tr style="background: #fff; border: #373737 1px solid; ">
                  <td colspan="3" style="text-align: center;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #c50b0b; vertical-align: top;">No Data Found</td>
                </tr>
                {% endif %}

            </table>
          </td>
        </tr>



        <!-- GROWER LIST -->
        <tr>
          <td  style="padding:16px 0px 0px 0px;">
            <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
              <tr style="background:#ffffff; border: #ccc 1px solid;">
                <td colspan="3" style="background: #ebebeb; text-align: left; font-size: 18px; font-weight: 600; padding: 8px 2px;">Associated Growers  List</td>
              </tr>
            </table>
          </td>
        </tr>



        {% if grower_data_list %}
    
         <!-- GROWER LIST loop END -->
        {% for item in grower_data_list %}

        <tr>
            <td style="padding:0px 0px 0px 0px;">
                <table role="presentation"
                    style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">

                    

                    <tr style="background: #fff; border: #373737 1px solid; ">
                        <th
                            style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size:13px; color: #000000; vertical-align: top; width: 120px;">
                            Grower/Member
                        </th>
                        <th
                            style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000; vertical-align: top;">
                            Qty Supplied
                        </th>
                        <th
                            style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000; vertical-align: top;">
                            Supplied Date	
                        </th>
                        <th
                            style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size:13px; color: #000000; vertical-align: top;">
                            Plucking Date
                        </th>
                        <th
                            style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size:13px; color: #000000; vertical-align: top;">
                            Land Area
                        </th>
                    </tr>


                    <tr style="background: #fff; border: #373737 1px solid; ">

                        <td
                            style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 300; font-size: 13px; color: #000000; vertical-align: top;">
                            <!-- {{ item.invoice_no }} -->
                            {{ item.grower_name }} ({{item.grower_user}})
                        </td>
                        <td
                            style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 300; font-size: 13px; color: #000000; vertical-align: top;">
                            <!-- {% if item.invoice_date  %}
                                {{ item.invoice_date|date:'d-m-Y' }}
                            {% else %}
                                NA
                            {% endif %} -->
                            {{ item.nt_wght }} Kg
                        </td>
                        <td
                            style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 300; font-size: 13px; color: #000000; vertical-align: top;">
                            <!-- {% if item.lot_batch_range.all %}
                                {% for obj in item.lot_batch_range.all %}   
                                    {{ obj.type_of_dispatch }}
                                {% endfor %}
                            {% else %}
                                NA
                            {% endif %} -->
                            {{item.supply_date|date:'d-m-Y'}} 
                        </td>

                        <td
                            style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 300; font-size: 13px; color: #000000; vertical-align: top;">
                            <!-- {% if item.lot_batch_range.all %}
                                {% for obj in item.lot_batch_range.all %}
                                    {% if obj.type_of_dispatch == "Auction"  %}
                                        {% if obj.warehouse %}
                                            {{ obj.warehouse }}
                                        {% else %}
                                            NA
                                        {% endif %}
                                    {% elif not obj.type_of_dispatch == "Auction" %}
                                        {% if obj.consignee %}
                                            {{ obj.consignee }}
                                        {% else %}
                                            NA
                                        {% endif %}    
                                
                                    {% endif %}
                                {% endfor %}
                            {% else %}  
                                NA
                            {% endif %} -->

                            {{ item.plucking_data_details.date|date:'d-m-Y'|default:'NA' }}
                                                      
                        </td>

                        <td style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 300; font-size: 13px; color: #000000; vertical-align: top;">
                          
                          {{ item.plucking_data_details.area_plucked|default:'NA' }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- CHEMICAL LIST LOOP -->
        <tr>
            <td style="padding:0px 0px 20px 0px;">
                <table role="presentation"
                    style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">

                    <tr style="background:#ffffff; border: #ccc 1px solid;">
                      <td colspan="4" style="background: #ebebeb; text-align: left; font-size: 18px; font-weight: 600; padding: 8px 2px;">Chemical / Fertilizer usage Details</td>
                    </tr> 
                
                    <tr style="background: #ededed; border: #fff 1px solid; ">
                        
                        <th
                            style="text-align: left;padding: 7px; border:#373737 1px solid; font-weight: 600; font-size:13px; color: #000000; vertical-align: top; width: 120px;">
                            Chemical type	
                        </th>
                        <th
                            style="text-align: left;padding: 7px; border:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000; vertical-align: top;">
                            Name of Chemical / Fertilizer
                        </th>
                        <th
                            style="text-align: left;padding: 7px; border:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000; vertical-align: top;">
                            Used Date
                        </th>
                        <th style="text-align: left;padding: 7px; border:#373737 1px solid; font-weight: 600; font-size: 13px; color: #000000; vertical-align: top;">
                          Qty
                        </th>
                    </tr>

                    {% if item.use_of_chemical_list %}

                        {% for use_of_chemical in item.use_of_chemical_list %}

                            <tr style="background: #fff; border: #373737 1px solid; ">
                            
                                <td
                                    style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 300; font-size: 13px; color: #000000; vertical-align: top;">
                                    
                                    {% if use_of_chemical.chemical.chemical_type %}
                                      {{ use_of_chemical.chemical.chemical_type }}
                                    {% else %}
                                        NA
                                    {% endif %}
                                </td>
                                <td
                                    style="text-align: left;padding: 7px; border-right:#373737 1px solid; font-weight: 300; font-size: 13px; color: #000000; vertical-align: top;">
                                      {% if use_of_chemical.chemical %}
                                        {{ use_of_chemical.chemical }}
                                      {% else %}
                                          NA
                                      {% endif %}
                                </td>
                            
                                <td
                                    style="text-align: left;padding: 7px; border:#373737 1px solid; font-weight: 300; font-size: 13px; color: #000000; vertical-align: top;">
                                      {% if use_of_chemical.date %}
                                        {{ use_of_chemical.date|date:'d-m-Y' }}
                                      {% else %}
                                          NA
                                      {% endif %} 
                                </td>
                                <td
                                    style="text-align: left;padding: 7px; border:#373737 1px solid; font-weight: 300; font-size: 13px; color: #000000; vertical-align: top;">
                                      {% if use_of_chemical.quantity %}
                                        {{ use_of_chemical.quantity }} {{use_of_chemical.unit}}
                                      {% else %}
                                          NA
                                      {% endif %}
                                </td>


                            </tr>

                          {% endfor %}

                        {% else %}
                            <tr style="background: #fff; border: #373737 1px solid; ">
                                <td colspan="4" style="text-align: center;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #c50b0b; vertical-align: top;">No Data Found</td>
                            </tr>
                        {% endif %}

                        
                </table>
            </td>
        </tr>

        {% endfor %}
        <!-- GROWER LIST END -->

        {% else %}

        <tr>
          <td style="padding:0px 0px 20px 0px;">
              <table role="presentation"
                  style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
                      <tr style="background: #fff; border: #373737 1px solid; ">
                          <td colspan="4" style="text-align: center;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #c50b0b; vertical-align: top;">No Data Found</td>
                      </tr>
              </table>
          </td>
      </tr>
        
        

        {% endif %}



          
        
      </table>
    </td>
  </tr>
</table>


<p style="text-indent: 0pt;text-align: left;"><br /></p>
  
<table style="margin: 0 auto; border: 0px solid #000;" cellspacing="0">
    <tbody >
        <tr style="height:15pt">
            <td style="border: 0px solid #000; width: 306.6px;">
                <div class="signature-line">
                    <p style="font-size: 12px;">(Signature of Trustea Officer)</p>
                </div>
            </td>
            <td style="border: 0px solid #000; width: 306.6px;">
                
            </td>
            <td style="border: 0px solid #000; width: 306.6px; text-align: right;">
                <div class="signature-line">
                    <p style="font-size: 12px;">(Signature of Manager)</p>
                </div>

            </td>
        </tr>

    </tbody>
</table>
