
<!DOCTYPE html
    PUBLIC "">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Leaf Collection Reports</title>
    <!-- <meta name="author" content="Debasish Dutta" /> -->
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            text-indent: 0;
        }

        .s1 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: italic;
            font-weight: normal;
            text-decoration: none;
            font-size: 11pt;
        }

        .s2 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 14pt;
        }

        p {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: 400;
            text-decoration: none;
            font-size: 10pt;
            margin: 0pt;
            padding: 8px;

        }

        h1 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: underline;
            font-size: 14pt;
        }

        .s3 {
            color: #FFF;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: bold;
            text-decoration: none;
            font-size: 11pt;
        }

        .s4 {
            color: black;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: none;
            font-size: 1pt;
        }

        table,
        tbody {
            vertical-align: top;
            overflow: visible;
        }
        
        .signature-section {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            padding: 0 50px;
        }

        .signature {
            text-align: center;
            width: 20%;
        }

        .signature-line {
            border-top: 2px solid black;
            margin-top: 30px;
        }
    </style>
</head>

{% if supplier_type == "aggregator" %}

<!-- Aggregators -->



<body>
    <p class="s1" style="text-indent: 0pt;line-height: 13pt;text-align: right;">Report generated as on {% now "d/m/Y" %}</p>
    <p class="s2" style="padding-top: 1pt;text-indent: 0pt;text-align: center;">{{blf_profile.entity_name }} ({{blf_profile.user}})</p>
    <p style="padding-top: 1pt;text-indent: 0pt;text-align: center;">Address: {{blf_profile.address}}</p>
    <p style="padding-top: 1pt; text-indent: 0pt; line-height: 107%; text-align: center; margin: 0 auto;">
        District: {{ blf_profile.district }}, State: {{ blf_profile.state }} </p>
    <p style="padding-top: 1pt;text-indent: 0pt;text-align: center;">
        Report from: {{ start_date|date:'d-m-Y' }}
        To {{ end_date|date:'d-m-Y' }}</p>
        
    <p style="padding-top: 1pt;text-indent: 0pt;text-align: left;"><br /></p>
    <h1 style="text-indent: 0pt;text-align: center;">LEAF COLLECTION REGISTER – AGENT / AGGREGATOR LEVEL</h1>
    <p style="padding-top: 7pt;text-indent: 0pt;text-align: left;"><br /></p>
    <table style="border-collapse:collapse;margin: 0 auto;" cellspacing="0">
        <tr style="height:30pt">
            <td style="width:42pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt"
                bgcolor="#000000">
                <p class="s3" style="padding-top: 8pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">SL No.</p>
            </td>
            <td style="width:57pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt"
                bgcolor="#000000">
                <p class="s3" style="padding-top: 8pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">TXN ID</p>
            </td>
            <td style="width:78pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt"
                bgcolor="#000000">
                <p class="s3" style="padding-top: 8pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Aggregator
                    ID</p>
            </td>
            <td style="width:106pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt"
                bgcolor="#000000">
                <p class="s3" style="padding-top: 8pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Aggregator
                    Name</p>
            </td>
            <td style="width:69pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt"
                bgcolor="#000000">
                <p class="s3" style="padding-top: 8pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Supply Date
                </p>
            </td>
            <td style="width:66pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt"
                bgcolor="#000000">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 9pt;text-indent: 0pt;text-align: left;">
                    Supply Qty (in Kg.)</p>
            </td>
            <td style="width:42pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt"
                bgcolor="#000000">
                <p class="s3" style="padding-top: 8pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">FLC %</p>
            </td>
            <td style="width:71pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt"
                bgcolor="#000000">
                <p class="s3" style="padding-top: 8pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Deduction %
                </p>
            </td>
            <!-- <td style="width:71pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt"
                bgcolor="#000000">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 6pt;text-indent: 0pt;text-align: left;">Net
                    Supplied Qty (Kg.)</p>
            </td> -->
            <td style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt"
                bgcolor="#000000">
                <p class="s3"
                    style="padding-top: 1pt;padding-left: 5pt;padding-right: 26pt;text-indent: 0pt;text-align: left;">
                    Vehicle No. (if any)</p>
            </td>
        </tr>
        {% if result %}
        {% for item in result %}
            <tr style="height:15pt">
                <td
                    style="width:42pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p style="text-indent: 0pt; text-align: center; margin: 0;">
                        {{ forloop.counter }}
                    </p>
                </td>
                <td
                    style="width:57pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p style="text-indent: 0pt; text-align: center; margin: 0;">
                        {{ item.weighment_supply_id|default:'NA' }}
                    </p>
                </td>
                <td
                    style="width:78pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p style="text-indent: 0pt; text-align: center; margin: 0;">
                        {{ item.supplier|default:'NA'}}
                    </p>
                </td>
                <td
                    style="width:106pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p style="text-indent: 0pt; text-align: center; margin: 0;">
                    {% if item.aggregator.name %}
                        {{ item.aggregator.name }}
                    {% elif item.grower.name %}
                        {{ item.grower.name }}
                    {% else %}
                        NA
                    {% endif %}</p>
                </td>
                <td
                    style="width:69pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p style="text-indent: 0pt; text-align: center; margin: 0;">
                        {{ item.supply_date|date:'d-m-Y'|default:'NA' }}
                    </p>
                </td>
                <td
                    style="width:66pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p style="text-indent: 0pt; text-align: center; margin: 0;">
                        {{ item.nt_wght }} Kg
                    </p>
                </td>
                <td
                    style="width:42pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p style="text-indent: 0pt; text-align: center; margin: 0;">
                        {{ item.leaf_receipt_id.final_leaf_count }}&nbsp;%
                    </p>
                </td>
                <td
                    style="width:71pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p style="text-indent: 0pt; text-align: center; margin: 0;">
                        {{ item.leaf_receipt_id.deduction }}&nbsp;%
                    </p>
                </td>
                <!-- <td
                    style="width:71pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p style="text-indent: 0pt; text-align: center; margin: 0;"><br /></p>
                </td> -->
                {% if supplier_type == "aggregator" %}
                <td
                    style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p style="text-indent: 0pt; text-align: center; margin: 0;">
                        {{ item.supply_id.alloted_vehicle|default:'NA' }}
                    </p>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        {% else %}

            <tr style="background: #ebebeb; border: #373737 1px solid; ">
                <td colspan="9"
                    style="text-align: center;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #c50b0b; vertical-align: top;">
                    No Data Found</td>
            </tr>
        {% endif %}
        
    </table>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>
    <p class="s4" style="padding-left: 5pt;text-indent: 0pt;line-height: 1pt;text-align: left;"> </p>
</body>


<p style="text-indent: 0pt;text-align: left;"><br /><br /><br></p>

<table style="border-collapse:collapse;margin: 0 auto;" cellspacing="0">
    <tbody>
        <tr style="height:15pt">
            <td colspan="6" width="">
                <div class="signature-line">
                    <p>(Signature of Trustea Officer)</p>
                </div>
            </td>
            <td width="71%"></td>
            <td colspan="4">
                <div class="signature-line">
                    <p>(Signature of Manager)</p>
                </div>

            </td>
        </tr>
    </tbody>
</table>


{% else %}

<!-- Grower -->

<body>
    <p class="s1" style="text-indent: 0pt;line-height: 13pt;text-align: right;">Report generated as on {% now "d/m/Y" %}</p>
    <p class="s2" style="padding-top: 1pt;text-indent: 0pt;text-align: center;">{{blf_profile.entity_name }} ({{blf_profile.user}})</p>
    <p style="padding-top: 1pt;text-indent: 0pt;text-align: center;">Address: {{blf_profile.address}}</p>
    <p style="padding-top: 1pt; text-indent: 0pt; line-height: 107%; text-align: center; margin: 0 auto;">
        District: {{ blf_profile.district }}, State: {{ blf_profile.state }} </p>
    <p style="padding-top: 1pt;text-indent: 0pt;text-align: center;">
        Report from: {{ start_date|date:'d-m-Y' }}
        To {{ end_date|date:'d-m-Y' }}</p>
        
    <p style="padding-top: 1pt;text-indent: 0pt;text-align: left;"><br /></p>
    <h1 style="text-indent: 0pt;text-align: center;">LEAF COLLECTION REGISTER</h1>
    <p style="padding-top: 7pt;text-indent: 0pt;text-align: left;"><br /></p>
    <table style="border-collapse:collapse;margin: 0 auto;" cellspacing="0">
        <tr style="height:34pt">
            <td style="width:49pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt"
                bgcolor="#000000">
                <p class="s3" style="padding-top: 9pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">SL No.</p>
            </td>
            <td style="width:78pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt"
                bgcolor="#000000">
                <p class="s3" style="padding-top: 9pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">TXN ID</p>
            </td>
            <td style="width:70pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt"
                bgcolor="#000000">
                <p class="s3" style="padding-top: 9pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Grower ID
                </p>
            </td>
            <td style="width:100pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt"
                bgcolor="#000000">
                <p class="s3" style="padding-top: 9pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Grower Name
                </p>
            </td>
            <td style="width:78pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt"
                bgcolor="#000000">
                <p class="s3" style="padding-top: 9pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Supply Date
                </p>
            </td>
            <td style="width:78pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt"
                bgcolor="#000000">
                <p class="s3"
                    style="padding-top: 3pt;padding-left: 5pt;padding-right: 21pt;text-indent: 0pt;text-align: left;">
                    Supply Qty (in Kg.)</p>
            </td>
            <td style="width:43pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt"
                bgcolor="#000000">
                <p class="s3" style="padding-top: 9pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">FLC %</p>
            </td>
            <td style="width:70pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt"
                bgcolor="#000000">
                <p class="s3" style="padding-top: 9pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">Deduction %
                </p>
            </td>
            <td style="width:121pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt"
                bgcolor="#000000">
                <p class="s3" style="padding-top: 9pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">By
                    Aggregator (if any)</p>
            </td>
        </tr>
        {% if result %}
        {% for item in result %}
            <tr style="height:15pt">
                <td
                    style="width:49pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p style="text-indent: 0pt; text-align: center; margin: 0;">
                        {{ forloop.counter }}
                    </p>
                </td>
                <td
                    style="width:78pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p style="text-indent: 0pt; text-align: center; margin: 0;">
                        {{ item.weighment_supply_id }}
                    </p>
                </td>
                <td
                    style="width:70pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p style="text-indent: 0pt; text-align: center; margin: 0;">
                        {{ item.grower|default:'NA' }}
                </td>
                <td
                    style="width:100pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p style="text-indent: 0pt; text-align: center; margin: 0;">
                        {{ item.grower.name|default:'NA' }}
                    </p>
                </td>
                <td
                    style="width:78pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p style="text-indent: 0pt; text-align: center; margin: 0;">
                        {{ item.collected_date|date:'d-m-Y' }} 

                        {% if item.supply_date %}
                            {{ item.supply_date|date:'d-m-Y' }}
                        {% else %}
                            {{ item.supply_date|date:'d-m-Y' }}
                        {% endif %} 
                    </p>
                </td>
                <td
                    style="width:78pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p style="text-indent: 0pt; text-align: center; margin: 0;">
                        {{ item.net_qty|default:'NA' }} Kg
                    </p>
                </td>
                <td
                    style="width:43pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p style="text-indent: 0pt; text-align: center; margin: 0;">
                        {{ item.leaf_receipt_id.final_leaf_count|default:'NA' }}&nbsp;%
                    </p>
                </td>
                <td
                    style="width:70pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p style="text-indent: 0pt; text-align: center; margin: 0;">
                        {{ item.leaf_receipt_id.deduction|default:'NA' }}&nbsp;%
                    </p>
                </td>
                <td
                    style="width:121pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p style="text-indent: 0pt; text-align: center; margin: 0;">
                        {{item.aggregator|default:'NA'}}
                    </p>
                </td>
            </tr>
        {% endfor %}
        {% else %}

            <tr style="background: #ebebeb; border: #373737 1px solid; ">
                <td colspan="9"
                    style="text-align: center;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #c50b0b; vertical-align: top;">
                    No Data Found</td>
            </tr>
        {% endif %}
    </table>
    <p style="text-indent: 0pt;text-align: left;"><br /><br /><br></p>

    <table style="border-collapse:collapse;margin: 0 auto;" cellspacing="0">
        <tbody>
            <tr style="height:15pt">
                <td colspan="6" width="">
                    <div class="signature-line">
                        <p>(Signature of Trustea Officer)</p>
                    </div>
                </td>
                <td width="71%"></td>
                <td colspan="4">
                    <div class="signature-line">
                        <p>(Signature of Manager)</p>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
    
</body>

{% endif %}

</html>