{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %} Traceability Report {% endblock %}
{% block css %}  
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <style>
        .p-user-image{
            height: 40px;
            border-radius: 30px;
        }
        .td-header{
            font-size: 23px;
            font-weight: 600;
        }
        .trace-details h3{
            font-size: 17px;
            font-weight: 600;
        }

        th h3{
    font-size: 20px;
    color: #fff;
    padding: 12px;
    margin: 25px 0px;
    font-weight: 500;
    background-color: #69b545;
    border-radius: 7px;
}

</style>
{% endblock %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->

            <div class="row mb-3 ml-1  ">
                <div class="col-sm-6">
                    <h6 class="font-weight-bold mt-3 text-muted">Invoice No - {{invoice_details.invoice_no}}</h6>
                </div>

                <div class="col-sm-6 text-right modalright">
                    <a type="button" href="{% url 'invoicing:backward_traceability_details_pdf' id=invoice_details.id %}" style="width: 10rem" class="btn bg-danger text-white pl-3 pr-3">
                        <i class="fa fa-download  mr-2"  aria-hidden="true"></i>Download PDF
                    </a>
                </div>
            </div>

            <div class="row ml-2 mr-2 trace-details">
                <div class="col-lg-12">
                    <h2 class="text-center pb-3 td-header">Invoice & Packaging Details</h2>
                    <h3 >Invoice Date :  {{ invoice_details.invoice_date|date:'d-m-Y' }} </h3>
                    <div class="card report-page">
                        
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sr. No</th>
                                            <th>Batch / Lot No.</th>
                                            <th>Bag No. from and To</th>
                                        
                                            <th>Bag Weight</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% if lot_details %}
                                            {% for item in lot_details %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                               
                                                <td class="text-capitalize">
                                                    {{ item.lot_batch }}
                                                </td>
                                                <td class="text-capitalize">
                                                    {{ item.bag_no_range }}
                                                    
                                                </td>
                                               <td>
                                                    {{ item.lot_batch.bag_weight_kg }} Kg
                                               </td>
                                               <td></td>
                                            </tr>
                                            {% endfor %}

                                        {% else %}
                                        <tr>
                                            <td colspan="9" class="text-center text-danger">Sorry! No Record Found.</td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    
                        <!-- /.card-body -->
                    </div>

                    <h3 >Type of Dispatch : {% if package_details.type_of_dispatch %} {{ package_details.type_of_dispatch }} {% else %} NA {% endif %}</h3>

                    {% if package_details.type_of_dispatch == "Auction" %}
                        <h3 >Consignee / Warehouse CTM No. : {% if package_details.warehouse %} {{ package_details.warehouse }} {% else %} NA {% endif %}</h3>
                    {% else %}
                        <h3 >Consignee / Warehouse CTM No. : {% if package_details.consignee %} {{ package_details.consignee }} {% else %} NA {% endif %}</h3>
                    {% endif %}
                    
                    <br>
                    <!-- Associated Aggregators -->
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="5"><h3>Associated Aggregators/ Agents List </h3></th>
                                    </tr>
                                    <tr>
                                        <th>Sr. No</th>
                                        <th>Aggregator/SHG Name</th>
                                        <th>Collection Date</th>
                                        <th>Supply Date</th>
                                        <th>Vehicle No.</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% if agg_supplier_list %}
                                        {% for item in agg_supplier_list %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                           
                                            <td class="text-capitalize">
                                                {{ item.aggregator.name }}
                                               
                                            </td>
                                            <td class="text-capitalize">
                                               
                                               {{ item.supply_date|date:'d-m-Y' }}
                                               
                                            </td>
                                           <td>
                                             {{ item.supply_date|date:'d-m-Y' }}
                                           </td>

                                           <td>
                                               {% if item.supply_id.alloted_vehicle %} {{ item.supply_id.alloted_vehicle }} {% else %} NA {% endif %}
                                           </td>
                                        </tr>
                                        {% endfor %}

                                    {% else %}
                                    <tr>
                                        <td colspan="9" class="text-center text-danger">Sorry! No Record Found.</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <br>
                    <!-- Associated Growers List -->
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-borderless ">
                                <thead class="thead-light2">
                                    <tr>
                                        <th colspan="10"><h3>Associated Growers  List</h3></th>
                                    </tr>
                                    <tr>
                                        <th>Sr. No</th>
                                        <th>Grower / Member</th>
                                        <th>Qty Supplied</th>
                                        <th>Supplied Date</th>
                                        <th>Plucking Date</th>
                                        
                                        <th>Land Area</th>

                                        
                                        
                                    </tr>
                                </thead>
                                <tbody>

                                    {% if grower_data_list %}

                                        {% for item in grower_data_list %}
                                       
                                        
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td class="text-capitalize">
                                                        {{ item.grower_name }} ({{item.grower_user}})
                                                    </td>
                                                    <td class="text-capitalize">
                                                    
                                                        {{ item.nt_wght }} Kg
                                                        
                                                    </td>
                                                    <td>
                                                        {{item.supply_date|date:'d-m-Y'}} 
                                                    </td>

                                                    <td>
                                                       {% if item.plucking_data_details.date %} 
                                                        {{ item.plucking_data_details.date|date:'d-m-Y' }}
                                                        {% else %}
                                                            NA
                                                        {% endif %}
                                                    
                                                    </td>

                                                    <td>
                                                        {% if item.plucking_data_details.area_plucked %}
                                                            {{ item.plucking_data_details.area_plucked }}
                                                        {% else %}
                                                            NA
                                                        {% endif %}
                                                    </td>
                                                    <!-- USE OF CHEMICAL -->

                                                </tr>


                                                <tr>
                                                    <td colspan="8">
                                                        <table class="table">
                                      
                                                            <tr style="background-color: #b1f390;">
                                                              <th colspan="4" >Chemical / Fertilizer usage Details</th>
                                                            </tr> 

                                                            <tr style="background-color: #ebf6e5;">
                                                                
                                                                <th>
                                                                    Chemical type	
                                                                </th>
                                                                <th>
                                                                    Name of Chemical / Fertilizer
                                                                </th>
                                                                <th>
                                                                    Used Date
                                                                </th>
                                                                <th>
                                                                  Qty
                                                                </th>
                                                            </tr>
                                      
                                                            {% if item.use_of_chemical_list %}
                                      
                                                                {% for use_of_chemical in item.use_of_chemical_list %}
                                      
                                                                    <tr>
                                                                    
                                                                        <td>
                                                                            
                                                                            {% if use_of_chemical.chemical.chemical_type %}
                                                                              {{ use_of_chemical.chemical.chemical_type }}
                                                                            {% else %}
                                                                                NA
                                                                            {% endif %}
                                                                        </td>
                                                                        <td>
                                                                              {% if use_of_chemical.chemical %}
                                                                                {{ use_of_chemical.chemical }}
                                                                              {% else %}
                                                                                  NA
                                                                              {% endif %}
                                                                        </td>
                                                                    
                                                                        <td>
                                                                              {% if use_of_chemical.date %}
                                                                                {{ use_of_chemical.date|date:'d-m-Y' }}
                                                                              {% else %}
                                                                                  NA
                                                                              {% endif %} 
                                                                        </td>
                                                                        <td>
                                                                              {% if use_of_chemical.quantity %}
                                                                                {{ use_of_chemical.quantity }}&nbsp; ({{ use_of_chemical.unit }})
                                                                              {% else %}
                                                                                  NA
                                                                              {% endif %}
                                                                        </td>
                                      
                                      
                                                                    </tr>
                                      
                                                                  {% endfor %}
                                      
                                                                {% else %}
                                                                    <tr style="background: #fff; border: #373737 1px solid; ">
                                                                        <td colspan="4" style="text-align: center;padding: 7px; border-right:#373737 1px solid; font-weight: 600; font-size: 13px; color: #c50b0b; vertical-align: top;">No Data Found</td>
                                                                    </tr>
                                                                {% endif %}
                                      
                                                        
                                                        </table>
                                                    </td>
                                                </tr>


                                        {% endfor %}

                                    {% else %}
                                    <tr>
                                        <td colspan="9" class="text-center text-danger">Sorry! No Record Found.</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                     <div class="d-flex justify-content-cente paggination-sec">
                        {% if is_paginated %}
        
                        <div class="">
                            <nav  class="">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link"
                                            href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    {% endif %}

                                    {% for i in paginator.page_range %}
                                    {% if page_obj.number == i %}
                                    <li class="page-item active">
                                        <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
                                    </li>
                                    {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                    {% endfor %}
        
        
                                    {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Next</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                        {% endif %}
                    </div>

                    {% if result.has_other_pages %}
                    <div class="d-flex justify-content-cente paggination-sec">
                        <div class="">
                            <nav class="">
                                <ul class="pagination">
                                    {% if result.has_previous %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="?page={{ result.previous_page_number }}" tabindex="-1">Previous</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    {% endif %}


                                    {% for i in result.paginator.page_range %} 
                                        {% if result.number == i %}
                                            <li class="page-item active">
                                                <a class="page-link" href="#">{{ i }} </a>
                                            </li>
                                            
                                        {% elif i > result.number|add:'-3' and i < result.number|add:'3' %}
                                            <li class="page-item ">
                                                <a class="page-link" href="?page={{ i }}">{{ i }} </a>
                                            </li>
                                        
                                        {% endif %} 
                                    {% endfor %} 

                                    <!-- <li class="page-item active">
                                        <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                                    </li> -->




                                    {% if result.has_next %}

                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ result.next_page_number }}">Next</a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a class="next" href="javascript:void(0);"><i class="ion-ios-arrow-right"></i></a>
                                    </li>
                                    {% endif %}
                    
                                </ul>
                            </nav>
                        </div>
                    </div>
                    {% endif %}
                    


                </div>

            </div>




            <!-- /.row -->





        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->



{% endblock %}


{% block js %}
<script>
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
    });
</script>

{% endblock %}