{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %} Forward Traceability Report {% endblock %}
{% block css %}  
<link href="{% static 'select2/select2.min.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .p-user-image{
            height: 40px;
            border-radius: 30px;
        }
        .modal-header2 {
            display: -ms-flexbox;
            text-align: center!important;
            
            -ms-flex-align: start;
            align-items: flex-start;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: 1rem;
            border-bottom: 1px solid #e9ecef;
            border-top-left-radius: calc(0.3rem - 1px);
            border-top-right-radius: calc(0.3rem - 1px);
        }
    </style>
{% endblock %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="white-box">
                        <form role="form" method ="GET" >
                            <div class="row">
                                {{ grower_id }}
                                <div class="col-lg-3">
                                    <select name="grower_id" id="grower_id" class="form-control select2_demo_1" required>
                                        <option value="" hidden>Select Grower </option>


                                        {% for item in grower_list %}
                                            <option value="{{ item.user.id }}" {% if grower_id == item.user.id %} selected {% endif %}>{{ item.name }} - ({{ item.user }})</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-lg-2">
                                    <input type="date" name="start_date" id="start_date" class="form-control" required  value="{{ request.GET.start_date }}"  >
                                </div>
                                <div class="col-lg-2">
                                    <input type="date" name="end_date" id="end_date" class="form-control" required value="{{ request.GET.end_date }}"  >
                                </div>

                                <div class="col-lg-2 col-md-6 mt-4---">
                                    <button type="submit" class="btn btn-success rounded-pill btn-block pl-4 pr-4"> <i
                                            class="fas fa-search mr-2"></i> Search</button>
                                </div>
                                <div class="col-lg-2 col-md-6 mt-4---">
                                    <a href="{% url 'invoicing:forward_traceability_report' %}" class="btn btn-success rounded-pill btn-block pl-4 pr-4 text-white"> <i
                                            class="fa fa-refresh mr-2 text-white" ></i> Reset</a>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row mb-3 ml-1 mr-1 mt-5">
                <div class="col-sm-6">

                    <h6 class="font-weight-bold mt-3 text-muted">Forward Traceability Report for Grower - {{ grower_details }} from Invoice date {{start_invoice_date|date:'d-m-Y'}} To {{ end_invoice_date|date:'d-m-Y' }}</h6>
                </div>

                <div class="col-sm-6 text-right modalright">
                    <a type="button" href="{% url 'invoicing:forward_reports_pdf' %}?start_date={{ request.GET.start_date }}&end_date={{ request.GET.end_date }}&grower_id={{ request.GET.grower_id }}" style="width: 10rem" class="btn bg-danger text-white pl-3 pr-3">
                        <i class="fa fa-download  mr-2"  aria-hidden="true"></i>Download PDF
                    </a>
                </div>
                
            </div>

            <div class="row ml-2 mr-2">

                <div class="col-lg-12">

                    <div class="card report-page">

                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sr. No</th>
                                            <th>Invoice No.</th>
                                            <th>Invoice Date</th>
                                            <th>Type of Dispatch</th>
                                            <th>Consignee / Warehouse CTM No.</th>
                                            <th>Action</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if result_items %}
                                            {% for item in result_items %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                
                                                    <td class="text-capitalize">
                                                        {{ item.invoice_no }}
                                                    </td>
                                                    <td class="text-capitalize">
                                                        {{ item.invoice_date|date:'d-m-Y' }}
                                                    </td>
                                                    <td>
                                                        {% for obj in item.use_of_chemical_list %}
                                                            {{ obj.type_of_dispatch }}
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        {% for obj in item.use_of_chemical_list %}
                                                            {%  if obj.type_of_dispatch == "consignee" %}
                                                                {{ obj.consignee }}
                                                            
                                                            {% elif obj.type_of_dispatch == "warehouse" %}
                                                                {{ obj.warehouse }}
                                                            {% else %}
                                                                NA
                                                            {% endif %}
                                                        {% endfor %} 
                                                    </td>

                                                <td>
                                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" id="show_batch" data-target="#exampleModalLong{{ item.id }}">
                                                        <i class="fa fa-eye text-white"></i>&nbsp; Show Batch
                                                      </button>


                                                      <!-- Modal -->
                                                        <div class="modal fade" id="exampleModalLong{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header2 text-center">

                                                                    <h5>Batch List  </h5>
                                                                    <h6>Invoice no - {{ item.invoice_no }}</h6>
                                                                </div>
                                                                <div class="table-responsive">
                                                                    
                                                                    <table class="table">
                                                                        <thead>
                                                                            <th> Batch / Lot No.</th>
                                                                            <th>Bag No. from and To	</th>
                                                                            <th>Bag Weight</th>
                                                                        </thead>
                                                                        <tbody>

                                                                            {% for batch_item in item.batch_lists %}

                                                                            <tr>
                                                                                <td>
                                                                                   {{ batch_item.lot_batch }}
                                                                                </td>
                                                                                <td>
                                                                                    {{ batch_item.bag_no_range }}
                                                                                </td>
                                                                                <td>
                                                                                    {{ batch_item.lot_batch.bag_weight_kg }} Kg
                                                                                </td>
                                                                            </tr>

                                                                            {% endfor %}


                                                                        </tbody>
                                                                    </table>


                                                                </div>
                                                                <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                
                                                            </div>
                                                            </div>
                                                        </div>
                                                        
                                                </td>
                                                <td></td>
                                                </tr>
                                           

                                        {% endfor %}

                                        {% else %}
                                        <tr>
                                            <td colspan="9" class="text-center text-danger">Sorry! No Record Found.</td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>

                     <div class="d-flex justify-content-cente paggination-sec">
                        {% if is_paginated %}
        
                        <div class="">
                            <nav  class="">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link"
                                            href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    {% endif %}
        
                                    {% for i in paginator.page_range %}
                                    {% if page_obj.number == i %}
                                    <li class="page-item active">
                                        <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
                                    </li>
                                    {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                    {% endfor %}
        
        
                                    {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Next</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                        {% endif %}
                    </div>

                    {% if result.has_other_pages %}
                    <div class="d-flex justify-content-cente paggination-sec">
                        <div class="">
                            <nav class="">
                                <ul class="pagination">
                                    {% if result.has_previous %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="?page={{ result.previous_page_number }}" tabindex="-1">Previous</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    {% endif %}


                                    {% for i in result.paginator.page_range %} 
                                        {% if result.number == i %}
                                            <li class="page-item active">
                                                <a class="page-link" href="#">{{ i }} </a>
                                            </li>
                                            
                                        {% elif i > result.number|add:'-3' and i < result.number|add:'3' %}
                                            <li class="page-item ">
                                                <a class="page-link" href="?page={{ i }}">{{ i }} </a>
                                            </li>
                                        
                                        {% endif %} 
                                    {% endfor %} 

                                    <!-- <li class="page-item active">
                                        <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                                    </li> -->


                                    {% if result.has_next %}

                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ result.next_page_number }}">Next</a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a class="next" href="javascript:void(0);"><i class="ion-ios-arrow-right"></i></a>
                                    </li>
                                    {% endif %}
                    
                                </ul>
                            </nav>
                        </div>
                    </div>
                    {% endif %}
                    


                </div>

            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}

{% block js %}

<script src="{% static 'select2/select2.full.min.js' %}"></script>


<script>
  $(document).ready(function () {
    console.log({{ grower }})
    $("#grower_id").val({{ grower }});

});

</script>

<script>
    $("#end_date").change(function() {
      var start_date = document.getElementById("start_date").value;
      var end_date = document.getElementById("end_date").value;
  
      if ((Date.parse(end_date) <= Date.parse(start_date))) {
        alert("End date should be greater than Start date");
        document.getElementById("end_date").value = "";
      }
    });
</script>
<script>
    $(document).ready(function () {
  
      $(".select2_demo_1").select2({
        placeholder: "Select Associated Growers",
        width: '100%',
        allowClear: false,
        
      });
    });
  
  </script>


<script>
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
        
    });
</script>




<script>








</script>




{% endblock %}