<div class="card report-page">
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Sr. No</th>
                        <th>Month / Year</th>
                        <th>Total Working Days</th>
                        <th>Total Hours</th>
                        <th>Hourly Rate</th>
                        <th>Monthly Wages (INR)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if monthly_shedule_list %}
                        {% for item in monthly_shedule_list %}
                        <tr>
                            <td>{{ monthly_shedule_list.start_index|add:forloop.counter0 }}</td>
                            <td class="text-capitalize">{{ item.month }}/{{ item.year }}</td>
                            <td>{{ item.no_of_working_days|default:"NA" }}</td>
                            <td>{{ item.total_hours|default:"NA" }}</td>
                            <td>{{ item.hourly_rate|default:"NA" }}</td>
                            <td>{{ item.monthly_wages|default:"NA" }}</td>
                            <td class="project-actions text-left">
                                <div class="dropdown">
                                    <button class="action-menu-button" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item action-link" href="{% url 'chemical_data:farm_diary_record_detail' record_type='monthly-schedule' pk=item.pk %}">
                                            <i class="fa fa-eye"></i><span>View</span>
                                        </a>
                                        <a class="dropdown-item action-link" href="{% url 'chemical_data:farmdiary_monthly_shedule_edit' grower_pk=grower_pk monthly_shedule_pk=item.pk %}">
                                            <i class="fa fa-edit"></i><span>Edit</span>
                                        </a>
                                        <a class="dropdown-item action-link" href="{% url 'chemical_data:monthly_schedule_data_delete' pk=item.pk %}" data-confirm-text="Are you sure you want to delete this Monthly Schedule?">
                                            <i class="fa fa-trash"></i><span>Delete</span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <tr><td colspan="7" class="text-center text-danger">Sorry! No Record Found.</td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% if monthly_shedule_list.has_other_pages %}
<nav>
    <ul class="pagination">
        {% if monthly_shedule_list.has_previous %}
        <li class="page-item"><a class="page-link" href="?select_year={{ select_year }}&page={{ monthly_shedule_list.previous_page_number }}">Previous</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        {% endif %}
        {% for i in monthly_shedule_list.paginator.page_range %}
            {% if monthly_shedule_list.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
            {% elif i > monthly_shedule_list.number|add:'-3' and i < monthly_shedule_list.number|add:'3' %}
            <li class="page-item"><a class="page-link" href="?select_year={{ select_year }}&page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if monthly_shedule_list.has_next %}
        <li class="page-item"><a class="page-link" href="?select_year={{ select_year }}&page={{ monthly_shedule_list.next_page_number }}">Next</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
