{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %} Farm Diary- Google Map{% endblock %}
{% block css %}
<style>
  .p-user-image {
    height: 40px;
    border-radius: 30px;
  }
  #coordinates{
    display: none;
  }
  #area{
    font-size: 20px;
    font-weight: 600;
    padding-top: 12px;
  }
</style>
{% endblock %}

{% block content %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrRtkwvBcSh3_uISG8CVAX2IqykHdQEP4&libraries=drawing"></script>
    <script>
        var map;
        var polygon;

        // function showCoordinates(coordinates) {
        //     document.getElementById('coordinates').innerText = JSON.stringify(coordinates);
        // }

        // function showArea(area) {
        //     var areaInHectares = area / 10000; // Convert square meters to hectares
        //     document.getElementById('area').innerText = 'Total Area: ' + areaInHectares.toFixed(2) + ' ha';
        // }

        // function calculatePolygonArea(polygon) {
        //     var area = google.maps.geometry.spherical.computeArea(polygon.getPath());
        //     showArea(area);
        // }
        
        function showCoordinates(coordinates) {
            document.getElementById('coordinates').innerText = JSON.stringify(coordinates);
        }
        
        function showArea(area) {
            var areaInAcres = area / 4046.86; // Convert square meters to acres
            document.getElementById('area').innerText = 'Total Area : - ' + areaInAcres.toFixed(2) + ' acres';
        }

        function calculatePolygonArea(polygon) {
            var area = google.maps.geometry.spherical.computeArea(polygon.getPath());
            showArea(area);
        }

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
              center: {
                lat: 22.5744,
                lng: 88.3629
              },
                zoom: 17
            });

            var drawingManager = new google.maps.drawing.DrawingManager({
                drawingMode: google.maps.drawing.OverlayType.POLYGON,
                drawingControl: true,
                drawingControlOptions: {
                  position: google.maps.ControlPosition.TOP_CENTER,
                    drawingModes: [
                        google.maps.drawing.OverlayType.MARKER,
                        google.maps.drawing.OverlayType.CIRCLE,
                        google.maps.drawing.OverlayType.POLYGON,
                        google.maps.drawing.OverlayType.POLYLINE,
                        google.maps.drawing.OverlayType.RECTANGLE,
                    ],
                }
            });
            drawingManager.setMap(map);

            google.maps.event.addListener(drawingManager, 'overlaycomplete', function(event) {
                if (event.type == google.maps.drawing.OverlayType.POLYGON) {
                    polygon = event.overlay;
                    var path = polygon.getPath().getArray();
                    var coordinates = path.map(function(latLng) {
                        return { lat: latLng.lat(), lng: latLng.lng() };
                    });
                    showCoordinates(coordinates);
                    calculatePolygonArea(polygon);
                }
            });
        }
</script>
<div class="content-wrapper">
  <section class="content">
    <div class="container-fluid">
      <div class="row mb-3 ml-1 mr-1 pt-3">
        <div class="col-sm-6">
          <h6 class="font-weight-bold mt-3 text-muted" style="    font-size: 19px;
          color: #000 !important;"> {{ map_area_details }}</h6>
        </div>

        <div class="col-sm-6 text-right modalright">
          
          <a type="button" href="{% url 'chemical_data:chemical_type_list' grower_pk=grower_pk %}"
            class="btn bg-success2 text-white pl-3 pr-3">
            <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back
          </a>

        </div>
      </div>

      <div class="row ml-2 mr-2">
        <div class="col-lg-12">
            <div class="p-0">
              <div id="map" style="height: 300px; border: 2px solid #44ec3e;"></div>
              <div id="coordinates"></div>
              <!-- <div id="area">Total Area : - </div> -->
            </div>

            <form class="form-inline" action="/action_page.php">
              <div class="form-group pt-3">
                <label >Total Area : - &nbsp;</label>
                <input type="text" class="form-control"  id="area"   name="total_areas" readonly>
              </div>
            </form>
        </div>
      </div>
      
  </section>
</div>
<script>
  initMap();
</script>
{% endblock %}

{% block js %}

{% endblock %}