{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %} Farmers Aggreements Froms {% endblock %}

{% block css %}
<style>
    #sig-canvas {
        border: 2px dotted #CCCCCC;
        border-radius: 15px;
        cursor: crosshair;
        width: 100%;

    }

    @media (min-width: 576px) {
        .modal-dialog {
            max-width: 850px !important;
            margin: 1.75rem auto;
            max-height: 950px !important;
        }
    }


    #signature-pad {
        border: 2px dotted #CCCCCC;
    }
    #sig-image{
        border: 2px dotted #CCCCCC;
    }

    .nav-pills .btn{
        width: 245px!important;
        border-radius: 0px!important;
    }
    .img-sec{
        border: 2px solid #e3e3e3;
    width: 50%;
    padding: 0px 0px 25px;
    }

</style>
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="row mb-3 ml-1 mr-1 pt-3 ">
                <div class="col-sm-6">
                    <h6 class="font-weight-bold mt-3 text-muted text-capitalize"> Blf Official Signature</h6>
                </div>
                <div class="col-sm-6 text-right modalright">
                    <a type="button" href="{% url 'chemical_data:farmers_aggreements_forms_list' grower_pk=grower_pk %}"
                        class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-arrow-left  mr-2" aria-hidden="true"></i>Back
                    </a>
                </div>
            </div>

            <div class="row ml-1 mr-1">
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="white-box">
                                <!-- <h5 class="text-capitalize">Blf Official Signature</h5> -->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- text input -->
                                                <div class="form-group">

                                                    
                                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                                        <li class="nav-item" role="presentation">
                                                            <a id="img-btn" class="btn  btn-success text-white"  style="width: 160px;" >
                                                                <i class="fa fa-upload"></i>&nbsp; Upload Signature
                                                            </a>
                                                        </li>
                                                        <li class="nav-item" role="presentation">
                                                            <a id="digital-btn" class="btn  btn-default text-dark"  style="width: 160px;">
                                                                <i class="fa fa-file-signature"></i>&nbsp; Digital Signature 
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div id="digital-file-upload">
                                                        <div class="container">


                                                            <div class="img-sec">
                                                                {% if signature_details.blf_grade_official_signature_file %}
                                                                <img src="{{ signature_details.blf_grade_official_signature_file.url }}"
                                                                    class="pt-3" alt="" style="height:94px" ;>

                                                                {% else %}

                                                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP_iSgev-L56KZv7Ai0dLpdzSDyHczq25wNw7ozseTKA&s"
                                                                    class="pt-3" alt="">
                                                                {% endif %}
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12 pt-3">
                                                                    <h4>Digital-Signature</h4>
                                                                    <p>Sign in the below</p>
                                                                </div>
                                                            </div>

                                                            <form method="POST" action="{% url 'chemical_data:uplaod_blf_signature' %}" enctype="multipart/form-data">
                                                                {% csrf_token %}

                                                                <input type="hidden" name="grower_pk" value="{{ grower_pk }}">
                                                                <input type="hidden" name="form_master_pk" value="{{ form_master_pk }}">
                                                                <input type="hidden" name="signature_type" value="digital_signature">
                                                                
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <canvas id="signature-pad" class="signature-pad" width="620" height="160"></canvas>
                                                                    </div>
                                                                </div>
                                                            
                                                                <div class="form-group">
                                                                    <label for="signature_file">Upload Your Signature</label>
                                                                    
                                                                    <input type="hidden" name="signature_data" id="signature_data" value="">

                                                                </div>
                                                            
                                                                <div class="form-group">
                                                                    <button type="submit" id="save-button" class="btn btn-success pt-2 pb-2">Upload Signature</button>
                                                                    
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                                    <div id="image-file-upload">
                                                        <div class="container">
                                                            <div class="img-sec">
                                                                {% if signature_details.blf_grade_official_signature_file %}
                                                                <img src="{{ signature_details.blf_grade_official_signature_file.url }}"
                                                                    class="pt-3" alt="" style="height:120px" ;>
                                                                {% else %}
                                                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP_iSgev-L56KZv7Ai0dLpdzSDyHczq25wNw7ozseTKA&s"
                                                                    class="pt-3" alt="">
                                                                {% endif %}

                                                            </div>
                                                            <div class="pt-3">

                                                                <form method="POST"
                                                                    action="{% url 'chemical_data:uplaod_blf_signature' %}"
                                                                    enctype="multipart/form-data">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" name="grower_pk"
                                                                        value="{{ grower_pk }}">
                                                                    <input type="hidden" name="form_master_pk"
                                                                        value="{{ form_master_pk }}">

                                                                    <div class="form-group">
                                                                        <label for="signature_file">Upload Your
                                                                            Signature</label>
                                                                        <input type="file" name="blf_grade_official_signature_file"
                                                                            class="form-control"
                                                                            id="farmer_signature_file"
                                                                            style="width: 30%;" required>
                                                                    </div>
                                                                    <div class="form-group">

                                                                        <button type="submit"
                                                                            class="btn  btn-success pt-2 pb-2">Upload Signature</button>
                                                                    </div>
                                                                </form>

                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>


    {% endblock %}

    {% block js %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>
    <script>

        $(document).ready(function () {
            $("#digital-file-upload").hide();
            $("#image-file-upload").show();

            $("#img-btn").click(function () {
                $("#digital-file-upload").hide();
                $("#image-file-upload").show();

                $("#img-btn").removeClass("btn-default text-dark").addClass("btn-success text-white");
                $("#digital-btn").removeClass("btn-success text-white").addClass("btn-default text-dark");
            });

            $("#digital-btn").click(function () {
                $("#image-file-upload").hide();
                $("#digital-file-upload").show();

                $("#img-btn").removeClass("btn-success text-white").addClass("btn-default text-dark");
                $("#digital-btn").removeClass("btn-default text-white").addClass("btn-success text-white");
            });

        });



        // Added onclick event handling to set the value of signature_data input
        $('#signature-pad').click(function () {

            

            var dataURL = signaturePad.toDataURL();
            var inputElement = document.getElementById('signature_data');
            inputElement.value = dataURL;


            console.log("######## dataURL", dataURL)

        });



        var canvas = document.getElementById('signature-pad');
        var signaturePad = new SignaturePad(canvas);

        $('#clear-button').click(function () {
            signaturePad.clear();
        });

        $('#save-button').click(function () {
            var dataURL = signaturePad.toDataURL();
            var inputElement = document.getElementById('signature_data');
            inputElement.value = dataURL;

            // Send the dataURL to the server using AJAX
            $.ajax({
                type: 'POST',
                url: "{% url 'chemical_data:uplaod_blf_signature' %}",
                data: { signature_data: dataURL },
                success: function (response) {
                    console.log(response);
                    // Handle success response if needed
                },
                error: function (xhr, status, error) {
                    console.log(error);
                    // Handle error response if needed
                }
            });
        })
    </script>
    <script>
        $(document).ready(function () {
    
            var signaturePad = new SignaturePad(document.getElementById('signature-pad'));
    
            $('#save-button').click(function (e) {
                if (signaturePad.isEmpty()) {
                    e.preventDefault();
                    alert('Please provide your signature before uploading.');
                } else {
                    var dataURL = signaturePad.toDataURL();
                    $('#signature_data').val(dataURL);
                }
            });
    
    
        });
        </script>

    {% endblock %}