{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %}{{ title }}{% endblock %}

{% block content %}
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-3 ml-1 mr-1">
                <div class="col-sm-6">
                    <h6 class="font-weight-bold mt-3 text-muted">{{ title }}</h6>
                </div>
                <div class="col-sm-6 text-right modalright">
                    <a href="{{ request.META.HTTP_REFERER|default:'javascript:history.back()' }}" class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-arrow-left mr-2"></i>Back
                    </a>
                </div>
            </div>
            <div class="row ml-2 mr-2">
                <div class="col-lg-12">
                    <div class="card report-page">
                        <div class="card-body">
                            <div class="row">
                                {% for label, value in fields %}
                                <div class="col-md-6 mb-3">
                                    <div class="text-muted font-weight-bold">{{ label }}</div>
                                    <div>{{ value }}</div>
                                </div>
                                {% endfor %}
                            </div>
                            {% if record_type == "monthly-schedule" %}
                            <h6 class="font-weight-bold mt-3 text-muted">Days and Hours</h6>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Week</th>
                                            <th>Days</th>
                                            <th>Hours</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in item.monthly_schedule_hour_details.all %}
                                        <tr>
                                            <td>Week {{ forloop.counter }}</td>
                                            <td>{{ row.days }}</td>
                                            <td>{{ row.hour }}</td>
                                        </tr>
                                        {% empty %}
                                        <tr><td colspan="3" class="text-center text-danger">Sorry! No Record Found.</td></tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
