{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %}Farm Diary- Manual Map{% endblock %}

{% block css %}
<style>
    .manual-map-preview {
        background: #f7fafc;
        border: 1px solid #dbe8ef;
        border-radius: 8px;
        height: 320px;
        overflow: hidden;
        width: 100%;
    }
    .manual-map-preview img {
        height: 100%;
        object-fit: contain;
        width: 100%;
    }
    .manual-map-empty {
        align-items: center;
        color: #6f8293;
        display: flex;
        font-weight: 700;
        height: 100%;
        justify-content: center;
    }
    .manual-map-section-title {
        color: #3d4b56;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 18px;
    }
</style>
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-3 ml-1 mr-1">
                <div class="col-sm-6">
                    <h6 class="font-weight-bold mt-3 text-muted">Grower - {{ grower_details.name|default:grower_details }}</h6>
                </div>
                <div class="col-sm-6 text-right modalright">
                    <a type="button" href="{% url 'chemical_data:farm_diary_map_create' grower_pk=grower_pk %}" class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back
                    </a>
                </div>
            </div>

            <div class="row ml-2 mr-2 mb-3">
                <div class="col-lg-12">
                    <div class="manual-map-preview">
                        {% if map_area_master_details.map_image %}
                        <img src="{{ map_area_master_details.map_image.url }}" alt="Manual map image">
                        {% else %}
                        <div class="manual-map-empty">No manual map uploaded</div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row ml-1 mr-1">
                <div class="col-lg-12 col-12">
                    <div class="white-box">
                        <form method="POST" role="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="manual-map-section-title">
                                {% if map_area_master_details.map_image %}Update Manual Map{% else %}Create Manual Map{% endif %}
                            </div>

                            {% if form.non_field_errors %}
                            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
                            {% endif %}

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="{% if not map_area_master_details.map_image %}required_field{% endif %}">Map Image</label>
                                        {{ form.map_image }}
                                        {{ form.map_image.errors }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="required_field">Map Details</label>
                                        {{ form.land_near_by }}
                                        {{ form.land_near_by.errors }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="required_field">Total Area</label>
                                        {{ form.total_area }}
                                        {{ form.total_area.errors }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 white-box-submit">
                                    <button type="submit" class="btn btn-block btn-success pt-2 pb-2">
                                        {% if map_area_master_details.map_image %}Update{% else %}Submit{% endif %}
                                    </button>
                                </div>
                                <div class="col-lg-3 white-box-reset">
                                    <button type="reset" class="btn btn-block btn-default pt-2 pb-2">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block js %}{% endblock %}
