{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %} Farmers Aggreements Forms {% endblock %}

{% block css %}  
<style>
    #sig-canvas {
        border: 2px dotted #CCCCCC;
        border-radius: 15px;
        cursor: crosshair;
        width: 100%;
        
        }

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 850px!important;
        margin: 1.75rem auto;
        max-height: 950px!important;
    }
}


#signature-pad{
    border: 2px dotted #CCCCCC;
}

.bg-success2 {
    background-color: #6CBB45 !important;
    width: 11rem;
}
.farm-action-bar .btn {
    border-radius: 6px;
    font-weight: 600;
    margin-bottom: 8px;
}
.farm-agreement-title {
    color: #5d6a75;
    font-weight: 700;
}

</style>
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <div class="row mb-3 ml-1 mr-1 pt-3 ">
                <div class="col-sm-4">
                    <h6 class="farm-agreement-title mt-3 text-capitalize">Grower - {{ grower_details.name }}</h6>
                </div>
                <div class="col-sm-8 text-right modalright farm-action-bar">

                    <a href="{% url 'chemical_data:farmers_aggreements_forms_details' grower_pk=grower_pk %}" 
                    class="btn bg-success text-white pl-3 pr-3" >
                    <i class="fa fa-file-signature"></i>&nbsp;Farmer Signature</a>



                    <a href="{% url 'chemical_data:farmers_aggreements_blf_signature' grower_pk=grower_pk %}" 
                    class="btn bg-warning text-white pl-3 pr-3" >
                    <i class="fa fa-file-signature"></i>&nbsp;BLF Signature</a>




                    <a type="button" href="{% url 'chemical_data:chemical_type_list' grower_pk=grower_pk %}" class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-arrow-left  mr-2" aria-hidden="true"></i>Back
                    </a>
                </div>
            </div>

            <div class="row ml-2 mr-2">
                <div class="col-lg-12">
                    <div class="card report-page">
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Sr. No</th>
                                            <th>From Name</th>
                                            <!-- <th>Farmer Signature</th>
                                            <th>Blf Grade Official Signature</th> -->
                                          
                                            <!-- <th>Download Form</th> -->
                                            
                                            <!-- <th>Action</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>

                                    
                                        {% if froms_list %}
                                            {% for item in froms_list %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                
                                                <td class="text-capitalize">
                                                    {% if item.form_master_name %}
                                                        {{ item.form_master_name }}
                                                    {% else %}
                                                        NA
                                                    {% endif %}
                                                </td>
                                                <!-- <td class="text-capitalize">



                                                    {% if item.form_details %}
                                                    
                                                        {% for obj in item.form_details.all %}  
                                                            {% if obj.farmer_signature_file %}
                                                            <a href="{{ obj.farmer_signature_file.url }}"  target="_blank">
                                                                <img src="{{ obj.farmer_signature_file.url }}" alt="" style="height:40px";>
                                                            </a>
                                                            {% else %}
                                                                NA
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        NA
                                                    {% endif %}
                                                </td> -->
                                                <!-- <td class="text-capitalize">
                                                    {% if item.form_details %}
                                                        {% for obj in item.form_details.all %}  
                                                            {% if obj.blf_grade_official_signature_file %}
                                                            <a href="{{ obj.blf_grade_official_signature_file.url }}"  target="_blank">
                                                                <img src="{{ obj.blf_grade_official_signature_file.url }}" alt="" style="height:40px";>
                                                            </a>
                                                            {% else %}
                                                                NA

                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        NA
                                                    {% endif %}
                                                </td> -->
                                                <!-- <td class="text-capitalize "> 
                                                    <a href="{% url 'chemical_data:farmers_aggreements_form_view' grower_pk=grower_pk id=item.form_master_pk %}" target="_blank"><i class="fa fa-file-pdf text-danger"></i> &nbsp;</a>
                                                </td> -->
                                                
                                                
                                            </tr>

                                            {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td colspan="9" class="text-center text-danger">Sorry! No Record Found.</td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>
<script>

$(document).ready(function() {
    $("#digital-file-upload").hide();
    $("#image-file-upload").show();

    $("#img-btn").click(function() {
        $("#digital-file-upload").hide();
        $("#image-file-upload").show();
    });

    $("#digital-btn").click(function() {
        $("#image-file-upload").hide();
        $("#digital-file-upload").show();
    });
});

var canvas = document.getElementById('signature-pad');
var signaturePad = new SignaturePad(canvas);

$('#clear-button').click(function() {
    signaturePad.clear();
});

$('#save-button').click(function() {
    var dataURL = signaturePad.toDataURL();
    
    // Update the signature image with the latest saved signature
    document.getElementById('sig-image').src = dataURL;

    // send the dataURL to the server using AJAX
    $.ajax({
        type: 'POST',
        url: '/upload_signature',
        data: { signature_data: dataURL },
        success: function(response) {
            console.log(response);
            // do something with the response, if needed
        },
        error: function(xhr, status, error) {
            console.log(error);
            // handle the error, if needed
        }
    });
});
</script>


{% endblock %}
