<body>
    
    <div style="    width: 100%;
    height: 1005%;" id="map"></div>

</body>


<script>
        var map;
        var polygon;
 
        // function showCoordinates(coordinates) {
        //     document.getElementById('coordinates').innerText = JSON.stringify(coordinates);
        // }
 
        // function showArea(area) {
        //     var areaInHectares = area / 10000; // Convert square meters to hectares
        //     document.getElementById('area').innerText = 'Total Area: ' + areaInHectares.toFixed(2) + ' ha';
        // }
 
        // function calculatePolygonArea(polygon) {
        //     var area = google.maps.geometry.spherical.computeArea(polygon.getPath());
        //     showArea(area);
        // }
 
        function showCoordinates(coordinates) {
            // document.getElementById('coordinates').innerText = JSON.stringify(coordinates);
            // window.ReactNativeWebView.postMessage(areaInAcres.toFixed(2));
        }
        // function showArea(area) {
        //     var areaInAcres = area / 4046.86; // Convert square meters to acres
        //     document.getElementById('area').innerText = 'Total Area : - ' + areaInAcres.toFixed(2) + ' acres';
        // }
 
        function showArea(area) {
            var areaInAcres = area / 4046.86; // Convert square meters to acres
            // window.postMessage("hello")
            window.ReactNativeWebView.postMessage(areaInAcres.toFixed(2));
            // document.getElementById('areaInput').value = areaInAcres.toFixed(2);
        }
 
        function calculatePolygonArea(polygon) {
            var area = google.maps.geometry.spherical.computeArea(polygon.getPath());
            showArea(area);
        }
 
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
              center: {
                lat: 22.5744,
                lng: 88.3629
              },
                zoom: 15
            });
 
            var drawingManager = new google.maps.drawing.DrawingManager({
                drawingMode: google.maps.drawing.OverlayType.POLYGON,
                drawingControl: true,
                drawingControlOptions: {
                  position: google.maps.ControlPosition.TOP_CENTER,
                    drawingModes: [
                        // google.maps.drawing.OverlayType.MARKER,
                        // google.maps.drawing.OverlayType.CIRCLE,
                        google.maps.drawing.OverlayType.POLYGON,
                        google.maps.drawing.OverlayType.POLYLINE,
                        // google.maps.drawing.OverlayType.RECTANGLE,
                    ],
                }
            });
            drawingManager.setMap(map);
 
            google.maps.event.addListener(drawingManager, 'overlaycomplete', function(event) {
                if (event.type == google.maps.drawing.OverlayType.POLYGON) {
                    polygon = event.overlay;
                    var path = polygon.getPath().getArray();
                    var coordinates = path.map(function(latLng) {
                        return { lat: latLng.lat(), lng: latLng.lng() };
                    });
                    showCoordinates(coordinates);
                    calculatePolygonArea(polygon);
                }
            });
        }
 
</script>
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrRtkwvBcSh3_uISG8CVAX2IqykHdQEP4&libraries=drawing&callback=initMap"></script>