{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %} Farm Diary- Google Map{% endblock %}
{% block css %}
<style>
  .p-user-image {
      height: 40px;
      border-radius: 30px;
  }
  #map {
      height: 300px;
      border: 2px solid #44ec3e;
  }
  #coordinates {
      display: none;
  }
  #area {
      font-size: 20px;
      font-weight: 600;
      padding-top: 12px;
  }
  #map {
          height: 350px;
          width: 98%;
          margin: 10px auto;
          border: 2px solid #6cbb02;
      }
</style>


{% endblock %}

{% block content %}


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrRtkwvBcSh3_uISG8CVAX2IqykHdQEP4&libraries=drawing"></script>

<script>

</script>
{% if not check_details_data.coordinate %}
    <script>
        var map;
        var polygon;
        function showCoordinates(coordinates) {
            document.getElementById('coordinatesInput').value = JSON.stringify(coordinates);
        }
        
        function showArea(area) {
            var areaInAcres = area / 4046.86; // Convert square meters to acres
            document.getElementById('areaInput').value = areaInAcres.toFixed(2);
        }

        function calculatePolygonArea(polygon) {
            var area = google.maps.geometry.spherical.computeArea(polygon.getPath());
            showArea(area);
        }

        function initMap() {

          navigator.geolocation.getCurrentPosition(function(position) {
            var userLocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
          
            map = new google.maps.Map(document.getElementById('map'), {
              center: userLocation,
                zoom: 17
            });

             // Add a marker to show the user's location
            var marker = new google.maps.Marker({
              position: userLocation,
              map: map,
              title: 'Your Location'
            });

            // Add the drawing manager to the map
            var drawingManager = new google.maps.drawing.DrawingManager({
              drawingMode: google.maps.drawing.OverlayType.POLYGON,
              drawingControl: true,
              drawingControlOptions: {
                position: google.maps.ControlPosition.TOP_CENTER,
                drawingModes: [
                  google.maps.drawing.OverlayType.MARKER,
                  google.maps.drawing.OverlayType.CIRCLE,
                  google.maps.drawing.OverlayType.POLYGON,
                  google.maps.drawing.OverlayType.POLYLINE,
                  google.maps.drawing.OverlayType.RECTANGLE,
                ],
              }
            });
            drawingManager.setMap(map);

            // Add an event listener to the drawing manager to handle polygon overlays
            google.maps.event.addListener(drawingManager, 'overlaycomplete', function(event) {
              if (event.type == google.maps.drawing.OverlayType.POLYGON) {
                polygon = event.overlay;
                var path = polygon.getPath().getArray();
                var coordinates = path.map(function(latLng) {
                  return { lat: latLng.lat(), lng: latLng.lng() };
                });

                console.log("coordinates", coordinates)
                console.log("polygon", polygon)

                showCoordinates(coordinates);
                calculatePolygonArea(polygon);
              }
            });
        });
        
      }

</script>


{% elif edit %}


<script>
  var map;
  var polygon;

  function showCoordinates(coordinates) {
      document.getElementById('coordinatesInput').value = JSON.stringify(coordinates);
  }

  function showArea(area) {
      var areaInAcres = area / 4046.86; // Convert square meters to acres
      document.getElementById('areaInput').value = areaInAcres.toFixed(2);
  }

  function calculatePolygonArea(polygon) {
      var area = google.maps.geometry.spherical.computeArea(polygon.getPath());
      showArea(area);
  }

  function initMap() {

navigator.geolocation.getCurrentPosition(function(position) {
  var userLocation = {
    lat: position.coords.latitude,
    lng: position.coords.longitude
  };

  map = new google.maps.Map(document.getElementById('map'), {
    center: userLocation,
      zoom: 17
  });

   // Add a marker to show the user's location
  var marker = new google.maps.Marker({
    position: userLocation,
    map: map,
    title: 'Your Location'
  });

  // Add the drawing manager to the map
  var drawingManager = new google.maps.drawing.DrawingManager({
    drawingMode: google.maps.drawing.OverlayType.POLYGON,
    drawingControl: true,
    drawingControlOptions: {
      position: google.maps.ControlPosition.TOP_CENTER,
      drawingModes: [
        google.maps.drawing.OverlayType.MARKER,
        google.maps.drawing.OverlayType.CIRCLE,
        google.maps.drawing.OverlayType.POLYGON,
        google.maps.drawing.OverlayType.POLYLINE,
        google.maps.drawing.OverlayType.RECTANGLE,
      ],
    }
  });
  drawingManager.setMap(map);

  // Add an event listener to the drawing manager to handle polygon overlays
  google.maps.event.addListener(drawingManager, 'overlaycomplete', function(event) {
    if (event.type == google.maps.drawing.OverlayType.POLYGON) {
      polygon = event.overlay;
      var path = polygon.getPath().getArray();
      var coordinates = path.map(function(latLng) {
        return { lat: latLng.lat(), lng: latLng.lng() };
      });

      console.log("coordinates", coordinates)
      console.log("polygon", polygon)

      showCoordinates(coordinates);
      calculatePolygonArea(polygon);
    }
  });
});

}

  function getPolygonBounds(polygon) {
      var bounds = new google.maps.LatLngBounds();
      polygon.getPath().forEach(function(latLng) {
          bounds.extend(latLng);
      });
      return bounds;
  }

  document.addEventListener('DOMContentLoaded', function() {
      initMap();
  });
</script>



{% else %}

<script>
  var map;
  var polygon;

  var existingCoordinates = {{ check_details_data.coordinate|safe }};


  function initMap() {

      map = new google.maps.Map(document.getElementById('map'), {
          center: { lat: 22.5744, lng: 88.3629 },
          zoom: 17
      });

      if (existingCoordinates && existingCoordinates.length > 0) {

          var path = existingCoordinates.map(function(coord) {
              return new google.maps.LatLng(coord.lat, coord.lng);
          });

          polygon = new google.maps.Polygon({
              paths: path,
              map: map,
          });

          map.fitBounds(getPolygonBounds(polygon));
          showArea(google.maps.geometry.spherical.computeArea(polygon.getPath()));
          showCoordinates(existingCoordinates);

          google.maps.event.addListener(polygon.getPath(), 'insert_at', function() {
              calculatePolygonArea(polygon);
              var path = polygon.getPath().getArray();
              var coordinates = path.map(function(latLng) {
                  return { lat: latLng.lat(), lng: latLng.lng() };
              });
              showCoordinates(coordinates);
          });

      } 
  }

  function getPolygonBounds(polygon) {
      var bounds = new google.maps.LatLngBounds();
      polygon.getPath().forEach(function(latLng) {
          bounds.extend(latLng);
      });
      return bounds;
  }

  function showCoordinates(coordinates) {
      document.getElementById('coordinatesInput').value = JSON.stringify(coordinates);
  }

  function showArea(area) {
      var areaInAcres = area / 4046.86; // Convert square meters to acres
      document.getElementById('areaInput').value = areaInAcres.toFixed(2);
  }

  function calculatePolygonArea(polygon) {
      var area = google.maps.geometry.spherical.computeArea(polygon.getPath());
      showArea(area);
  }


</script>


{% endif %}

<div class="content-wrapper">
  <section class="content">
    <div class="container-fluid">
      <div class="row mb-3 ml-1 mr-1 pt-3">
        <div class="col-sm-6">
          <h6 class="font-weight-bold mt-3 text-muted" style="    font-size: 19px;
          color: #000 !important;"> {{ map_area_details }}</h6>
        </div>

        <div class="col-sm-4" style="float: right;">
            {% if check_details_data  %}

            <form  role="form" method="GET">
              {% csrf_token %}  
              
              <input type="hidden" name="action_type" value="edit" >
              <button type="submit" 
                class="btn bg-info text-white pl-3 pr-3" style="width: 8rem; float: right;">
                <i class="fa fa-edit mr-2 text-white" aria-hidden="true"></i>Edit
              </button>
            </form>

            {% endif %}

          </div>
          <div class="col-sm-1 text-right modalright">



            {% if map_area_details.pk == 1  %}



            <a type="button" href="{% url 'chemical_data:chemical_type_list' grower_pk=grower_pk %}"
              class="btn bg-success2 text-white pl-3 pr-3">
              <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back
            </a>
            {% else %}

            <a type="button" href="{% url 'chemical_data:farm_diary_add_map' grower_pk=grower_pk map_area=map_area_back_url %}"
              class="btn bg-success2 text-white pl-3 pr-3">
              <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back
            </a>
            {% endif %}


            

        </div>
      </div>
      
      {% if map_area == "water-source-land-near-by"  %}

        <div class="row ml-2 mr-2">
          <div class="col-lg-12">
              {% if not check_details_data %}
              <form  role="form" method="POST">
                {% csrf_token %}
                  <div class="row">
                    
                    <div class="col-lg-3" >
                      <div class="form-group pt-3">
                        <label>Water source : &nbsp;</label>
                        <input type="text" class="form-control" id="areaInput" name="total_area" min="0.1" step="any" pattern="[0-9]+(\.[0-9]+)?"  required>
                      </div>
                    </div>

                  </div>

                  <div class="row ">
                      <div class="col-lg-3 white-box-submit">
                          <button type="submit"
                              class="btn btn-block btn-success pt-2 pb-2">Submit &amp; Next</button>
                      </div>
                  </div>
                  <br><br>
              </form>
              {% else %}
              <form  role="form" method="POST" action="{% url 'chemical_data:farm_diary_edit_map_text_data' grower_pk=grower_pk map_area=map_area %}">
                {% csrf_token %}
                <div class="row">
                    
                    <div class="col-lg-3" >
                      <div class="form-group pt-3">
                        <label>Water Source : &nbsp;</label>

                        {% if edit %}
                        <input type="number" class="form-control" value="{{ check_details_data.total_areas }}" id="areaInput" name="total_area" min="0.1" step="any" pattern="[0-9]+(\.[0-9]+)?" required>
                        {% else %}
                        <input type="text" class="form-control" value="{{ check_details_data.total_areas }}" name="total_area" readonly>
                        {% endif %}

                        
                      </div>
                    </div>
                  </div>
                  <div class="row ">
                      <div class="col-lg-3 white-box-submit">
                          {% if edit %}
                          <button type="submit"
                          class="btn btn-block btn-success pt-2 pb-2">Update</button>
                          {% else %}
                          <a href="{% url 'chemical_data:farm_diary_add_map' grower_pk=grower_pk map_area=map_area_url %}"
                                class="btn btn-block btn-success pt-2 pb-2">View Next</a>
                          {% endif %}
                      </div>
                  </div>
                  <br><br>
              </form>
              {% endif %}
          </div>
        </div>
      {% elif map_area == "land-nearby"  %}
        <div class="row ml-2 mr-2">
          <div class="col-lg-12">
              {% if not check_details_data %}
              <form  role="form" method="POST">
                {% csrf_token %}
                {% csrf_token %}
                  <div class="row">            
                    <div class="col-lg-3" >
                      <div class="form-group pt-3">
                        <label>Land Nearby : &nbsp;</label>
                        <input type="number" class="form-control"  id="areaInput" name="total_area" min="0.1" step="any" pattern="[0-9]+(\.[0-9]+)?" required>
                        
                      </div>
                    </div>
                  </div>
                  <div class="row ">
                      <div class="col-lg-3 white-box-submit">
                          <button type="submit"
                              class="btn btn-block btn-success pt-2 pb-2">Submit &amp; Next</button>
                      </div>
                  </div>
                  <br><br>
              </form>
              {% else %}
              <form  role="form" method="POST" action="{% url 'chemical_data:farm_diary_edit_map_text_data' grower_pk=grower_pk map_area=map_area %}">
                {% csrf_token %}
                  <div class="row">
                    <div class="col-lg-3" >
                      <div class="form-group pt-3">
                        <label>Land Nearby : &nbsp;</label>
                        {% if edit %}
                        <input type="number" class="form-control" value="{{ check_details_data.total_areas }}" id="areaInput" name="total_area" min="0.1" step="any" pattern="[0-9]+(\.[0-9]+)?" required>

                        {% else %}
                        <input type="text" class="form-control" value="{{ check_details_data.total_areas }}" name="total_area" readonly>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="row ">
                    <div class="col-lg-3 white-box-submit">
                        {% if edit %}
                        <button type="submit"
                        class="btn btn-block btn-success pt-2 pb-2">Update</button>
                        {% else %}
                        <a href="{% url 'chemical_data:farm_diary_add_map' grower_pk=grower_pk map_area=map_area_url %}"
                              class="btn btn-block btn-success pt-2 pb-2">View Next</a>
                        {% endif %}
                    </div>
                </div>
                  <br><br>
              </form>
              {% endif %}
          </div>
        </div>
      {% else %}
        <!-- MAIN MAP -->
        <div class="row ml-2 mr-2">
          <div class="col-lg-12">
              <div class="p-0">
                <div id="map" style="height: 300px; border: 2px solid #44ec3e;"></div>
                <div id="coordinates"></div>
              </div>
              {% if not check_details_data %}
              <form  role="form" method="POST">
                {% csrf_token %}
                  <div class="row">
                    <div class="col-lg-3" >
                      <div class="form-group pt-3">
                        <label>Total Area in acers  : &nbsp;</label>
                        <input type="hidden" name="edit_map" value="0" >
                        <input type="text" class="form-control" id="areaInput" name="total_area"  required>
                        <input type="hidden" id="coordinatesInput" name="coordinates">
                      </div>
                    </div>
                  </div>
                  <div class="row ">
                      <div class="col-lg-3 white-box-submit">
                          <button type="submit"
                              class="btn btn-block btn-success pt-2 pb-2">Submit &amp; Next</button>
                      </div>
                  </div>
                  <br><br>
              </form>
              {% else %}
              <form  role="form" method="POST" action="{% url 'chemical_data:farm_diary_edit_map' grower_pk=grower_pk map_area=map_area %}">
                {% csrf_token %}
                  <div class="row">
                    <div class="col-lg-3" >
                      <div class="form-group pt-3">
                        <label>Total Area in acers  : &nbsp;</label>
                        {% if edit %}
                        <input type="hidden" name="edit_map" value="map_edit" >
                        <input type="text" class="form-control" id="areaInput"  name="total_area" value="{{ check_details_data.total_areas }}">
                        <input type="hidden" id="coordinatesInput" name="coordinates" >
                        {% else %}
                        <input type="text" class="form-control" id="areaInput" value="{{ check_details_data.total_areas }}" name="total_area" readonly>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="row ">
                      <div class="col-lg-3 white-box-submit">
                        {% if edit %}
                        <button type="submit"
                        class="btn btn-block btn-success pt-2 pb-2">Update</button>
                        {% else %}
                        <a href="{% url 'chemical_data:farm_diary_add_map' grower_pk=grower_pk map_area=map_area_url %}"
                              class="btn btn-block btn-success pt-2 pb-2">View Next</a>

                        {% endif %}
                      </div>
                  </div>

                  <br><br>
              </form>

              {% endif %}
          </div>
        </div>
      {% endif %}
  </section>
</div>
<script>
  initMap();
</script>
{% endblock %}

{% block js %}

{% endblock %}