{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %} Monthly Schedule of Work	  {% endblock %}
{% block css %}
{% endblock %}
{% block content %}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-3 ml-1 mr-1">
                <div class="col-sm-6">
                    <h6 class="font-weight-bold mt-3 text-muted"> {% if not form.instance.pk %} Add New {% else %} Edit{% endif %} </h6>
                </div>
                <div class="col-sm-6 text-right modalright">
                    

                    <a type="button" href="{% url 'chemical_data:farmdiary_monthly_shedule_list' grower_pk=grower_pk %}" class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back 
                    </a>
                </div>
            </div>
            <!-- Small boxes (Stat box) -->
            <div class="row ml-1 mr-1">
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="white-box">

                            <form method='POST' role="form" id="create-form" >
                                {% csrf_token %}
                                <h5>Grower - {{ grower_details.name }}
                                   </h5>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">


                                       

                                            
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field">Year</label>
                                                    {{ form.year }}
                                                    {{ form.year.errors }}
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field---">Month</label>
                                                    {{ form.month }}
                                                    {{ form.month.errors }}
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field---">Total no. of working days</label>
                                                    {{ form.no_of_working_days }}
                                                    {{ form.no_of_working_days.errors }}
                                                </div>
                                            </div>

                                            
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field---">Average monthly wages (INR)</label>
                                                    {{ form.monthly_wages }}
                                                    {{ form.monthly_wages.errors }}
                                                </div>
                                            </div>

                                        
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 white-box-submit">
                                        <button type="submit"
                                            class="btn btn-block btn-success pt-2 pb-2">Update</button>
                                    </div>

                                    {% if not form.instance.pk %}
                                        <div class="col-lg-3 white-box-reset">
                                            <button type="button" id="resetButton" 
                                            class="btn btn-block btn-default pt-2 pb-2">Reset</button>
                                        </div>
                                    {% endif %} 
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>





{% endblock %}

{% block js %}
<script src="{% static 'formset/formset.js' %}"></script>
<script src="{% static 'select2/select2.full.min.js' %}"></script>

<script>
    // Reset Form
    $(document).ready(function(){
        $("#resetButton").on("click", function(e){
                console.log("reset btn");   
                // location.reload();
                $("#create-form").get(0).reset()
                // $('#grade_id').val(null).trigger('change');
                // // $('#select2-land_type').val(null).trigger('change');
                
        });
    });
    
    </script>





<script>

function product_type_change(sel) {
    ctrlIndex = sel.id.replace("id_batchlist_invoice_no-", "")
    i = ctrlIndex.indexOf("-")
    if (i < 0)
        return
    ctrlIndex = ctrlIndex.substr(0, i)


    reelCtrlID = "id_batchlist_invoice_no-" + ctrlIndex + "-lot_batch_no"

    sheet1CtrlID = "#id_batchlist_invoice_no-" + ctrlIndex + "-bag_no_range"


    console.log("ID - ", sheet1CtrlID)

    var lot_batch_no = sel.options[sel.selectedIndex].text;

    console.log(lot_batch_no)
    
    $.ajax({
        url: "{% url 'invoicing:load_range' %}",
        data: {
            'lot_batch_no' : lot_batch_no,
        },    
        // dataType: 'json',
        success: function (response) {  

            // textToInsert =  response['value'];
            // $('#select2_supplier_fetch').html(textToInsert);

            // var option = new Option(response['value'], response['value'], true, true);
            // $('#blf_supplier').append(option).trigger('change');
            // $('#sheet1CtrlID').val(response['value']);

            // $(sheet1CtrlID).html(response['html']);

            $(sheet1CtrlID).val(response['value']);




        },
        error: function (rs, e) {
            console.log(rs);
            console.log(e)
        }
    });




}









$('#id_batchlist_invoice_no-0-lot_batch_no').on('change', function () {

    

    // $('#challan_list').hide();

    var data = $(this).val();
    // console.log(data)

    // $.ajax({
    //     url: "{% url 'leaf_receipt:load_supply_date' %}",
    //     data: {
    //         'id' : data,
    //     },    
    //     dataType: 'json',
    //     success: function (response) {  

    //         // textToInsert =  response['value'];
    //         // $('#select2_supplier_fetch').html(textToInsert);

    //         // var option = new Option(response['value'], response['value'], true, true);
    //         // $('#blf_supplier').append(option).trigger('change');



    //         $('#supply_date').val(response['value']);

    //     },
    //     error: function (rs, e) {
    //         console.log(rs);
    //         console.log(e)
    //     }
    // });

});






</script>






<script>
    $(document).ready(function () {
        $('.formset_row').formset({
            addText: 'add more extra',
            deleteText: 'remove',
            prefix: '{{ batch_list_form_set.prefix }}',
            formCssClass: 'dynamic-formset',
        });
    });

</script>


{% endblock %}