{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %}  Leaf Management
{% endblock %}
{% block css %}
<link href="{% static 'select2/select2.min.css' %}" rel="stylesheet" />

<style>
/* upload image */


</style>
{% endblock %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-3 ml-1 mr-1">
                <div class="col-sm-6">
                    <h6 class="font-weight-bold mt-3 text-muted">{% if not form.instance.pk %} Add New Receipt{% else %} Edit 
                        Receipt {% endif %}</h6>
                </div>
                <div class="col-sm-6 text-right modalright">
                    <a type="button" href="{% url 'leaf_receipt:leaf_list' %}" class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back 
                    </a>
                </div>
            </div>
            <!-- Small boxes (Stat box) -->
            <div class="row ml-1 mr-1">
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="white-box">


                            <form method='POST' role="form" id="create-form" > 
                                {% csrf_token %}
                                <h5>Leaf Management</h5>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            {% if form.instance.pk %}
                                            <div class="col-sm-6">
                                                <div class="form-group ">
                                                    <label class="required_field---">TXN ID</label>
                                                    <input type="hidden" name="weighment_txn"  value="{{ weighment_details.id }}">
                                                    {{ form.weighment_txn }}
                                                    {{ form.weighment_txn.errors }}
                                                </div>
                                            </div>
                                            {% else %}
                                            <div class="col-sm-6">
                                                <div class="form-group ">
                                                    <label class="required_field">TXN ID</label>
                                                    {{ form.weighment_txn }}
                                                    {{ form.weighment_txn.errors }}
                                                </div>
                                            </div>  


                                            {% endif %}
                            


                                            <div class="col-sm-6">
                                                <div class="form-group ">
                                                    <label class="required_field">Supply Date</label>
                                                    {{ form.supply_date }}
                                                    {{ form.supply_date.errors }}
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                
                                                <div class="form-group">
                                                    <label class="required_field">Deduction % </label>
                                                    {{ form.deduction}}
                                                    {{ form.deduction.errors }}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                
                                                <div class="form-group">
                                                    <label class="required_field">Fine Leaf Count % </label>
                                                    {{ form.final_leaf_count}}
                                                    {{ form.final_leaf_count.errors  }}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                
                                                <div class="form-group">
                                                    <label class="required_field---">Quality Standard </label>
                                                    {{ form.quality_standard}}
                                                    {{ form.quality_standard.errors }}
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                
                                                <div class="form-group">
                                                    <label class="required_field">Do you want to keep payment record? </label>
                                                    {{ form.payment_record_option}}
                                                    {{ form.payment_record_option.errors }}
                                                </div>
                                            </div>

                                            <div class="col-sm-6" id="rate_id">
                                                
                                                <div class="form-group">
                                                    <label class="required_field---">Rate (Rs.) </label>
                                                    {{ form.rate}}
                                                    {{ form.rate.errors }}
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                {% if not form.instance.pk %}
                                                <div class="form-group">
                                                    <label class="required_field">Acknowledge Status </label>
                                                        {{ form.acknowledge_status }}
                                                        {{ form.acknowledge_status.errors }}
                                                </div>
                                                {% else %}
                                                <div class="form-group">
                                                    <label class="required_field">Acknowledge Status </label>
                                                        <select name="acknowledge_status" class=" form-control readonly-field" readonly>
                                                            <option value="{{ leaf_details.acknowledge_status }}" selected="">{{ leaf_details.acknowledge_status }}</option>
                                                         </select>
                                                        {{ form.acknowledge_status.errors }}
                                                </div>
                                                {% endif %}
                                            </div>
                                            
                                        </div>
                                    
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-lg-3 white-box-submit">
                                        <button type="submit"
                                            class="btn btn-block btn-success pt-2 pb-2">{% if not form.instance.pk %} Create{% else %} Update
                                            {% endif %}</button>
                                        </div>
                                        {% if not form.instance.pk %}
                                        <div class="col-lg-3 white-box-reset">
                                            <button type="button" id="resetButton" 
                                            class="btn btn-block btn-default pt-2 pb-2">Reset</button>
                                        </div>
                                        {% endif %}  
                                    <!-- <div class="col-lg-3 white-box-reset"><button type="button"
                                            class="btn btn-block btn-default pt-2 pb-2">Reset</button></div> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}

{% block js %}
<script src="{% static 'select2/select2.full.min.js' %}"></script>

{% if not form.instance.pk %}
    <script>
        document.getElementById("supply_date").disabled = true;
    </script>
{% else %}

<script>

    $(document).ready(function(){
        document.getElementById("weighment_txn").disabled = false;
    });     
</script>

{% endif %}
<script>


    $('#weighment_txn').on('change', function () {
        document.getElementById("supply_date").disabled = false;
        // $('#challan_list').hide();
        var data = $(this).val();
        console.log(data)

        $.ajax({
            url: "{% url 'leaf_receipt:load_supply_date' %}",
            data: {
                'id' : data,
            },    
            dataType: 'json',
            success: function (response) {  

                // textToInsert =  response['value'];
                // $('#select2_supplier_fetch').html(textToInsert);

                // var option = new Option(response['value'], response['value'], true, true);
                // $('#blf_supplier').append(option).trigger('change');
                $('#supply_date').val(response['value']);

            },
            error: function (rs, e) {
                console.log(rs);
                console.log(e)
            }
        });

    });

    $('#rate_id').hide();
    $('#payment_record_option').on('change', function () {

        var data = $(this).val();
        console.log(data)
        if(data=="Yes"){
            $('#rate_id').show();
        }else{
            $('#rate_id').hide();
        }
        

    });


    $(document).ready(function(){
        $("#resetButton").on("click", function(e){
            console.log("reset btn");
            // location.reload();
            $("#create-form").get(0).reset()
            $('#select2-vehicle_number').val(null).trigger('change');
            $('#select2-acknowledge_status').val(null).trigger('change');
            $('#select2-quality_standard').val(null).trigger('change');
            $('#payment_record_option').val(null).trigger('change');
            $('#weighment_txn').val(null).trigger('change');
            
        });
    });


    $(document).ready(function () {

      $(".select2_demo_1").select2({
        placeholder: "--Select --",
        width: '100%',
      });
    });
  </script>

{% endblock %}