{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block page_header_title %} Leaf Management - Details View {% endblock %}
{% block css %}

<style>
/* upload image */
body {
        background-color: #eee;
      }
      input[type="text"],
      textarea {
        border: none;
        outline: none;
        background-color: white;
        border-bottom: 0px solid #ccc; /* You can adjust the color and thickness of the outline */
      }

  .white-box label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 500;
    color: #28a745;
    font-size: 17px;
}

</style>
{% endblock %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-3 ml-1 mr-1">
                <div class="col-sm-6">
                    <!-- <h6 class="font-weight-bold mt-3 text-muted">Add New <span class="text-capitalize">{{ profile_details.profile_type }}</span></h6> -->
                </div>
                <div class="col-sm-6 text-right modalright">
                    <a type="button" href="{% url 'leaf_receipt:leaf_list' %}" class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back 
                    </a>
                </div>
            </div>
            <!-- Small boxes (Stat box) -->
            <div class="row ml-1 mr-1">
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="white-box">


                            <form   role="form" >
                                
                                <h5>Mode of Supply  - <b>{{ leaf_list.weighment_txn.mode_of_supply }}</b></h5>
                               
                                <div class="row">
                                    <div class="col-sm-12">
                                        
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---"   >TXN ID:</label>
                                                    <input type="text" disabled value=" {{ leaf_list.weighment_txn }}" class="no-outline"  >
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---"   >Vehicle No. :</label>
                                                    <input type="text" disabled value=" {{ leaf_list.weighment_txn.vehicle_no }}" class="no-outline"  >
                                                </div>
                                            </div>
                                                
                                            
                                            <div class="col-sm-12">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---"   >Deduction(%) :</label>
                                                    {% if  leaf_list.deduction  %}
                                                    <input type="text" disabled value=" {{ leaf_list.deduction }}" class="no-outline"  >
                                                    {% else %}
                                                    NA
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---" >Fine Leaf Count (%) :</label>
                                                    {% if  leaf_list.final_leaf_count  %}
                                                    <input type="text" disabled value=" {{ leaf_list.final_leaf_count}} " class="no-outline"  >
                                                    {% else %}
                                                    NA
                                                    {% endif %}
                                                </div>
                                            </div>
                                         
                                            <div class="col-sm-12">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---"   >Acknowledge Status :</label>
                                                    {% if  leaf_list.acknowledge_status  %}
                                                    <input type="text" disabled value=" {{ leaf_list.acknowledge_status}}" class=" no-outline" >
                                                    {% else %}
                                                    NA
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---"   >Quality Standard :</label>
                                                    {% if  leaf_list.quality_standard  %}
                                                    <input type="text" disabled value=" {{ leaf_list.quality_standard}}" class=" no-outline" >
                                                    {% else %}
                                                    NA
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---"   >Do you want to keep payment record? :</label>
                                                    {% if  leaf_list.payment_record_option  %}
                                                    <input type="text" disabled value=" {{ leaf_list.payment_record_option}}" class=" no-outline" >
                                                    {% else %}
                                                    NA
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---"   >Rate (Rs.) :</label>
                                                    {% if  leaf_list.rate  %}
                                                    <input type="text" disabled value=" {{ leaf_list.rate}}" class=" no-outline" >
                                                    {% else %}
                                                    NA
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% if  leaf_list.net_leaf_weight      %}
                                            <div class="col-sm-12">
                                                <!-- text input -->
                                                <div class="form-group">
                                                    <label class="required_field---"   >Net Leaf Weight (Kg) :</label>
                                                    <input type="text" disabled value=" {{ leaf_list.net_leaf_weight}}" class=" no-outline" >
                                                </div>
                                            </div>
                                            {% endif %}
                                         
                    
                                        </div>
                                    
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-lg-3 white-box-submit">
                                        <!-- <button type="submit"
                                            class="btn btn-block btn-success pt-2 pb-2">Add Chemical</button> -->
                                        </div>

                                    <!-- <div class="col-lg-3 white-box-reset"><button type="button"
                                            class="btn btn-block btn-default pt-2 pb-2">Reset</button></div> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}


{% block js %}
<script>
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2();
    });
</script>

{% endblock %}