
{% block content %}

<div class="content-wrapper">
	<section class="content">
		<div class="container-fluid">
			<div class="row mb-3 ml-1 mr-1">
				<div class="col-sm-6">
					<h6 class="font-weight-bold mt-3 text-muted"></h6>
				</div>
				<div class="col-sm-6 text-right modalright">
					
				</div>
			</div>
			<div class="row ml-1 mr-1">
				<div class="col-lg-12 col-12">
					<div class="row">

						<div class="white-box">

							<div id="printableArea">
                                <h1 style="text-align:center; margin:10px 0px;">Supply Report</h1> 
                                <br>
								<h1 style="text-align:left; margin:10px 0px;">Name of Aggregator : &nbsp; {{ aggregator_details |capfirst | default:"NA" }} ({{ aggregator_user_name | default:"NA" }}) </h1>
								<h1 style="text-align:left; margin:10px 0px;">Address : &nbsp; {{ aggregator_address | default:"NA" }} </h1>
								{% if date_to and date_from %}
                                    <h1 style="text-align:left; margin:10px 0px;">Period : &nbsp; From {{date_from}}&nbsp; &nbsp; To {{date_to}}</h1>
									
                                {% else %} 
                                        
                                {% endif %}  
								<!-- <p style="page-break-before: always">   -->
								

								<table style="width:100%; border-collapse: collapse;" border="1">
									<tr>
                                        <th style="text-align:left; padding:5px;font-size: 12px;">Supply Date</th>
                                        {% if consumer_type == 'factory'%}
                                            <th style="text-align:left;  padding:5px;font-size: 12px;">BLF Name</th>
                                        {% elif consumer_type == 'aggregator'%} 
                                            <th style="text-align:left;  padding:5px;font-size: 12px;">Aggregator Name</th>
                                        {% endif %}    
                                        <th style="text-align:left;  padding:5px;font-size: 12px;">Gross Leaf</th>
										<th style="text-align:left;  padding:5px;font-size: 12px;">Supply Quantity</th>
                                        <th style="text-align:left; padding:5px;font-size: 12px;">Vehicle No.</th>
                                        <th style="text-align:left; padding:5px;font-size: 12px;">Challan No.</th>
                                        
										
                            
                                        
									</tr>
									
									  	
                                    {% if supply_details %}
                                        {% for data in supply_details %}	
                                        <tr>
                                            <td style="padding: 5px;font-size: 11px;">{{ data.date_of_supply | default:"NA" }}
                                            <td style="padding: 5px;font-size: 11px;">{{ data.consumer_name| default:"NA" }}({{ data.consumer_user_name| default:"NA" }})</td>
                                            <td style="padding: 5px;font-size: 11px;">{{ data.gross_leaf | default:0}}</td>    
                                            <!-- <td style="padding: 5px;font-size: 11px;"> {{ data.total_collected_quantity | default:0}}</td> -->
                                            <td style="padding: 5px;font-size: 11px;">{{ data.total_supply_quantity | default:0 }}</td>
                                            <td style="padding: 5px;font-size: 11px;"> {{ data.vehicle_number | default:"NA"}}</td>
                                            <td style="padding: 5px;font-size: 11px;">{{ data.challan_id | default:"NA"}}</td>
                                            
                                        </tr>	
                                        {% endfor %}
                                    {% else %}
                                        <tr><td style="padding: 5px;" colspan=6>No Record Found</td></tr>
                                    {% endif %}   
                                  
                                    <tr>
										<td colspan="6" style="padding:5px;">
											<p style="text-align:right; margin:0px;font-size: 13px;">
												<b>Total Supply Qty : {{  total_supply_quantity_sum |default:0  }} Kg
													
												
										</td>
										
									</tr>	  
									
								</table>
									
									

							</div>





						</div>



					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}

{% block js %}
















{% endblock %}