{% block content %}
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-3 ml-1 mr-1">
                <div class="col-sm-6">
                    <h6 class="font-weight-bold mt-3 text-muted"></h6>
                </div>
                <div class="col-sm-6 text-right modalright">
                </div>
            </div>
            <div class="row ml-1 mr-1">
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="white-box">
                            <div id="printableArea">
                                <h1 style="text-align:center; margin:10px 0px;">Supply Report</h1> 
                                <br>
                                <h2 style="text-align:left; margin:10px 0px; font-size: 15px;">Name of Grower: {{ grower_details.name|capfirst|default:"NA" }} ({{ grower_details.user|default:"NA" }})</h2>
                                <h2 style="text-align:left; margin:10px 0px;font-size: 15px;">Address: {{ grower_details.address|default:"NA" }}</h2>
                                {% if date_to and date_from %}
                                    <h2 style="text-align:left; margin:10px 0px; font-size: 15px;">Period: From {{ date_from }} To {{ date_to }}</h2>
                                {% endif %}  
                                
                                <table style="width:100%; border-collapse: collapse;" border="1">
                                    <thead>
                                        <tr>
                                            <th style="text-align:left; padding:5px; font-size:12px;">Challan No.</th>
                                            <th style="text-align:left; padding:5px; font-size:12px;">Supply To</th>
                                            <th style="text-align:left; padding:5px; font-size:12px;">Supplier Name</th> 
                                            <th style="text-align:left; padding:5px; font-size:12px;">Supply Date</th> 
                                            <th style="text-align:left; padding:5px; font-size:12px;">Vehicle No.</th>
                                            <th style="text-align:left; padding:5px; font-size:12px;">Supply Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if supply_details %}
                                            {% for data in supply_details %}    
                                            <tr>
                                                <td style="padding:5px; font-size:11px;">{{ data.supply_challan_id|default:"NA" }}</td>
                                                <td style="padding:5px; font-size:11px;">{{ data.supply_to|default:"NA" }}</td>
                                                <td style="padding:5px; font-size:11px;">{{ data.consumer__profile__full_name|default:"NA" }}</td>
                                                <td style="padding:5px; font-size:11px;">{{ data.date_of_supply|date:"d-m-Y"|default:"NA" }}</td>
                                                <td style="padding:5px; font-size:11px;">{{ data.alloted_vehicle__vehicle_number|default:"NA" }}</td>
                                                <td style="padding:5px; font-size:11px;">{{ data.gross_leaf|default:0 }}</td>
                                            </tr>    
                                            {% endfor %}
                                        {% else %}
                                            <tr><td style="padding:5px;" colspan="6">No Data Found</td></tr>
                                        {% endif %}   
                                        <tr>
                                            <td colspan="6" style="padding:5px;">
                                                <p style="text-align:right; margin:0px; font-size:13px;">
                                                    <b>Total Supply Qty: {{ total_gross_leaf|default:0 }} Kg</b>
                                                </p>
                                            </td>
                                        </tr>       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block js %}
{% endblock %}
