
<div class="delivery_chalan text-center mt-3">
    <div class="text-center">
        <h5 class="pb-2">Delivery Challans</h5>
    </div>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td><strong>Date</strong></td>
                <td><strong>Challan No.</strong></td>
                <td><strong>Challan PDF</strong></td>
                <td>Procced</td>
            </tr>

            {% for item in challan_list %}
            <tr>
                <td>{{ item.date_of_supply }}</td>
                <td> {{ item.supply_challan_id }}</td>
                <td><a href="javascript:void();"
                        >Download</a></td>
                <td><a href="{% url 'weighment_supply:weighment_add' supplier_type=supplier_type supplier_id=supplier_id challan_id=item.supply_challan_id %}" class="btn btn-info btn-sm">Procced</a></td>
            </tr>

            {% endfor %}
            
        </tbody>
    </table>
</div>