{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %} Weighment & Supply  {% endblock %}
{% block css %}

<style>
    .readonly-field{
        background-color: #eded;
    }

      input[type="date"]::-webkit-calendar-picker-indicator {
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    } 
    
</style>

{% endblock %}
{% block content %}

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-3 ml-1 mr-1">
                <div class="col-sm-6">
                    <h6 class="font-weight-bold mt-3 text-muted">{% if not form.instance.pk %} Add New Weighment & Supply  {% else %} Edit Weighment & Supply  {% endif %}</h6>
                </div>
                <div class="col-sm-6 text-right modalright">
                    <a type="button" href="{% url 'weighment_supply:weighment_list' %}" class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back 
                    </a>
                </div>
            </div>
            <div class="row ml-1 mr-1">
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="white-box">

                            <form method='POST' role="form" id="create-form" >
                                {% csrf_token %}
                                <h5>Weighment & Supply   {% if not form.instance.pk %}  {% else %}  {% endif %}  </h5>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field---">Supplier Type</label>
                                                    {{ form.supplier_type }}
                                                    {{ form.supplier_type.errors }}
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field---">Supplier</label>
                                                    {{ form.supplier }}
                                                    {{ form.supplier.errors }}
                                                </div>
                                            </div>
                                           
                                        
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field---">Date of Supply</label>

                                                    {{ form.supply_date }}
                                                    {{ form.supply_date.errors }}
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field---">Challan No.</label>
                                                    
                                                    {{ form.supply_challan }}
                                                    {{ form.supply_challan.errors }}
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field---">Mode of Supply</label>
                                                    {{ form.mode_of_supply }}
                                                    {{ form.mode_of_supply.errors }}
                                                    
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field---">Total Gross Weight (Kg)</label>
                                                    {{ form.total_gross_weight_kg }}
                                                    {{ form.total_gross_weight_kg.errors }}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field---">Vehicle No.</label>
                                                   
                                                    {{ form.vehicle_no }}
                                                    {{ form.vehicle_no.errors }}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field---">Mobile Number</label>
                                                    {{ form.mobile_number }}
                                                    {{ form.mobile_number.errors }}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-lg-3 white-box-submit">
                                        <button type="submit"
                                            class="btn btn-block btn-success pt-2 pb-2">Create</button>
                                    </div>

                                    {% if not form.instance.pk %}
                                        <div class="col-lg-3 white-box-reset">
                                            <button type="button" id="resetButton" 
                                            class="btn btn-block btn-default pt-2 pb-2">Reset</button>
                                        </div>
                                    {% endif %} 
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block js %}



<script>  
    $(function() {  
       $( ".datepick-1" ).datepicker({  
            
          dateFormat:"yy-mm-dd", 
          placeholder :"(yy-mm-dd)",  
       });  
    });  
    $(".datepick-1").attr('placeholder', 'yy-mm-dd' );
 </script>  

{% endblock %}