<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <br/>
<style type="text/css">

</style>
</head>
<body>

	<table style="border:0px; max-width:900px; width:900px; margin:0 auto;">
		<tr>
			<td>

				
	<h3 style="text-align:center; margin:10px 0px;">Collection Point A</h3>
	<p style="text-align:center; margin:10px auto 10px auto; max-width:273px; line-height:125%;">Jalpaiguri, WB, Jalpaiguri, West Bengal Ph. No. 8638252455</p>
	<h1 style="text-align:center; margin:10px 0px;">Delivery Challan</h1>

	<table style="border:0px; width:100%;  border-collapse: collapse;">
		<tr>
			<td>
				<p style="margin:5px 0px;">To</p>
				<p style="margin:5px 0px;">TEST_TEA_FACTORY</p>
				<p style="margin:5px 0px;">Darjeeling, WB, Darjiling, West Bengal</p>
				<p style="margin:5px 0px;">GSTIN No.:</p>
			</td>
			<td>
				<p style="margin:5px 0px; text-align:right;">Date: 29/09/2021</p>
				<p style="margin:5px 0px; text-align:right;">No.: Tran0000000000000186</p>
				
			</td>
	    </tr>
	</table>

	<table style="width:100%; border-collapse: collapse;" border="1">
		<tr>
			<th style="text-align:left; padding:5px;">
				Item
			</th>
			<th style="text-align:left;  padding:5px;">
				Qty. 
			</th>
			<th style="text-align:left;  padding:5px;">
				Unit 
			</th>
			<th style="text-align:left;  padding:5px;">
				Total
			</th>
		</tr>

		<tr>
			<td style="padding:5px;">
				Item
			</td>

			<td  style="padding:5px;">
				60
			</td>

			<td  style="padding:5px;">
				Kg
			</td>

			<td  style="padding:5px;">
				60
			</td>
		
			
		</tr>

		<tr>
			<td colspan="4"  style="padding:5px;">
			 <p style="text-align:right; margin:0px;">Total Qty:60</p>
			</td>

		</tr>
	</table>


			</td>
		</tr>
		<table>

	

</body>
</html>
