{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %} Weighment & Supply {% endblock %}
{% block css %}

<style>
	.supplier-details p{
		margin-bottom: 0px;
	}

</style>

{% endblock %}
{% block content %}

<div class="content-wrapper">
	<section class="content">
		<div class="container-fluid">
			<div class="row mb-3 ml-1 mr-1">
				<div class="col-sm-6">
					<h6 class="font-weight-bold mt-3 text-muted">Challan Invoice</h6>
				</div>
				<div class="col-sm-6 text-right modalright">
					
				</div>
			</div>
			<div class="row ml-1 mr-1">
				<div class="col-lg-12 col-12">
					<div class="row">


						{% if profile_type == "aggregator" %}
						<!-- AGGREGATO CHALLAN -->

						<div class="white-box">
							<div id="printableArea">

								<table style="border:0px; max-width:900px; width:900px; margin:0 auto;">
									<tr>
										<td>
											<h2 style="text-align:center; margin:10px 0px;">Delivery Challan</h2>
											<!-- <h3 style="text-align:center; margin:10px 0px;">Collection Point A</h3> -->
											<div class="supplier-details text-center">
												<p>Aggregator Name - {{ agg_supplier_details.name }} ({{ agg_supplier_details.user }})</p>	
												<p>	Address - {% if agg_supplier_details.address %}{{ agg_supplier_details.address }} {% else %} NA {% endif %}</p>
												<p>Ph. No. - {% if agg_supplier_details.mobile_number %}{{ agg_supplier_details.mobile_number }} {% else %} NA {% endif %}</p>
											</div>
											
		
											<table style="border:0px; width:100%;  border-collapse: collapse;">
												<tr>
													<td>
														<p style="margin:5px 0px;">To</p>
														<p style="margin:5px 0px;">
															

															<div class="supplier-details text-left">
																<p>{{ blf_details.entity_unit }} - ({{ blf_details.user }})</p>
																<p>Address :{% if blf_details.address %} {{ blf_details.address }}{% else %} NA {% endif %} </p>
															</div>

														</p>
													
														<br>
													</td>
													<td>
														<p style="margin:5px 0px; text-align:right;">Date: {{ challan_details.date_of_supply|date:'d-m-Y' }}
														</p>
														<p style="margin:5px 0px; text-align:right;">Challan No. : {{ challan_details.supply_challan_id }}
														</p>
														{% if alloted_vehicle.vehicle_number %}
															<p style="margin:5px 0px; text-align:right;">Vehicle No : {{ alloted_vehicle.vehicle_number }}</p>
														{% endif %}
													</td>
												</tr>
											</table>

											<table style="width:100%; border-collapse: collapse;" border="1">
												<tr>
													
													<th style="text-align:left;  padding:5px;">
														Grower Name
													</th>
													<th style="text-align:left;  padding:5px;">
														Collected Qty(Kg)
													</th>
													<th style="text-align:left;  padding:5px;">
														Supply Qty(Kg)
													</th>
												</tr>


												{% for item in grower_details_supply_list %}

												<tr>
													
													<td style="padding:5px;">
														{{ item.grower.name }}
													</td>

													<td style="padding:5px;">
														{{ item.collected_quantity }}
													</td>

													<td style="padding:5px;">
														{{ item.supply_quantity }}
													</td>
												</tr>

												{% endfor %}
												<tr>
													<td colspan="4" style="padding:5px; font-weight: 600;">
														<!-- <p style="text-align:right; margin:0px;">Total Collected Qty: {{ total_collected_qty }} Kg</p> -->
														<p style="text-align:right; margin:0px;">Total Collected Qty (Kg) : {{ weighment_details.total_gross_weight_kg }} Kg</p>
														
														<p style="text-align:right; margin:0px;">Total Supply Qty (Kg): {{ total_supply_quantity }} Kg</p>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<table>
										
									</table>
							</div>

							<div class="row ">
								<div class="col-lg-3 white-box-submit mt-3 mb-3">
									<button type="button"
										class="btn  btn-danger pt-2 pb-2 text-white" onclick="printDiv('printableArea')"> <i class="fa fa-print"></i> Print PDF</button>
								</div>
							</div>


						</div>

						{% else %}

						<!-- GROWER CHALLAN -->
						<div class="white-box">
							<div id="printableArea">
								<table style="border:0px; max-width:900px; width:900px; margin:0 auto;">
									<tr>
										<td>
											<h2 style="text-align:center; margin:10px 0px;">  Delivery Challan</h2>
											<!-- <h3 style="text-align:center; margin:10px 0px;">Collection Point A</h3> -->
											<div class="supplier-details text-center">
												<p>Grower Name - {{ grower_supplier_details.name }} ({{ grower_supplier_details.user }})</p>	
												<p>	Address - {% if grower_supplier_details.address %}{{ grower_supplier_details.address }} {% else %} NA {% endif %}</p>
												
											</div>
											
											<table style="border:0px; width:100%;  border-collapse: collapse;">
												<tr>
													<td>
														<p style="margin:5px 0px;">To</p>
														<p style="margin:5px 0px;">
															<div class="supplier-details text-left">
																<p>{{ blf_details.entity_unit }} - ({{ blf_details.user }})</p>
																<p>Address :{% if blf_details.address %} {{ blf_details.address }}{% else %} NA {% endif %} </p>
															</div>
														</p>
														<br>
													</td>
													<td>
														<p style="margin:5px 0px; text-align:right;">Date: {{ challan_details.date_of_supply|date:'d-m-Y' }}
														</p>
														<p style="margin:5px 0px; text-align:right;">Challan No. : {{ challan_details.supply_challan_id }}
														</p>
														{% if alloted_vehicle.vehicle_number %}
															<p style="margin:5px 0px; text-align:right;">Vehicle No : {{ alloted_vehicle.vehicle_number }}</p>
														{% endif %}
													</td>
												</tr>
											</table>

											<table style="width:100%; border-collapse: collapse;" border="1">
												<tr>
													
													<th style="text-align:left;  padding:5px;">
														Grower Name
													</th>
													<th style="text-align:left;  padding:5px;">
														Supply Quantity(Kg)
													</th>
													<th style="text-align:left;  padding:5px;">
														Driver Name
													</th>
												</tr>

												

												<tr>
													
													<td style="padding:5px;">
														{{ grower_supplier_details.name }}
													</td>

													<td style="padding:5px;">
														{{ challan_details.gross_leaf |default:0 }}
													</td>

													<td style="padding:5px;">
														{% if challan_details.driver_name %}
															{{ challan_details.driver_name }}
														{% else %}
															NA
														{% endif %}
													</td>
												</tr>

											
												<tr>
													<td colspan="4" style="padding:5px; font-weight: 600;">
														
														<p style="text-align:right; margin:0px;">Total Supply Qty: {{  challan_details.quantity |default:0  }} Kg</p>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<table>
										
									</table>
							</div>

							<div class="row ">
								<div class="col-lg-3 white-box-submit mt-3 mb-3">
									<button type="button"
										class="btn  btn-danger pt-2 pb-2 text-white" onclick="printDiv('printableArea')"> <i class="fa fa-print"></i> Print PDF</button>
								</div>
							</div>

						</div>

						{% endif %}




					</div>
				</div>
			</div>
		</div>
	</section>
</div>

{% endblock %}

{% block js %}


<script type="text/javascript">

	function printDiv(divName) {
		var printContents = document.getElementById(divName).innerHTML;
		var originalContents = document.body.innerHTML;

		document.body.innerHTML = printContents;

		window.print();

		document.body.innerHTML = originalContents;
	}

</script>














{% endblock %}