{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %} Weighment & Supply  {% endblock %}
{% block css %}


<style>
    .readonly-field{
        background-color: #eded;
    }
</style>
{% endblock %}
{% block content %}

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-3 ml-1 mr-1">
                <div class="col-sm-6">
                    <h6 class="font-weight-bold mt-3 text-muted">{% if not form.instance.pk %} Add New Weighment & Supply  {% else %} Edit Weighment & Supply  {% endif %}</h6>
                </div>
                <div class="col-sm-6 text-right modalright">
                    

                    {% if form.instance.pk %}

                    <a type="button" href="{% url 'weighment_supply:weighment_list' %}" class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back 
                    </a>

                    {% else %}

                    <a type="button" href="{% url 'weighment_supply:weighment_create_profile' %}" class="btn bg-success2 text-white pl-3 pr-3">
                        <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back 
                    </a>

                    {% endif %}
                </div>
            </div>
            <div class="row ml-1 mr-1">
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="white-box">

                            <form method='POST' role="form" id="create-form" >
                                {% csrf_token %}
                                <h5>Weighment & Supply   {% if not form.instance.pk %}  {% else %}  {% endif %}  </h5>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field---">Supplier Type</label>
                                                    <input type="text" name="supplier_type" value="{{ supplier_type }}" class="form-control readonly-field" readonly>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field---">Supplier</label>
                                                    <input type="hidden" name="supplier" value="{{ supplier_id }}" class="" readonly>
                                                    <input type=""  value="{{ profile_details.name }}" class="form-control readonly-field" readonly>
                                                </div>
                                            </div>
                                           
                                            {% if form.instance.pk %}
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field---">Date of Supply</label>
                                                    <!-- <input type="date" class="form-control"  > -->
                                                    {{ form.supply_date }}
                                                    {{ form.supply_date.errors }}
                                                </div>
                                            </div>
                                            {% else %}
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field---">Date of Supply</label>

                                                    {{ form.supply_date }}
                                                    {{ form.supply_date.errors }}
                                                </div>
                                            </div>
                                            {% endif %}
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field---">Challan No.</label>
                                                    
                                                    <select name="supply_challan" class="form-control readonly-field" id="supply_challan_id" disabled>
                                                            <option value="1" selected>{{ challan_id }}</option>
                                                        </select>
                                                </div>
                                            </div>

                                            {% if not form.instance.pk %}
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field">Mode of Supply</label>
                                                    <select name="mode_of_supply" class="form-control " id="mode_of_supply" required="">
                                                        <option value="" selected="">---------</option>
                                                      
                                                        {% if allow_vehicle == "Yes" %}
                                                      
                                                        <option value="By Non motorised 2/3 wheelers vehicle" {% if form.instance.mode_of_supply == "By Non motorised 2/3 wheelers vehicle"  %}hidden {% endif %}>By Non motorised 2/3 wheelers vehicle</option>
                                                      
                                                        <option value="Motorised 2 wheelers vehicle" {% if form.instance.mode_of_supply == "Motorised 2 wheelers vehicle"  %}hidden {% endif %}>Motorised 2 wheelers vehicle</option>
                                                      
                                                        <option value="Motorised 3 / 4 wheelers vehicle" {% if form.instance.mode_of_supply == "Motorised 3 / 4 wheelers vehicle"  %}hidden {% endif %}>Motorised 3 / 4 wheelers vehicle</option>
                                                        
                                                        {% else %}
                                                        <option value="By hand">By hand</option>
                                                        
                                                        {% endif %}
                                                      </select>
                                                    {{ form.mode_of_supply.errors }}
                                                </div>
                                            </div>

                                            {% else %}
                                            <!-- FOR EDIT -->
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field---">Mode of Supply</label>
                                                    <select name="mode_of_supply" class="form-control " id="mode_of_supply" required="">
                                                        <option value="{{ form.instance.mode_of_supply }}" selected >{{ form.instance.mode_of_supply }}</option>
                                                        
                                                        {% if allow_vehicle == "Yes" %}
                                                      
                                                        <option value="By Non motorised 2/3 wheelers vehicle" {% if form.instance.mode_of_supply == "By Non motorised 2/3 wheelers vehicle"  %}hidden {% endif %}>By Non motorised 2/3 wheelers vehicle</option>
                                                      
                                                        <option value="Motorised 2 wheelers vehicle" {% if form.instance.mode_of_supply == "Motorised 2 wheelers vehicle"  %}hidden {% endif %}>Motorised 2 wheelers vehicle</option>
                                                      
                                                        <option value="Motorised 3 / 4 wheelers vehicle" {% if form.instance.mode_of_supply == "Motorised 3 / 4 wheelers vehicle"  %}hidden {% endif %}>Motorised 3 / 4 wheelers vehicle</option>
                                                        
                                                        {% else %}
                                                        <option value="By hand">By hand</option>
                                                        
                                                        {% endif %}


                                                      </select>
                                                    {{ form.mode_of_supply.errors }}
                                                </div>
                                            </div>


                                            {% endif %}



                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field---">Total Gross Weight (Kg)</label>
                                                    {{ form.total_gross_weight_kg }}
                                                    {{ form.total_gross_weight_kg.errors }}
                                                </div>
                                            </div>

                                            {% if allow_vehicle == "Yes" %}
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field---">Vehicle No.</label>
                                                    
                                                    
                                                    <select name="vehicle_no" class="form-control readonly-field"  disabled>
                                                        <option value="1" selected>{{ vehicle_details }}</option>
                                                    </select>
                                                    {{ form.vehicle_no.errors }}
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="required_field---">Mobile Number</label>
                                                   
                                                    <input type="text" value="{{ vehicle_mobile_no }}" name="mobile_number" class="form-control">
                                                    {{ form.mobile_number.errors }}
                                                </div>
                                            </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    

                                    {% if not form.instance.pk %}

                                        <div class="col-lg-3 white-box-submit">
                                            <button type="submit"
                                                class="btn btn-block btn-success pt-2 pb-2">Create</button>
                                        </div>


                                        <div class="col-lg-3 white-box-reset">
                                            <button type="button" id="resetButton" 
                                            class="btn btn-block btn-default pt-2 pb-2">Reset</button>
                                        </div>

                                    {% else %}

                                    <div class="col-lg-3 white-box-submit">
                                        <button type="submit"
                                            class="btn btn-block btn-success pt-2 pb-2">Update</button>
                                    </div>
                                    {% endif %} 
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block js %}



<script>

$(document).ready(function(){

    // document.getElementById("supply_date").disabled = false;

    // $('#challan_list').hide();

    var data = {{ supplier_details.id }};
    console.log(data)

    $.ajax({
        url: "{% url 'weighment_supply:weighment_load_supply_date' %}",
        data: {
            'id' : data,
        },    
        dataType: 'json',
        success: function (response) {  

            // textToInsert =  response['value'];
            // $('#select2_supplier_fetch').html(textToInsert);

            // var option = new Option(response['value'], response['value'], true, true);
            // $('#blf_supplier').append(option).trigger('change');
            $('#supply_date').val(response['value']);

        },
        error: function (rs, e) {
            console.log(rs);
            console.log(e)
        }
    });

});


$(document).ready(function(){

    var data = {{ supplier_details.id }};
    console.log("GROSS LEAF ",data)

    $.ajax({
        url: "{% url 'weighment_supply:weighment_load_supply_gross_leaf' %}",
        data: {
            'id' : data,
        },    
        dataType: 'json',
        success: function (response) {  
            $('#total_gross_weight_kg_id').val(response['value']);
        },
        error: function (rs, e) {
            console.log(rs);
            console.log(e)
        }
    });

});





</script>







<script>
    // Reset Form
    $(document).ready(function(){
        $("#resetButton").on("click", function(e){
                console.log("reset btn");
                // location.reload();
                $("#create-form").get(0).reset()
                // $('#grade_id').val(null).trigger('change');
                // // $('#select2-land_type').val(null).trigger('change');
                
        });
    });
    
</script>


<script>  
    $(function() {  
       $( "#date_of_supply" ).datepicker({  
          appendText:"(dd-mm-yy)",  
          dateFormat:"dd-mm-yy",  
          altField: "#datepick-2",  
          altFormat: "DD, d MM, yy"  
       });  
    });  
 </script> 

{% endblock %}