{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block page_header_title %} Leaf Receipt(Easy Weight) {% endblock %}
{% block css %}  
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<!-- <style>
        .p-user-image{
            height: 40px;
            border-radius: 30px;
        }
</style> -->
{% endblock %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <!-- Small boxes (Stat box) -->
            <div class="row">

                <div class="col-lg-12">
                    <div class="white-box">
                        <form role="form" action = "{% url 'easy_weight_master:bulk_import_easy_weight' %}" method = "POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group ">
                                                <label class="required_field">Collection Center</label>
                                                {{ form.collection_center }}
                                                {{ form.collection_center.errors }}
                                            </div>
                                        </div>
                                        
                                        <div class="col-sm-6">
                                            <!-- text input -->
                                            <div class="form-group">
                                                <label class="required_field">Month Year</label>
                                                {{ form.month_year }}
                                                {{ form.month_year.errors }}
                                            </div>
                                        </div>
                                       
                                        
                                    </div>
                                
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="file" required  name="file"  class="form-control"  placeholder="upload grower excel" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />

                                      
                                </div>      
                                <!-- <div class="col-lg-3">
                                    <input type="text" name="chemical_type " value="{{ chemical_type }}" class="form-control"  placeholder="Any">
                                </div> -->
                                <!-- <div class="col-lg-3">

                                    <input type="text" name="chemical_name "  class="form-control"  placeholder="Chemical Name">
                                </div> -->

                                <!-- <div class="col-lg-4">
                                    <button type="submit" 
                                        class="btn btn-success rounded-pill btn-block pt-2 pb-2"><i
                                        class="fas fa-upload mr-2 text-white" ></i>Upload</button>
                                </div> -->


                          
    
    
    
    
                            </div>
                            <div class="row mt-4">
                                <div class="col-lg-3 col-md-6 mt-4---">
                                    <button type="submit" 
                                        class="btn btn-success rounded-pill btn-block pt-2 pb-2"><i
                                        class="fas fa-upload mr-2 text-white" ></i>Upload</button>
                                </div>    
                                <div class="col-lg-3 col-md-6 mt-4---">
                                    <a href="{% url 'easy_weight_master:download_easy_weight'  %}" class="btn btn-success rounded-pill btn-block pl-4 pr-4 text-white"> <i
                                            class="fas fa-download mr-2 text-white" ></i> Download Template</a>
                                </div>
                                <!-- <div class="col-lg-3 col-md-6 mt-4---">
                                    <a href="{% url 'master_list'  %}" target="_blank" class="btn btn-success rounded-pill btn-block pl-4 pr-4 text-white"> <i
                                            class="fas fa-eye mr-2 text-white" value="grower"></i> View Master Data</a>
                                </div> -->
                                <!-- <div class="col-lg-3 col-md-6 mt-4---">
                                    <a href="{% url 'export_grower'  %}" class="btn btn-success rounded-pill btn-block pl-4 pr-4 text-white"> <i
                                            class="fas fa-download mr-2 text-white" ></i> Download Master</a>
                                </div> -->
                                <!-- <div class="col-lg-3 white-box-reset"><button type="button"
                                        class="btn btn-block btn-default pt-2 pb-2">Reset</button></div> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->




{% endblock %}


{% block js %}
<script src="{% static 'select2/select2.full.min.js' %}"></script>

<script>
        $(document).ready(function(){
        $("#resetButton").on("click", function(e){
            console.log("reset btn");
            // location.reload();
            $("#create-form").get(0).reset()
            $('#select2-collection_center').val(null).trigger('change');
            // $('#select2-land_type').val(null).trigger('change');
            
        });
    });
    $(document).ready(function () {

      $(".select2_demo_1").select2({
        placeholder: "Select Collection Center",
        width: '100%',
      });
    });
  </script>


{% endblock %}